<template>
    <div class="wrapper page-margin corner">
        <div v-if="$fetchState.pending">
            <h1>Ladataan</h1>
        </div>
        <!--<div v-else-if="this.$store.state.posts.posts[0]">-->
        <div v-else-if="index != undefined">
            <h1 class="content-padding title-bold">{{ post.fi_title }}</h1>

            <cover class="cover" />

            <div></div>
            <div class="content-padding">
                <hr class="spacer" />
                <h5>
                    Julkaistu:
                    {{ new Date(post.published_at).toLocaleString() }}
                </h5>
                <div v-html="$md.render(post.fi_content)"></div>
            </div>

            <!--Next and previous article buttons-->
            <div style="height: 1em"></div>
            <div class="navigation content-padding">
                <div class="left-wrap">
                    <div v-if="index != 0">
                        <nuxt-link
                            :to="this.$store.state.posts.posts[index - 1].url"
                            class="left-btn"
                        >
                            <arrowLeft class="arrow" />
                            <div class="nav-label-div">
                                <h4>Uudempi uutinen</h4>
                                <h3 class="title-bold">
                                    {{
                                        this.$store.state.posts.posts[index - 1]
                                            .fi_title
                                    }}
                                </h3>
                            </div>
                        </nuxt-link>
                        <div style="height: 1em"></div>
                    </div>
                    <div v-else class="left-btn">
                        <p></p>
                        <nuxt-link to="/uutiset/">
                            <div class="nav-label-div">
                                <h4>Tämä on tuorein uutinen</h4>
                                <h3 class="title-bold">Palaa uutislistaan</h3>
                            </div>
                        </nuxt-link>
                    </div>
                </div>

                <div class="right-wrap">
                    <div v-if="nextPostIdExists == true">
                        <nuxt-link
                            :to="this.$store.state.posts.posts[index + 1].url"
                            class="right-btn"
                        >
                            <div class="nav-label-div">
                                <h4 class="nav-label right">
                                    Vanhempi uutinen
                                </h4>
                                <h3 class="title-bold right overflow-ellipsis">
                                    {{
                                        this.$store.state.posts.posts[index + 1]
                                            .fi_title
                                    }}
                                </h3>
                            </div>
                            <arrowRight class="arrow" />
                        </nuxt-link>
                    </div>
                    <div v-else>
                        <nuxt-link to="/uutiset/">
                            <div class="nav-label-div">
                                <h4 class="nav-label right">
                                    Tämä on vanhin uutinen
                                </h4>
                                <h3 class="title-bold right">
                                    Palaa uutislistaan
                                </h3>
                            </div>
                        </nuxt-link>
                    </div>
                </div>
            </div>
        </div>
        <div v-else>
            <p>Virheilmotukset ei vissiin toimi</p>
        </div>
    </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
import { mapState } from "vuex";
import arrowLeft from "./../../components/svg/arrow-left.vue";
import arrowRight from "./../../components/svg/arrow-right.vue";
import cover from "./../../components/post/cover.vue";

export default {
    name: 'Uutinen',
    validate({ params, store }) {
        // Should return false if validation error and returning false will redirect to error page
        return true;
    },
    components: {
        arrowLeft,
        arrowRight,
        cover,
    },
    // Not very optimized but somewhat works
    async fetch() {
        try {
            // Fills the vuex store
            if (
                this.$store.state.posts.posts.length === undefined ||
                this.$store.state.posts.posts.length == 0
            ) {
                //await this.$store.dispatch('posts/loadPosts')
                console.log("loading posts");
                const response = await axios.get(
                    this.$store.state.settings.host +
                        "/posts?_sort=published_at:desc"
                );
                this.$store.state.posts.posts = response.data;
            }
        } catch (err) {
            return this.$nuxt.error({ statusCode: 503, message: err.message });
        }
    },
    mounted() {
        /*let regEx = /\[([^\[\]]*)\]\((.*?)\)/
    // add links to markdown
    if (this.post.fi_content) {
      console.log(this.post.fi_content.replace(regEx, '[Rekrypäivät.png](https://api.serveriry.fi/uploads/Rekrypaeivaet_2266878319.png)'))
    }*/
    },
    data: function () {
        return {
        // Details for Google search logo location
        /*structuredData: {
            '@context': 'http://schema.org',
            '@type': 'Article',
            datePublished: this.post,
            logo: 'https://serveriry.fi/logo.svg'
        }*/
        }
    },
    head() {
        /*return {
      /*title: this.post.title,
      meta: [
        { hid: 'description', name: 'description', content: this.post.description },
        { ogDescription: this.post.description }
      ]
    }*/
        return {
            title: this.post.fi_title,
            meta: [
                {
                    hid: "description",
                    name: "description",
                    content: this.post.fi_description,
                },
                {
                    hid: "twitter:title",
                    name: "twitter:title",
                    content: this.post.fi_title,
                },
                {
                    hid: "twitter:description",
                    name: "twitter:description",
                    content: this.post.fi_description,
                },
                {
                    hid: "twitter:image",
                    name: "twitter:image",
                    content: this.ogImage,
                },
                {
                    hid: "og:title",
                    property: "og:title",
                    content: this.post.fi_title,
                },
                {
                    hid: "og:description",
                    property: "og:description",
                    content: this.post.fi_description,
                },
                {
                    hid: "og:image",
                    property: "og:image",
                    content: this.ogImage,
                },
                {
                    hid: "og:url",
                    property: "og:url",
                    content:
                        this.$store.state.settings.baseurl + this.$route.path,
                },
            ],
            // Adds Structured data to Google rich results
            script: [{ type: 'application/ld+json', json: this.structuredData }]
        };
    },
    created() {
        //this.refresh()
    },
    methods: {
        refresh() {
            this.$store.dispatch("posts/loadPosts");
        },
        printLog() {
            console.log(this.$store.state);
        },
    },
    computed: {
        structuredData() {
            let d = {
                '@context': 'http://schema.org',
                '@type': 'Article',
                datePublished: this.post.published_at,
                headline: this.post.fi_title,
                image: this.ogImage,
            }
            return d
        },
        post() {
            let curpostid = 0;
            //console.log("post requested")
            curpostid = this.$store.getters["posts/getPostIndex"](
                this.$route.params.url
            );
            return this.$store.state.posts.posts[curpostid];
        },
        index() {
            //console.log("index requested")

            let i = this.$store.getters["posts/getPostIndex"](
                this.$route.params.url
            );

            //console.log("currentpostid " + i)
            return i;
        },
        host() {
            return this.$store.state.settings.host;
        },
        ogImage() {
            if (this.$store.state.posts.posts[this.index].cover.formats.large) {
                return (
                    this.host +
                    this.$store.state.posts.posts[this.index].cover.formats
                        .large.url
                );
            } else if (
                this.$store.state.posts.posts[this.index].cover.formats.medium
            ) {
                return (
                    this.host +
                    this.$store.state.posts.posts[this.index].cover.formats
                        .medium.url
                );
            } else if (
                this.$store.state.posts.posts[this.index].cover.formats.small
            ) {
                return (
                    this.host +
                    this.$store.state.posts.posts[this.index].cover.formats
                        .small.url
                );
            } else if (
                this.$store.state.posts.posts[this.index].cover.formats
                    .thumbnail
            ) {
                return (
                    this.host +
                    this.$store.state.posts.posts[this.index].cover.formats
                        .thumbnail.url
                );
            } else {
                return "";
            }
        },
        nextPostIdExists() {
            if (this.$store.state.posts.posts.length == this.index + 1) {
                return false;
            } else {
                return true;
            }
        },
        previousPostId() {
            let previousIndex = this.index - 1;
            console.log("previousindex requested");

            let previousId =
                this.$store.getters["posts/getPostId"](previousIndex);
            return previousId.toString();
        },
        nextPostId() {
            let nextIndex = this.index;
            let count = nextIndex + 1;
            console.log("nextindex requested");

            let nextId = this.$store.getters["posts/getPostId"](count);
            return nextId.toString();
        },
    },
    watch: {
        $route() {
            try {
                this.$store.dispatch("posts/loadPosts");
            } catch {
                console.log("Failed to load posts on route change");
            }
        },
    },
};
</script>

<style scoped lang="scss">
@import "~/assets/scss/colors.scss";
@import "~/assets/scss/prepare.scss";
@import "~/assets/scss/text.scss";
@import "~/assets/scss/styling.scss";

/*h1,
h2,
h3,
h4,
h5,
h6,
p {
  @include nunito-regular;
}*/

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    background-color: $gray-dark;
    margin-bottom: 8rem;

    .title-bold {
        @include nunito-extra;
    }
}

.cover {
    width: 100%;
}

.overflow-button {
    //height: ;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .right-wrap {
        justify-self: right;
    }

    .nav-label-div {
        //width: 86%;

        .right {
            text-align: right;
        }
    }
    .left-btn {
        //display: flex;
        //flex-wrap: wrap;
        display: grid;
        grid-template-columns: 1fr 9fr;
    }
    .right-btn {
        //display: flex;
        //flex-wrap: wrap;
        display: grid;
        grid-template-columns: 9fr 1fr;
    }
    .arrow {
        height: 2rem;
        align-self: center;
    }
}

@media (max-width: 600px) {
    .navigation {
        grid-template-columns: 1fr;
    }
    .right-wrap {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .left-wrap {
        margin-top: 1rem;
    }
}
</style>
