<template>
  <div class="wrapper page-content content-padding">
    <h1>Serveri ry:n järjestyssäännöt</h1>
    <span>
      <h3>1. NIMI JA KOTIPAIKKA</h3>
      Yhdistyksen nimi on Itä-Suomen yliopiston tietojenkäsittelytieteen
      opiskelijat - Serveri ry. Yhdistyksen kotipaikka on Kuopio.

      <h3>2. TARKOITUS JA TOIMINTA</h3>
      Yhdistyksen tarkoituksena on yhdistää Itä-Suomen yliopiston
      tietojenkäsittelytieteen opiskelijoita ja tukea heidän henkisiä sekä
      aineellisia pyrkimyksiään, niin ammattiin liittyvissä kuin vapaa-ajan
      kysymyksissä. Tarkoituksensa toteuttamiseksi yhdistys valvoo jäsentensä
      etuja pitämällä yhteyksiä muihin yhdistyksiin, yrityksiin ja yliopiston
      hallintoelimiin. Yhdistys järjestää erilaisia informaatio-, esitelmä-,
      luento-, ja keskustelutilaisuuksia sekä illanviettoja. Yhdistys pyrkii
      tukemaan jäsentensä alaan liittyviä opintoja ja opintomatkoja. Toimintansa
      tukemiseksi yhdistys voi myös vastaanottaa avustuksia, lahjoituksia ja
      testamentteja, panna toimeen asianomaisella luvalla rahankeräyksiä ja
      arpajaisia, hankkia, myydä ja omistaa toimintaansa varten tarpeellista
      irtainta että kiinteätä omaisuutta tai harjoittaa välittömästi yhdistyksen
      tarkoituksen toteuttamiseen liittyvää tai taloudellisesti vähäarvoisena
      pidettävää ansiotoimintaa.

      <h3>3 KIELI</h3>
      Yhdistyksen kielenä on suomi. Pöytäkirjat laaditaan suomen kielellä.

      <h3>4 PUOLUEETTOMUUS</h3>
      Yhdistys on puoluepoliittisesti sitoutumaton.

      <h3>5 JÄSENET</h3>
      Jäseniä voivat olla:
      <ol>
        <li>
          Varsinaiset jäsenet: Itä-Suomen yliopistossa kirjoilla olevat (läsnä-
          tai poissaolevana) tietojenkäsittelytiedettä opiskelevat henkilöt.
        </li>
        <li>
          Kannatusjäsenet: Kannatusjäseniä voivat olla henkilöt tai
          oikeuskelpoiset yhteisöt, jotka ovat kiinnostuneita yhdistyksen
          toiminnasta ja haluavat tukea sitä.
        </li>
        <li>
          Kunniajäsenet: Kunniajäseneksi voidaan kutsua henkilö, joka on
          erikoisesti tukenut yhdistyksen toimintaa. Ehdotuksen kunniajäseneksi
          kutsumisesta voi tehdä kuka tahansa jäsenistä suullisesti tai
          kirjallisesti hallitukselle, joka esittää ehdotuksen yhdistyksen
          kokoukselle tai suoraan yhdistyksen kokoukselle, jossa riittää
          yksinkertainen enemmistö mahdollisessa äänestyksessä esityksen
          hyväksymiseksi. Kaikki valmistuneet jäsenet voidaan hallituksen
          päätöksellä valita kunniajäseneksi.
        </li>
        <li>
          Yhteisöjäsenet: Yhteisöjäsen voi olla oikeuskelpoinen yhteisö, joka on
          kiinnostunut yhdistyksen toiminnasta ja haluaa tukea sitä.
        </li>
      </ol>
      Varsinaiset jäsenet, kannatusjäsenet ja yhteisöjäsenet hyväksyy
      hakemuksesta yhdistyksen hallitus. Jäsenyys astuu voimaan hallituksen
      päätöksen jälkeen. Jäsenyydestä eroaminen tapahtuu ilmoittamalla siitä
      kirjallisesti hallitukselle tai sen puheenjohtajalle tai ilmoittamalla
      erosta yhdistyksen kokouksessa pöytäkirjaan merkittäväksi. Erottamisesta
      jäsenmaksun maksamatta jättämisen vuoksi päättää hallitus.

      <h3>6 JÄSENEN VELVOLLISUUDET</h3>
      Jäsenellä on velvollisuus ilmoittaa yhdistyslain määräämät tiedot
      yhdistyksen hallitukselle aina muutosten yhteydessä, kuitenkin vähintään
      viiden (5) vuoden välein.

      <h3>7 JÄSENMAKSUT</h3>
      Varsinaisten jäsenten ja kannatusjäsenten liittymismaksun ja vuotuisen
      jäsenmaksun suuruudesta erikseen kullekin jäsenryhmälle päättää
      syyskokous. Yhteisöjäsenten jäsenmaksuista päättää yhdistyksen hallitus.
      Kunniapuheenjohtajat ja kunniajäsenet eivät suorita jäsenmaksuja.

      <h3>8 HALLITUS</h3>
      Hallituksen muodostavat syyskokouksessa valitut puheenjohtaja ja vähintään
      seitsemän (7), enintään viisitoista (15) muuta varsinaista jäsentä sekä
      vähintään nolla (0) ja enintään viisi (5) varajäsentä. Varsinaisten ja
      varajäsenten lukumäärä päätetään syyskokouksessa. Hallituksen toimikausi
      on kalenterivuosi. Hallitus valitsee keskuudestaan varapuheenjohtajan ja
      sihteerin, lisäksi hallitus nimittää rahastonhoitajan sekä muut
      tarvittavat toimihenkilöt.

      <h3>9 HALLITUKSEN TEHTÄVÄT</h3>
      Hallituksen tehtävänä on:
      <ol>
        <li>Pitää yllä jäsenluetteloa</li>
        <li>Kutsua yhdistyksen kokous tarvittaessa koolle</li>
        <li>
          Hoitaa yhdistyksen asioita sekä taloutta sääntöjen ja
          toimintasuunnitelman mukaan.
        </li>
      </ol>
      <h3>10 YHDISTYKSEN NIMEN KIRJOITTAMINEN</h3>
      Yhdistyksen nimen kirjoittaa hallituksen puheenjohtaja, sihteeri tai muu
      hallituksen jäsen jonka hallitus on nimenkirjoittajaksi määrännyt, kukin
      erikseen.

      <h3>11 HALLITUKSEN KOOLLE KUTSUMINEN</h3>
      Hallitus kokoontuu puheenjohtajan tai hänen estyneenä ollessaan
      varapuheenjohtajan kutsusta, kun he katsovat siihen olevan aihetta tai
      jonkun hallituksen jäsenen niin halutessa. Hallitus on päätösvaltainen,
      mikäli puolet hallituksen jäsenistä puheenjohtaja tai varapuheenjohtaja
      mukaan lukien on paikalla ja kokouksesta on tiedotettu hallituksen
      jäsenille vähintään kolme vuorokautta ennen kokousta tai mikäli neljä
      viidesosaa (4/5) hallituksen varsinaisista jäsenistä on ilmaissut
      suostumuksensa kokouksen järjestämiseen aikaisemmin. Hallitus päättää
      kokousten koollekutsumistavasta järjestäytymiskokouksessaan. Päätökset
      tehdään hallituksessa yksinkertaisella enemmistöllä avoimella
      äänestyksellä, ellei joku halua suljettua lippuäänestystä. Äänten mennessä
      tasan kokouksen puheenjohtajan ääni ratkaisee, paitsi vaaleissa arpa.

      <h3>12 TILIT</h3>
      Yhdistyksen tilikausi on kalenterivuosi. Rahastonhoitaja esittää tilit,
      kirjallisen selonteon varojen käytöstä ja taloudellisesta asemasta
      hallitukselle tilikautta seuraavan tammikuun 15. päivään mennessä.
      Hallitus laatii puheenjohtajan ja sihteerin johdolla toimintakertomuksen.
      Tilinpäätös tarvittavine asiakirjoineen ja hallituksen vuosikertomus on
      annettava toiminnantarkastajille viimeistään kolme viikkoa ennen
      kevätkokousta. Toiminnantarkastajien tulee antaa kirjallinen lausuntonsa
      viimeistään kaksi viikkoa ennen kevätkokousta hallitukselle. Hallitus
      esittää tilinpäätöksen ja toiminnantarkastajien lausunnon sekä
      toimintakertomuksen yhdistyksen kevätkokoukselle.

      <h3>13 YHDISTYKSEN KOKOUKSEN KOOLLE KUTSUMINEN</h3>
      Yhdistyksen kevät- ja syyskokouksen ja ylimääräisen kokouksen koolle
      kutsuminen tapahtuu ilmoituksella viimeistään viikkoa ennen kokousta
      yhdistyksen ilmoitustaululla. Ylimääräinen kokous pidetään, jos hallitus
      katsoo siihen olevan aihetta tai jos vähintään yksi kahdeskymmenesosa
      (1/20) tai 30 yhdistyksen äänioikeutetuista jäsenistä sitä hallitukselta
      erityisesti ilmoitettua asiaa varten kirjallisesti vaatii.

      <h3>14 VUOSIKOKOUKSET</h3>
      Yhdistyksen kevätkokous pidetään helmikuussa. Kokouksessa käsitellään
      vähintään seuraavat asiat:
      <ol>
        <li>Todetaan kokouksen laillisuus ja päätösvaltaisuus.</li>
        <li>
          Valitaan kokoukselle puheenjohtaja, sihteeri ja kaksi
          pöytäkirjantarkastajaa sekä ääntenlaskijaa.
        </li>
        <li>Vahvistetaan kokouksen esityslista.</li>
        <li>Esitetään edellisen vuoden toimintakertomus.</li>
        <li>
          Esitetään toiminnantarkastajien lausunto. Vahvistetaan tilinpäätös ja
          päätetään vastuuvapauden myöntämisestä tilivelvollisille.
        </li>
        <li>Käsitellään muut kokouksessa mahdolliset esille tulevat asiat.</li>
      </ol>
      Yhdistyksen syyskokous pidetään marraskuussa, kokouksessa käsitellään
      vähintään seuraavat asiat:
      <ol>
        <li>Todetaan kokouksen laillisuus ja päätösvaltaisuus.</li>
        <li>
          Valitaan kokoukselle puheenjohtaja, sihteeri ja kaksi
          pöytäkirjantarkastajaa sekä ääntenlaskijaa.
        </li>
        <li>Vahvistetaan kokouksen esityslista.</li>
        <li>
          Päätetään yhdistyksen mahdollisten toimihenkilöiden palkkioista ja
          korvauksista.
        </li>
        <li>Esitetään toimintasuunnitelma tulevalle vuodelle.</li>
        <li>
          Käsitellään ja vahvistetaan hallituksen laatima tulo- ja
          menoarvioehdotus sekä jäsenmaksujen suuruus.
        </li>
        <li>
          Valitaan kaksi toiminnantarkastajaa ja kaksi varatoiminnantarkastajaa.
        </li>
        <li>Valitaan yhdistyksen hallitukselle puheenjohtaja.</li>
        <li>Päätetään hallituksen jäsenten määrä.</li>
        <li>Valitaan muut hallituksen jäsenet.</li>
        <li>Käsitellään muut kokouksessa esille tulevat asiat</li>
      </ol>
      Mikäli yhdistyksen jäsen haluaa saada jonkin asian yhdistyksen kevät- tai
      syyskokouksen käsiteltäväksi, on hänen ilmoitettava siitä kirjallisesti
      hallitukselle viimeistään kaksi viikkoa ennen kokousta, että asia voidaan
      sisällyttää kokouskutsuun.

      <h3>15 ÄÄNIOIKEUS</h3>
      Yhdistyksen kokouksissa on jokaisella varsinaisella jäsenellä yksi ääni.
      Kunnia-, kannatus- ja yhteisöjäsenellä on läsnäolo- ja puheoikeus, mutta
      ei äänioikeutta yhdistyksen kokouksessa. Äänten mennessä tasan
      puheenjohtajan ääni ratkaisee, vaaleissa kuitenkin arpa. Äänestys tulee
      suorittaa suljettuna lippuäänestyksenä, mikäli joku jäsenistä niin haluaa.

      <h3>16 VUOSIPÄIVÄ</h3>
      Yhdistys viettää vuosipäiväänsä lokakuun 21. päivänä. Yhdistys on
      perustettu vuonna 1987.

      <h3>17 HARRASTUSTOIMINTA</h3>
      Yhdistyksen tarkoitusperien kanssa sopusoinnussa olevien harrastusten
      tukemiseksi ja kehittämiseksi voivat jäsenet perustaa rekisteröimättömän
      kerhon tai harrastuspiirin, joiden toimintaa yhdistys pyrkii tukemaan
      mahdollisuuksiensa mukaan.

      <h3>18 SÄÄNTÖJEN MUUTTAMINEN JA YHDISTYKSEN PURKAMINEN</h3>
      Päätös sääntöjen muuttamisesta ja yhdistyksen purkamisesta on tehtävä
      yhdistyksen kokouksessa vähintään kolmen neljäsosan (3/4) enemmistöllä
      annetuista äänistä. Kokouskutsussa on mainittava sääntöjen muuttamisesta
      tai yhdistyksen purkamisesta. Yhdistyksen purkautuessa käytetään
      yhdistyksen varat yhdistyksen tarkoituksen edistämiseen purkamisesta
      päättävän kokouksen määräämällä tavalla. Yhdistyksen tullessa
      lakkautetuksi käytetään sen varat samaan tarkoitukseen.

      <h3>19 JÄSENOIKEUDET</h3>
      Saavutetut jäsenoikeudet säilyvät.

      <h3>20 YHDISTYKSEN TUNNUKSET</h3>
      Yhdistyksen tunnuksen sekä arvo- ja kunniamerkkien muodosta päättää
      yleiskokous. Merkkien jakamisesta päättää hallitus.</span
    >
  </div>
</template>

<script>
import Vue from 'vue'

export default {
  name: 'Saannot',
  layout() {
    return 'jarjesto'
  },
  data: function () {
    return {
      view: 0,
    }
  },
  head() {
        return {
            title: "Säännöt",
            meta: [
                {
                    hid: "description",
                    name: "description",
                    content:
                        "Serverin viralliset järjestyssäännöt",
                },
                {
                    hid: "twitter:title",
                    name: "twitter:title",
                    content: "Serveri ry - Säännöt",
                },
                {
                    hid: "twitter:description",
                    name: "twitter:description",
                    content: "Serverin viralliset järjestyssäännöt",
                },
                /*{
                    hid: "twitter:image",
                    name: "twitter:image",
                    content: this.ogImage,
                },*/
                {
                    hid: "og:title",
                    property: "og:title",
                    content: "Serveri ry - Säännöt",
                },
                {
                    hid: "og:description",
                    property: "og:description",
                    content: "Serverin viralliset järjestyssäännöt",
                },/*
                {
                    hid: "og:image",
                    property: "og:image",
                    content: this.ogImage,
                },*/
                {
                    hid: "og:url",
                    property: "og:url",
                    content:
                        this.$store.state.settings.baseurl + this.$route.path,
                },
            ],
        };
    },
  components: {},
}
</script>

<style scoped lang="scss">
@import '~/assets/scss/colors.scss';
@import '~/assets/scss/prepare.scss';
@import '~/assets/scss/text.scss';
@import '~/assets/scss/styling.scss';

</style>
