<template>
  <button @click="checkout" role="link">Purchase this package</button>
</template>

<script>
import stripeCheckoutMixin from '~/mixins/stripeCheckoutMixin'
export default {
    name: 'Checkout',
    mixins: [stripeCheckoutMixin],
    data: function () {
        return {
            sku: "price_1ITbiAJDSgIVe88E87x1T1lX",
            successUrl: this.$store.state.settings.baseurl + "/jarjesto/liity/onnistui",
            cancelUrl: this.$store.state.settings.baseurl + "/jarjesto/liity/checkout"
        }
    }
}
</script>