<template>
    <div class="page-margin">
        <h1>Maksu näyttäisi onnistuneen - Tervetuloa Serverin jäseneksi!</h1>
        <p>Maksun onnistuminen varmistunee sähköpostikuittauksesta joka tulee piakkoin</p>
        <p>Voit nyt halutessasi liittyä <a href="https://lists.uef.fi/mailman/listinfo/serverit-list" target="_blank"><button>sähköpostilistalle</button></a></p>
        <p>Ylläpitomme pyrkii lisäämään kaikki liittyneet sähköpostilistalle, mutta siinä voi mennä jonkin aikaa</p>
        <p>Jäsenyys hyväksytään seuraavassa hallituksen kokouksessa, mutta jäsenedut on käytössäsi saman tien.</p>
        <p>
            Kannattaa myös varmistaa että <a href="https://t.me/serveriry" target="_blank" rel="noopener noreferrer"><button>Serverin tiedotuskanava Telegramissa</button></a>
            on seurannassa.
        </p>
        <img src="~/assets/images/hackerman.jpeg" alt="">
        <p><br></p>
    </div>
</template>
<script>
export default {
    name: 'Onnistui',
}
</script>

<style  scoped lang="scss">
@import "~/assets/scss/colors.scss";
@import "~/assets/scss/prepare.scss";
@import "~/assets/scss/text.scss";
@import "~/assets/scss/styling.scss";
</style>