<template>
  <div>
    <svg
      version="1.1"
      id="Capa_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 218.705 218.705"
      style="enable-background: new 0 0 218.705 218.705; fill: white; height: 100%; width: 100%;"
      xml:space="preserve"
    >
      <g>
        <path
          d="M190.23,33.407h-5.558V16.004c0-4.142-3.357-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v17.402h-14.715V16.004
		c0-4.142-3.357-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v17.402H78.747V16.004c0-4.142-3.357-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v17.402H49.032
		V16.004c0-4.142-3.357-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v17.402h-5.558C12.773,33.407,0,46.18,0,61.881v119.845
		c0,15.701,12.773,28.475,28.475,28.475H190.23c15.701,0,28.475-12.773,28.475-28.475V61.881
		C218.705,46.18,205.932,33.407,190.23,33.407z M28.475,48.407H190.23c7.43,0,13.475,6.045,13.475,13.475v1.864H15v-1.864
		C15,54.452,21.045,48.407,28.475,48.407z M190.23,195.201H28.475c-7.43,0-13.475-6.045-13.475-13.475V73.746h188.705v107.98
		C203.705,189.156,197.66,195.201,190.23,195.201z"
        />
        <path
          d="M138.802,119.551c-4.56,0-9.785,1.14-12.825,5.699l-0.189-0.189c0.095-14.155,5.604-18.811,11.114-18.811
		c4.086,0,7.03,1.995,7.791,6.65v0.095h13.205c-1.141-10.735-9.405-17.385-20.9-17.385c-12.16,0-24.511,8.455-24.511,34.58
		c0,9.5,0.38,34.676,23.75,34.676c13.206,0,22.991-7.695,22.991-24.226C159.228,129.336,151.722,119.551,138.802,119.551z
		 M136.333,153.941c-6.84,0-10.165-4.75-10.165-12.444c0-7.98,5.13-11.306,9.785-11.306c5.035,0,9.975,2.185,9.975,12.351
		C145.927,152.231,139.752,153.941,136.333,153.941z"
        />
        <path
          d="M82.847,95.611c-15.865,0-23.37,11.02-23.37,34.675s7.505,34.581,23.37,34.581s23.37-10.926,23.37-34.581
		S98.712,95.611,82.847,95.611z M82.847,154.226c-7.601,0-9.69-6.555-9.69-23.94c0-17.385,2.09-24.035,9.69-24.035
		c7.6,0,9.69,6.65,9.69,24.035C92.538,147.671,90.447,154.226,82.847,154.226z"
        />
      </g>
    </svg>
  </div>
</template>

<script>
export default {
  name: "calendar",
};
</script>

<style lang="scss" scoped></style>
