<template>
  <div>
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 586 559"
      style="enable-background: new 0 0 586 559; height: 120%; width: 120%"
      xml:space="preserve"
    >
      <!--<style type="text/css">
        .st0 {
          fill: #fafafa;
        }
        .st1 {
          fill: #f0f0f0;
        }
        .st2 {
          fill: #ffffff;
        }
        .st3 {
          fill: #e24329;
        }
        .st4 {
          fill: #fca326;
        }
        .st5 {
          fill: #fc6d26;
        }
        .st6 {
          fill: #8c929d;
        }
        .st7 {
          fill: #2e2e2e;
        }
        .st8 {
          fill: none;
          stroke: #fca326;
          stroke-width: 16;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-miterlimit: 10;
        }
        .st9 {
          fill: none;
          stroke: #fc6d26;
          stroke-width: 16;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-miterlimit: 10;
        }
        .st10 {
          fill: none;
          stroke: #e24329;
          stroke-width: 16;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-miterlimit: 10;
        }
        .st11 {
          fill: none;
          stroke: #f0f0f0;
          stroke-miterlimit: 10;
        }
        .st12 {
          fill: #231f20;
        }
        .st13 {
          fill: none;
          stroke: #231f20;
          stroke-width: 16;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-miterlimit: 10;
        }
        .st14 {
          display: none;
        }
        .st15 {
          display: inline;
          opacity: 0.1;
          fill: #e828e3;
        }
        .st16 {
          display: inline;
        }
        .st17 {
          opacity: 0.1;
          fill: #e828e3;
        }
        .st18 {
          font-family: "SourceSansPro-Semibold";
        }
        .st19 {
          font-size: 24px;
        }
        .st20 {
          display: inline;
          fill: #db3b21;
        }
        .st21 {
          display: inline;
          fill: #fc6d26;
        }
        .st22 {
          display: inline;
          fill: #2e2e2e;
        }
        .st23 {
          display: inline;
          fill: #6e49cb;
        }
        .st24 {
          display: inline;
          fill: #380d75;
        }
        .st25 {
          display: inline;
          fill: #fca121;
        }
        .st26 {
          opacity: 0.6;
          fill: none;
          stroke: #231f20;
          stroke-width: 2;
          stroke-miterlimit: 10;
          stroke-dasharray: 12, 6;
        }
        .st27 {
          fill: none;
          stroke: #444444;
          stroke-width: 1.5339;
          stroke-miterlimit: 10;
        }
      </style>-->
      <g id="logo_art">
        <path
          style="fill: white"
          class="st2"
          d="M461.514,298.355l-18.049-55.587c0.008,0.025,0.011,0.051,0.019,0.076c-0.009-0.029-0.014-0.058-0.022-0.087
          c-0.001-0.002-0.001-0.003-0.001-0.005c0-0.001,0-0.002,0-0.002l-35.83-110.31c-1.96-5.811-7.353-9.711-13.536-9.663
          c-6.201,0.032-11.446,3.857-13.364,9.748L346.721,237.23H239.408l-34.074-104.712c-1.916-5.886-7.162-9.71-13.362-9.742
          c-0.025,0-0.049,0-0.075,0c-6.105,0-11.509,3.876-13.49,9.752l-35.732,110.211l-0.005,0.014c0,0.001,0,0.002,0,0.003
          c-0.009,0.028-0.013,0.056-0.022,0.084c0.008-0.025,0.011-0.051,0.019-0.076l-18.115,55.591c-2.725,8.392,0.232,17.512,7.36,22.697
          L288.328,434.7c0.023,0.017,0.049,0.027,0.072,0.044c0.067,0.048,0.132,0.097,0.2,0.142c-0.064-0.043-0.124-0.09-0.187-0.134
          c0,0,0-0.001-0.001-0.001c0.01,0.008,0.022,0.013,0.033,0.02c0.009,0.006,0.018,0.01,0.027,0.016
          c0.001,0.001,0.002,0.002,0.004,0.003c0.242,0.168,0.493,0.322,0.753,0.463c0.036,0.02,0.068,0.045,0.104,0.064
          c0.001,0,0.001,0.001,0.002,0.001c0.022,0.011,0.042,0.025,0.064,0.036c0.017,0.008,0.035,0.013,0.051,0.021
          c0.012,0.006,0.025,0.01,0.037,0.015c0.029,0.014,0.061,0.023,0.09,0.038c0.136,0.065,0.279,0.118,0.419,0.175
          c0.131,0.054,0.258,0.117,0.392,0.164c0.006,0.002,0.011,0.005,0.017,0.007c0.022,0.008,0.042,0.019,0.065,0.027
          c0.028,0.01,0.055,0.021,0.083,0.03c0.011,0.003,0.022,0.005,0.033,0.008c0.035,0.011,0.073,0.016,0.108,0.026
          c0.013,0.004,0.028,0.006,0.042,0.01c0.188,0.057,0.383,0.098,0.577,0.141c0.076,0.017,0.149,0.041,0.226,0.055
          c0.011,0.002,0.021,0.006,0.033,0.008c0.025,0.005,0.048,0.014,0.074,0.018c0.041,0.007,0.081,0.02,0.123,0.026
          c0.033,0.005,0.067,0.003,0.1,0.008c0.006,0.001,0.011,0,0.017,0.001c0.002,0,0.003,0,0.005,0c0.369,0.053,0.743,0.09,1.124,0.09
          c0.002,0,0.004,0,0.007,0l0,0c0.001,0,0.002,0,0.002,0c0,0,0.001,0,0.001,0c0.001,0,0.002,0,0.003,0
          c0.382,0,0.756-0.037,1.126-0.09c0.001,0,0.003,0,0.004,0c0.006-0.001,0.012,0,0.018-0.001c0.033-0.005,0.068-0.003,0.101-0.008
          c0.042-0.007,0.082-0.019,0.124-0.026c0.025-0.004,0.048-0.013,0.073-0.018c0.011-0.002,0.021-0.006,0.032-0.008
          c0.078-0.015,0.153-0.039,0.231-0.056c0.191-0.042,0.383-0.083,0.57-0.139c0.013-0.004,0.026-0.005,0.039-0.009
          c0.037-0.011,0.075-0.016,0.112-0.027c0.011-0.004,0.023-0.005,0.034-0.008c0.029-0.009,0.057-0.021,0.085-0.031
          c0.022-0.008,0.042-0.019,0.064-0.027c0.006-0.002,0.011-0.005,0.017-0.007c0.142-0.05,0.276-0.116,0.415-0.173
          c0.129-0.054,0.261-0.102,0.387-0.162c0.031-0.015,0.064-0.024,0.094-0.039c0.012-0.006,0.026-0.01,0.038-0.016
          c0.017-0.008,0.035-0.013,0.052-0.022c0.023-0.012,0.045-0.026,0.067-0.037c0,0,0.001,0,0.001-0.001
          c0.037-0.019,0.07-0.046,0.107-0.066c0.258-0.14,0.508-0.293,0.749-0.46c0.019-0.013,0.041-0.023,0.061-0.037
          c0.005-0.004,0.011-0.006,0.016-0.01c0.023-0.017,0.05-0.028,0.073-0.045l156.44-113.65
          C461.282,315.867,464.239,306.747,461.514,298.355z M394.194,142.774l30.68,94.456h-61.36L394.194,142.774z M419.501,253.202
          l-12.519,16.041L314.648,387.55l43.677-134.348H419.501z M285.428,430.707C285.428,430.707,285.428,430.707,285.428,430.707
          c0.008,0.024,0.021,0.046,0.029,0.071C285.449,430.753,285.436,430.731,285.428,430.707z M271.42,387.558L166.624,253.202l0,0
          h61.18L271.42,387.558z M191.875,142.773l30.737,94.457h-61.36L191.875,142.773z M141.304,308.133
          c-1.516-1.103-2.144-3.05-1.563-4.838l13.466-41.325l98.67,126.502L141.304,308.133z M288.053,434.489
          c-0.031-0.025-0.061-0.052-0.091-0.078c-0.006-0.005-0.012-0.012-0.019-0.017c-0.06-0.05-0.119-0.101-0.177-0.153
          c-0.114-0.099-0.226-0.2-0.333-0.306c0.009,0.008,0.019,0.015,0.028,0.023c0.012,0.011,0.025,0.02,0.037,0.031
          c0.229,0.219,0.47,0.425,0.722,0.615c0.003,0.002,0.005,0.005,0.008,0.007c0.012,0.009,0.022,0.02,0.034,0.03
          C288.193,434.591,288.121,434.543,288.053,434.489z M293.028,402.392l-25.665-79.059l-22.766-70.131h96.933L293.028,402.392z
          M298.281,434.241c-0.06,0.052-0.118,0.104-0.179,0.154c-0.007,0.006-0.014,0.013-0.021,0.019c-0.031,0.025-0.06,0.052-0.09,0.077
          c-0.066,0.053-0.138,0.101-0.207,0.152c0.012-0.009,0.022-0.021,0.035-0.029c0.002-0.002,0.004-0.004,0.006-0.006
          c0.252-0.19,0.492-0.394,0.719-0.613c0.009-0.009,0.02-0.016,0.029-0.024c0.012-0.011,0.025-0.02,0.036-0.031
          C298.503,434.043,298.392,434.143,298.281,434.241z M444.766,308.13l-110.557,80.317l98.703-126.467l13.412,41.307
          C446.906,305.083,446.279,307.03,444.766,308.13z"
        />
      </g>
      <!--<g
        id="spacing_guides"
        xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"
        class="st14"
      >
        <path
          id="path40_63_"
          sketch:type="MSShapeGroup"
          class="st15"
          d="M0,0.5v124h586V0.5H0L0,0.5z"
        />
        <path
          id="path40_36_"
          sketch:type="MSShapeGroup"
          class="st15"
          d="M0,435.5v124h586v-124H0L0,435.5z"
        />
        <path
          id="path40_25_"
          sketch:type="MSShapeGroup"
          class="st15"
          d="M462.2,560h124V0h-124V560L462.2,560z"
        />
        <g class="st16">
          <text transform="matrix(1 0 0 1 511.2881 283.332)" class="st18 st19">
            1x
          </text>
        </g>
        <g class="st16">
          <text transform="matrix(1 0 0 1 281.2881 500.9979)" class="st18 st19">
            1x
          </text>
        </g>
        <g class="st16">
          <text transform="matrix(1 0 0 1 281.2881 65.9981)" class="st18 st19">
            1x
          </text>
        </g>
        <path
          id="path40_24_"
          sketch:type="MSShapeGroup"
          class="st15"
          d="M0,560h124V0H0V560L0,560z"
        />
        <g class="st16">
          <text transform="matrix(1 0 0 1 51.2881 283.332)" class="st18 st19">
            1x
          </text>
        </g>
      </g>-->
    </svg>
  </div>
</template>

<script>
export default {
  name: "gitlab",
};
</script>

<style lang="scss" scoped></style>
