<template>
  <div>
    <svg
      version="1.2"
      baseProfile="tiny"
      id="Layer_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="-216.3 -5.9 298.3 269.8"
      xml:space="preserve"
      role="presentation"
      focusable="false"
      aria-hidden="false"
    >
    <title>A short title of the SVG</title>
      <g>
        <path
          d="M-39.3,182.1c2.1,0.5,4.3-1.5,4.7-4.4c1.7-18.7-9.8-35.9-26.5-37.8c-2.1-0.5-4.3,1.5-4.7,4.4c-0.4,2.9,1.3,4.9,3.9,5.4
		c11.6,1.5,20.1,13.8,18.8,27C-43.1,179.1-41.4,181.6-39.3,182.1z" fill="white"
        />
        <path
          d="M-26.4,183.5c2.1,0.5,4.3-1.5,4.7-4.4c2.6-27-14.1-51.1-37.7-54.5c-9.4-1.5-18,6.4-18.8,17.2c-0.4,2.5,1.3,4.9,3.9,5.4
		c2.1,0.5,4.3-1.5,4.7-4.4c0.4-5.4,4.7-9.3,9.4-8.8c18.8,2.5,32.1,22.1,30,43.7C-30.3,180.6-28.6,183-26.4,183.5z" fill="white"
        />
        <path
          d="M-51.7,180.1c2.1,0.5,4.3-1.5,4.7-4.4c1.3-10.8-5.6-20.6-15-21.6c-2.1-0.5-4.3,1.5-4.7,4.4c-0.4,2.9,1.3,4.9,3.9,5.4
		c4.7,0.5,8.1,5.4,7.7,10.8C-56,177.6-54.3,180.1-51.7,180.1z" fill="white"
        />
        <path
          d="M21.5,217.4C13.8,199.7-2,188-20.4,188h-30c-2.1,0-4.3,2.5-4.3,4.9s2.1,4.9,4.3,4.9h30c13.3,0,24.8,7.9,32.1,19.7H6.1
		c-6.4-8.8-15.8-14.7-26.5-14.7h-25.7c-2.1,0-4.3,2.5-4.3,4.9c0,2.5,2.1,4.9,4.3,4.9h25.7c5.1,0,9.8,2,14.1,4.9h-48.8
		c-3.9-66.3-37.7-90.9-67.6-90.4c0,0-18.4,3.4-22.3-12.8c-4.3-14.7-3-36.9,0.9-56.5h0.4h8.6h9c0,6.9-0.4,13.8-0.9,21.1
		c0,2.9,1.7,4.9,3.9,5.4c2.6,0,4.3-2,4.7-4.4c0-3.4,0.9-11.8,0.9-21.6l0,0c9,0,16.7-6.9,19.3-16.2h3.4l130.1,4.4
		c5.6,0,10.3-5.4,10.3-11.8s-5.1-12.3-10.7-12.3l-130.1,3.9h-3.4c-2.6-9.3-10.3-16.2-19.3-16.2h-3.9c-0.9-2.9-1.7-4.9-3-6.4
		c-2.1-2.5-4.3-2.9-5.6-3.4c-4.3,0-7.3,4.9-9.4,8.8c0,0.5-0.4,0.5-0.4,1h-4.3h-4.3h-8.6h-4.7v7.9h5.1h8.6h4.3h0.9
		c-0.9,2-1.3,3.9-2.1,5.9h-3.4h-8.6h-4.7v7.9h5.1h8.6h0.9c-0.4,1.5-0.9,3.4-1.3,4.9h-8.1h-5.1v7.9h5.1h6.4c-0.4,1.5-0.9,3.4-0.9,4.9
		h-5.6h-5.1v7.9h5.1h3.9c-4.3,25.1-5.1,53.1,3.4,68.3c4.3,7.4,11.6,11.3,18.8,11.3c0.9,0,8.1,0,8.1,0c39.8,0,56.5,39.3,59.5,80.6
		h-4.3c-3.4-47.7-23.1-75.7-55.2-75.7c-16.7,0-30,15.2-30,34.4v4.9c0,2.5,2.1,4.9,4.3,4.9c2.1,0,4.3-2.5,4.3-4.9v-4.9
		c0-13.8,9.4-24.6,21.4-24.6c36,0,44.9,39.3,46.7,65.8h-4.3c-3.4-49.6-24.4-60.9-42.4-60.9c-6.8,0-12.8,6.4-12.8,14.7
		c0,2.5,2.1,4.9,4.3,4.9s4.3-2.5,4.3-4.9s2.1-4.9,4.3-4.9c20.5,0,31.7,16.7,33.8,51.1h-35.5c1.7-1,3.9-2,6-2h21.4
		c2.1,0,4.3-2.5,4.3-4.9s-2.1-4.9-4.3-4.9h-21.4c-7.7,0-14.6,4.9-18,11.8h-4.7c4.3-9.8,12.8-16.7,23.1-16.7h17.1
		c2.1,0,4.3-2.5,4.3-4.9c0-2.5-2.1-4.9-4.3-4.9H-118c-15,0-27.8,11.3-32.1,26.5h-5.1c4.7-18.2,19.7-31.4,36.8-31.4h8.6
		c2.1,0,4.3-2.5,4.3-4.9s-2.1-4.9-4.3-4.9h-8.6c-22.3,0-40.7,17.7-45.8,41.3h-30.8v10.3h13.7c1.3,16.2,14.6,28.5,14.6,28.5H35.2
		c1,0,12.8-12.3,14.6-28.5h11.1v-10.3H21.5z M-118,48.9c0-1.5,0-2.5,0-3.9h5.6C-114.2,46.9-115.9,47.9-118,48.9z M-108.6,34.2
		c0,1,0,2-0.4,2.9h-9.4c0-1.5,0-3.4-0.4-4.9h9.8C-108.6,32.7-108.6,33.2-108.6,34.2z M-111.6,24.3h-7.7c0-2-0.4-3.9-0.9-5.4
		C-116.8,19.4-113.8,21.4-111.6,24.3z M-133.9,18.4h5.6c0.4,2,0.4,3.4,0.9,5.9h-7.7h-0.4C-135.6,21.9-134.7,19.9-133.9,18.4z
		 M-138.6,32.2h3h8.6c0,1.5,0,3.4,0.4,4.9h-8.6h-4.3C-139.4,35.1-139,33.7-138.6,32.2z M-142,45h6.4h9c0,1.5,0,2.9,0,4.9h-9h-7.3
		C-142.9,48.4-142.4,46.4-142,45z" fill="white"
        />
      </g>
    </svg>
  </div>
</template>

<script>
export default {
  name: 'spaghetti',
}
</script>