<template>
  <div>
    <svg
      class="logo"
      width="100%"
      height="100%"
      viewBox="0 0 1000 1000"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      xml:space="preserve"
      xmlns:serif="http://www.serif.com/"
      style="
        fill-rule: evenodd;
        clip-rule: evenodd;
        stroke-linejoin: round;
        stroke-miterlimit: 2;
        width: 100%;
        height: 100%;
      "
    >
      <g transform="matrix(1.66749,0,0,1.66749,-307.381,-351.102)">
        <g id="Artboard">
          <path
            id="Path-3"
            d="M226.328,494.722C372.089,431.217 469.285,389.35 517.917,369.122C656.773,311.367 685.625,301.335 704.431,301.004C708.568,300.931 717.816,301.956 723.806,306.817C728.865,310.921 730.257,316.466 730.923,320.357C731.589,324.249 732.418,333.114 731.759,340.041C724.234,419.102 691.675,610.965 675.111,699.515C668.102,736.984 654.301,749.548 640.941,750.777C611.905,753.449 589.856,731.588 561.733,713.153C517.727,684.306 492.866,666.349 450.15,638.2C400.784,605.669 432.786,587.789 460.919,558.569C468.282,550.921 596.215,434.556 598.691,424C599.001,422.68 599.288,417.759 596.365,415.16C593.441,412.562 589.126,413.45 586.012,414.157C581.599,415.159 511.298,461.625 375.11,553.556C355.155,567.259 337.081,573.935 320.887,573.585C303.034,573.199 268.693,563.491 243.164,555.192C211.851,545.014 186.964,539.633 189.132,522.346C190.26,513.343 202.659,504.135 226.328,494.722Z"
            style="fill: white"
          ></path>
        </g>
      </g>
    </svg>
  </div>
</template>

<script>
export default {
    name: 'telegram'
}
</script>

<style lang="scss" scoped></style>
