<template>
  <svg
    version="1.1"
    id="Layer_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    width="100%"
    height="100%"
    viewBox="0 0 192 192"
    style="enable-background: new 0 0 192 192"
    xml:space="preserve"
  >
    <style type="text/css">
      .st0 {
        fill: #black;
      }
      .st1 {
        fill: #ffffff;
      }
    </style>
    <g>
      <path
        class="st0"
        style="fill: black;"
        d="M180.3,53.4c-2-7.6-8-13.6-15.6-15.7C151,34,96,34,96,34s-55,0-68.8,3.7c-7.6,2-13.5,8-15.6,15.7
		C8,67.2,8,96,8,96s0,28.8,3.7,42.6c2,7.6,8,13.6,15.6,15.7C41,158,96,158,96,158s55,0,68.8-3.7c7.6-2,13.5-8,15.6-15.7
		C184,124.8,184,96,184,96S184,67.2,180.3,53.4z"
      />
      <polygon class="st1" fill="white" points="78,122.2 78,69.8 124,96 	" />
    </g>
  </svg>
</template>

<script>
export default {
  name: "youtube",
};
</script>


