<template>
  <div class="page-margin">
    <div class="page-content areyousure">
      <h1>Oletko varma?</h1>
      <p>"Thirsty boiii" omistaa alustan jolle olet matkalla</p>
      <img src="~/assets/images/hmm.jpeg" alt="" />
      <hr class="spacer" />
      <div class="options-div">
          <a href="https://facebook.com/serveriry/" rel="“noreferrer”"
            target="_blank">
            <button><h4>Olen varma, jatka Serverin Facebookiin</h4></button>
          </a>
          <nuxt-link to="/seuraa">
              <button class="safeoption"><h4>En ole varma, vie minut turvaan</h4></button>
          </nuxt-link>
      </div>
      <hr class="spacer" />
    </div>
    <hr class="spacer" />
  </div>
</template>

<script>
export default {
  name: 'Continue',
}
</script>

<style scoped lang="scss">
@import "~/assets/scss/colors.scss";
@import "~/assets/scss/prepare.scss";
@import "~/assets/scss/text.scss";
@import "~/assets/scss/styling.scss";
.areyousure {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    img {
        border-radius: 1rem;
    }
    .safeoption {
        background-color: $tech-green;
    }
    .safeoption:hover {
        background-color: $tech-dark;
    }
    button {
        padding: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
        border-radius: 5rem;
    }
}
</style>
