<template>
    <div>
        <script
            id="snipcart"
            src="https://cdn.snipcart.com/themes/v3.2.1/default/snipcart.js"
            data-api-key="MWMyMGIxZTAtMWUwMC00YWIwLWIyMDItZTUwMDI1NGE1Mzk1NjM3Njk2NjU0NDMwOTY0NTAz"
        ></script>
        <link
            rel="stylesheet"
            href="https://cdn.snipcart.com/themes/v3.2.1/default/snipcart.css"
        />

        <p>{{ this.$route.params.url }} hmm</p>

    </div>
</template>

<script>
export default {
    name: 'Tuote',
}
</script>