<template>
  <div class="page-margin">
    <script src="/wasm/wasm_exec.js"></script>
    <script>
      const go = new Go();
      WebAssembly.instantiateStreaming(
        fetch("/wasm/main.wasm"),
        go.importObject
      ).then((result) => {
        go.run(result.instance);
      });
    </script>
    <h1>Serverin jäsenkauppa</h1>
    <p>Oletko Serverin jäsen?</p>
    <div>
      <p class="snipcart-checkout">
        Kori: <span class="snipcart-items-count"></span>
      </p>
    </div>
    <!--<script
            id="snipcart"
            src="https://cdn.snipcart.com/themes/v3.2.1/default/snipcart.js"
            data-api-key="MWMyMGIxZTAtMWUwMC00YWIwLWIyMDItZTUwMDI1NGE1Mzk1NjM3Njk2NjU0NDMwOTY0NTAz"
        ></script>
        <link
            rel="stylesheet"
            href="https://cdn.snipcart.com/themes/v3.2.1/default/snipcart.css"
        />-->

    <button
      class="snipcart-add-item"
      data-item-id="Gemer"
      data-item-price="4"
      data-item-url="/paintings/starry-night"
      data-item-description="High-quality replica of The Starry Night by the Dutch post-impressionist painter Vincent van Gogh."
      data-item-image="/assets/images/starry-night.jpg"
      data-item-name="Neljän täytteen pitsa"
    >
      Lisää ostoskoriin tai jtn
    </button>

    <!--<p>{{ this.$store.state.shop }}</p>-->
    <div v-for="product in productArray" :key="product.id">
      <nuxt-link :to="'/shop/' + product.ProductId">
        <div class="personbg content-padding corner">
          <h3>{{ product.Name }}</h3>
          <p>{{ product.Description }}</p>
          <p>{{ snipFields(product) }}</p>
          <button
            class="snipcart-add-item"
            :data-item-id="product.ProductId"
            :data-item-price="product.price"
            data-item-url="/paintings/starry-night"
            :data-item-description="product.Description"
            data-item-image="/assets/images/starry-night.jpg"
            :data-item-name="product.Name"
            v-bind="$snipcart.customfields(snipFields(product))"
            :data-item-quantity="product.DefaultOrderQuantity"
            :data-item-max-quantity="product.MaxQuantity"
            :data-item-min-quantity="product.MinQuantity"
            :data-item-quantity-step="product.QuantitySteps"
            :data-item-stackable="checkStackability(product)"
            :data-item-shippable="product.Shippable"
            :data-item-weight="product.ShippingWeight"
          >
            Lisää ostoskoriin tai jtn
          </button>
        </div>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";

export default {
  name: 'Kauppa',
  async fetch() {
    try {
      if (
        /* Check if shop object is empty as it doesn't have the data keys otherwise
                If this causes errors set this condition to true and the state will refresh every time*/
        Object.keys(this.$store.state.shop.shop).length === 0
      ) {
        console.log("refreshing data");
        //await this.$store.dispatch('posts/loadPosts')
        const response = await axios.get(
          this.$store.state.settings.host + "/products"
        );
        this.$store.state.shop.shop = response.data;
        //console.log(this.$store.state.shop)
      }
    } catch (e) {
      e({
        statusCode: 503,
        message: "Unable to fetch shop at this time. Please try again.",
      });
    }
  },
  data: function () {
    return {
      view: 0,
    };
  },
  computed: {
    shop() {
      return this.$store.state.shop.shop;
    },
    host() {
      return this.$store.state.settings.host;
    },
    productArray() {
      return this.$store.state.shop.shop.filter((item) => item.Public);
    },
  },
  methods: {
    checkStackability(product) {
        if (product.Stackable) {
            return "always"
        }
        else if (!product.Stackable) {
            return "never"
        }
        else {
            return "auto"
        }
    },
    snipFields(product) {
      // Fields array will be supplied to the snipcart plugin
      let fields = [];

      // Check VariantTypes is array
      if (Array.isArray(product.VariantTypes)) {
        // Check VariantTypes has something
        if (!product.VariantTypes.length) {
          // no variants
        } else {
          //console.log(product.VariantTypes)
          for (let i = 0; i < product.VariantTypes.length; i++) {
            let variants;
            let first;
            first = true;
            for (let j = 0; j < product.VariantTypes[i].Variants.length; j++) {
              if (first) {
                variants = product.VariantTypes[i].Variants[j].Name;
                first = false;
              } else {
                variants =
                  variants + "|" + product.VariantTypes[i].Variants[j].Name;
              }
            }
            fields.push({
              name: product.VariantTypes[i].Name,
              options: variants,
            });
          }
        }
      }

      if (Array.isArray(product.Checkboxes)) {
        // Check VariantTypes has something
        if (!product.Checkboxes.length) {
          // no variants
        } else {
          //console.log(product.Checboxes)
          for (let i = 0; i < product.Checkboxes.length; i++) {
            fields.push({
              name: product.Checkboxes[i].Label,
              type: "checkbox",
            });
            //}
          }
        }
      }

      if (Array.isArray(product.Textarea)) {
        // Check VariantTypes has something
        if (!product.Textarea.length) {
          // no variants
        } else {
          //console.log(product.Checboxes)
          for (let i = 0; i < product.Textarea.length; i++) {
            if (product.Textarea[i].Readonly) {
              fields.push({
                name: product.Textarea[i].Name,
                type: "textarea",
                type: "readonly",
                value: product.Textarea[i].Placeholder
              });
            } else {
              fields.push({
                name: product.Textarea[i].Name,
                type: "textarea",
              });
            }
            //}
          }
        }
      }
      //console.log(fields);

      return fields;
    },
  },
  head() {
    return {
      title: this.shop.Title,
      meta: [
        {
          hid: "description",
          name: "description",
          content: this.shop.Greeting,
        },
        {
          hid: "twitter:title",
          name: "twitter:title",
          content: "Serveri ry - " + this.shop.Title,
        },
        {
          hid: "twitter:description",
          name: "twitter:description",
          content: this.shop.Greeting,
        },
        /*{
                    hid: "twitter:image",
                    name: "twitter:image",
                    content: this.ogImage,
                },*/
        {
          hid: "og:title",
          property: "og:title",
          content: "Serveri ry - " + this.shop.Title,
        },
        {
          hid: "og:description",
          property: "og:description",
          content: this.shop.Greeting,
        } /*
                {
                    hid: "og:image",
                    property: "og:image",
                    content: this.ogImage,
                },*/,
        {
          hid: "og:url",
          property: "og:url",
          content: this.$store.state.settings.baseurl + this.$route.path,
        },
      ],
    };
  },
  /*  methods: {
    playunder() {
      var myVideo = document.getElementById("video1"); 
        if (myVideo.paused) 
          myVideo.play(); 
        else 
          myVideo.pause(); 
    }
  }
};*/
};
</script>
