<template>
    <div class="personbg content-padding corner">
        <div v-if="$fetchState.pending">
            <h1>Pöö</h1>
            <p>Ladataan tai koodispagetti räjähti</p>
        </div>
        <!--<div v-else-if="this.$store.state.posts.posts[0]">-->
        <div v-else-if="board != undefined" class="boardwrap">
            <h1>{{ board.Title }}</h1>
            <h5>
                Viimeksi päivitetty:
                {{ new Date(board.updated_at).toLocaleString() }}
            </h5>
            <div v-html="$md.render(board.Greeting)" class="content"></div>

            <!--<p>{{ board.Boardmember }}</p>-->
            <div class="persongrid">
                <div
                    v-for="boardperson in board.Boardmember"
                    :key="boardperson.id"
                    class="personcard"
                >
                    <div class="personwrapper content-padding">
                        <h2>
                            {{ boardperson.Role }}
                        </h2>
                        <p v-if="boardperson.Person.Email">
                            <strong
                                >Ota yhteyttä
                                <Mailto :mail="boardperson.Person.Email"
                                    >sähköpostitse</Mailto
                                >
                                <!--<a
                                    :href="'mailto:' + boardperson.Person.Email"
                                    >{{ boardperson.Person.Email }}</a
                                >--></strong
                            >
                        </p>
                        <div
                            v-if="boardperson.Roledescription"
                            v-html="$md.render(boardperson.Roledescription)"
                        ></div>
                        <table>
                            <tr>
                                <td colspan="2">
                                    <h2>
                                        {{ boardperson.Person.Name }}
                                    </h2>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div v-if="boardperson.Person.Avatar.id" class="avatarwrap">
                                        <!--check if image exists but is too small to have multiple formats-->
                                        <div v-if="boardperson.Person.Avatar.formats">
                                            <img v-if="boardperson.Person.Avatar.formats.medium" loading="lazy" class="cover" :src="host + boardperson.Person.Avatar.formats.medium.url" :alt="boardperson.Person.Name" />
                                            <img loading="lazy" v-else-if=" boardperson.Person.Avatar.formats.small"
                                                class="cover"
                                                :src="host + boardperson.Person.Avatar.formats.small.url"
                                                :alt="boardperson.Person.Name"
                                            />
                                            <img loading="lazy"
                                                v-else-if="boardperson.Person.Avatar.formats.thumbnail"
                                                class="cover"
                                                :src="host + boardperson.Person.Avatar.formats.thumbnail.url"
                                                :alt="boardperson.Person.Name"
                                            />
                                            <div v-else></div>
                                        </div>
                                        <!--image too small for multiple formats-->
                                        <div v-else>
                                            <img loading="lazy" v-if="boardperson.Person.Avatar.url" class="cover" :src="host + boardperson.Person.Avatar.url" :alt="boardperson.Person.Name">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div
                                        v-html="
                                            $md.render(boardperson.Person.Bio)
                                        "
                                    ></div>
                                </td>
                            </tr>
                            <tr v-if="boardperson.Person.Telegram">
                                <td>Telegram:</td>
                                <td>
                                    <a
                                        :href="
                                            'https://t.me/' +
                                            boardperson.Person.Telegram
                                        "
                                        target="_blank"
                                        >@{{ boardperson.Person.Telegram }}</a
                                    >
                                </td>
                            </tr>
                            <tr v-if="boardperson.Person.Matrix">
                                <td>Matrix:</td>
                                <td>{{ boardperson.Person.Matrix }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";

export default {
    name: 'Hallitus',
    async fetch() {
        try {
            if (
                /* Check if board object is empty as it doesn't have the data keys otherwise
                If this causes errors set this condition to true and the state will refresh every time*/
                Object.keys(this.$store.state.board.board).length === 0
            ) {
                console.log("refreshing data");
                //await this.$store.dispatch('posts/loadPosts')
                const response = await axios.get(
                    this.$store.state.settings.host + "/board"
                );
                this.$store.state.board.board = response.data;
                //console.log(this.$store.state.board)
            }
        } catch (e) {
            e({
                statusCode: 503,
                message:
                    "Unable to fetch board at this time. Please try again.",
            });
        }
    },
    layout() {
        return "jarjesto";
    },
    data: function () {
        return {
            view: 0,
        };
    },
    computed: {
        board() {
            return this.$store.state.board.board;
        },
        host() {
            return this.$store.state.settings.host;
        },
    },
    head() {
        return {
            title: this.board.Title,
            meta: [
                {
                    hid: "description",
                    name: "description",
                    content: this.board.Greeting,
                },
                {
                    hid: "twitter:title",
                    name: "twitter:title",
                    content: "Serveri ry - " + this.board.Title,
                },
                {
                    hid: "twitter:description",
                    name: "twitter:description",
                    content: this.board.Greeting,
                },
                /*{
                    hid: "twitter:image",
                    name: "twitter:image",
                    content: this.ogImage,
                },*/
                {
                    hid: "og:title",
                    property: "og:title",
                    content: "Serveri ry - " + this.board.Title,
                },
                {
                    hid: "og:description",
                    property: "og:description",
                    content: this.board.Greeting,
                } /*
                {
                    hid: "og:image",
                    property: "og:image",
                    content: this.ogImage,
                },*/,
                {
                    hid: "og:url",
                    property: "og:url",
                    content:
                        this.$store.state.settings.baseurl + this.$route.path,
                },
            ],
        };
    },
    /*  methods: {
    playunder() {
      var myVideo = document.getElementById("video1"); 
        if (myVideo.paused) 
          myVideo.play(); 
        else 
          myVideo.pause(); 
    }
  }
};*/
};
</script>

