/* Colors */
$tech-green: #0F5A62;
$tech-dark: #0B4147; /* <- primary color */
$tech-blue: #2C9494;
$tech-light: #24D9ED;

/* Doesn't look good*/
$garbage-green: #244C3B;

$white-death-ray: #FFFFFF;
$white-quite-bright: #F0F0F0;
$white-dirty: #F0F0F0;

$ltt-ish: #DF5B28;
$orange-deep: #DF5B28;
$orange-deeper: #BA4D22;
$ltt-light: #F99C62;
$really-light: #E0D9CC;

//$black-almost: #0A0A0A;
$black-almost: #131313;
$black-more: #000000;
$gray-dark: #212121;

// grays
$table-gray: #1b1b1b;
