.corner {
    border-radius: 1rem;
}

.page-margin {
    margin-left: 8vw;
    margin-right: 8vw;
}

.page-content {
    background-color: $gray-dark;
    border-radius: 1em;
}

section {
    //margin-top: 3rem;
    //margin-bottom: 3rem;
}

pre {
    margin-top: 1rem;
    background-color: $black-almost;
    border-radius: 1em;
    padding: 1rem;
    max-width: 100%;
    //display: inline-block;

    code {
        display: inline-block;
        white-space: normal;
        max-width: 90%;
        font-size: 0.9rem;
        overflow-wrap: normal;
        word-break: normal;
        color: $tech-blue;
    }
}

.pointer {
    cursor: pointer;
}

.spacer {
    visibility: hidden;
    margin: 20px;
}

table {
    width: 100%;
    margin-top: 1rem;
    border-radius: 0.5em;
    border: none;
    border-collapse: collapse;
    border-left: 0;
    overflow: hidden;

    th {
        background-color: $tech-dark;
        //background-color: #1b1b1b;
        padding: 0.5em;
        text-align: left;
    }
    td {
        padding: 0.5em;
        //border-top: 1px solid $tech-green;

    }
    tr:nth-child(even) {
        background-color: $table-gray;
        border-radius: 0.5em;
    }
    background-color: #131313;
}

button {
    background-color: $ltt-ish;
    border: 0;
    border-radius: 1rem;
    color: white;
    padding: 0.2rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    @include nunito-regular;
    cursor: pointer;
}

details {
    padding: 0.8rem;
    margin: 0.5rem;
}

details[open] {
    border-radius: 1rem;
    background-color: $black-almost;
}

img {
    max-width: 100%;
}

.content-padding {
    padding: 1rem;
}

button:hover {
    background-color: $orange-deeper;
}


@media (max-width: 600px) {
    .page-margin {
        margin-left: 3vw;
        margin-right: 3vw;
    }

    .content-padding {
        padding: 0.5rem;
    }
}

@media (min-width: 1800px) {
    .page-margin {
        margin-left: 16vw;
        margin-right: 16vw;
    }
}
