@import '~/assets/scss/colors.scss';
@import '~/assets/scss/prepare.scss';
@import '~/assets/scss/fonts/nunito.scss';

/*
h5,
h6,
p,
span,
ul,
li {
  @include nunito-regular;
  color: white;
  word-break: break-word;
}
*/
h1,
h2,
h3,
h4 {
    //@include nunito-extra;
    color: white;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    word-break: break-word;

}

h5 {
    text-transform: uppercase;
}

h4,
h5,
h6,
li,
a,
span,
td,
tr,
th,
p,
details {
    font-family: sans-serif;
    color: $white-death-ray;
    @include nunito-regular;
}

p {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

h1,
h2,
h3 {
    font-family: sans-serif;
    color: $white-death-ray;
    @include nunito-extra;
}

h4 {
    font-size: 1.4rem;
}

th {
    font-weight: 800;
}

h2 {
    //margin-top: 1rem;
}

ul, 
ol {
    margin-left: 2em;
}

a, 
.link,
summary {
    color: $ltt-light;
    cursor: pointer;
}

a:hover,
.link:hover,
summary:hover {
    color: $orange-deep;
}

summary {
    font-size: 1.1rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

h5 {
    font-weight: 400;
    text-transform: uppercase;
}

h2 {
    font-size: 1.6rem;
}

strong {
    @include nunito-extra;
    color: $white-death-ray;
}

blockquote {
    font-size: 1.2rem;
    border-left: 10px solid $tech-blue;
    padding: 0.1em 10px;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.italic {
    font-style: italic;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1rem;
    }

    h4 {
        font-size: 1.4rem;
    }
    
    th {
        font-weight: 800;
    }
    
    ul, 
    ol {
        margin-left: 2em;
    }
    
    a, 
    .link,
    summary {
        color: $ltt-light;
        cursor: pointer;
    }
    
    summary {
        font-size: 1.1rem;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
    }
    
    h5 {
        font-weight: 400;
        text-transform: uppercase;
    }
    

    
}