<template>
  <div>
    <h2>Antell Round</h2>
    <!--<h5>Viikko {{ antellround.week }} - {{ antellround.week_days }} </h5>
    <p>{{ antellround.week_message.fi }}</p>-->

    <!--<div v-for="">

    </div>-->

  </div>
</template>

<script lang="ts">
export default {
  name: 'Antell',
  /*computed: {
    antellround() {
      return this.$store.state.food.antellround
    },
  },*/
}
</script>