<template>
  <nuxt-link :to="'/uutiset/' + post.url">
    <div v-if="post.cover.id" class="card-wrapper">
      <img class="cover" v-if="post.cover.formats.small" :src="this.$store.state.settings.host + post.cover.formats.small.url" loading="lazy" :alt="post.fi_title">
      <img class="cover" v-else-if="post.cover.formats.thumbnail" :src="this.$store.state.settings.host + post.cover.formats.thumbnail.url" loading="lazy" :alt="post.fi_title">
      <div class="content-padding text">
        <h2>{{ post.fi_title }}</h2>
        <h5>Julkaistu: {{ new Date(post.published_at).toLocaleString() }}</h5>
        <p v-html="post.fi_description"></p>
      </div>
    </div>
    <div v-else>
      <p>Looks like some post is missing cover image - contact board members. API and RSS may still work</p>
    </div>
  </nuxt-link>
</template>

<script>
import Vue from 'vue' //post.published_at.toLocaleString()

export default Vue.extend({
  props: {
    index: Object,
    post: Object
  },
  computed: {
    cover () {
      return this.post.coverurl;
    }
  }
})
</script>

<style scoped lang="scss">
@import '~/assets/scss/text.scss';
@import '~/assets/scss/styling.scss';

.card-wrapper {
  background-color: $tech-green;
  border-radius: 1em;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.cover {
  width: 100%;
  object-fit: cover;
  height: 15rem;
}

h2,
h3,
p {
  @include nunito-regular;
  word-break: break-word; 
}

h2 {
  @include nunito-extra;
  margin-bottom: 0.3rem;
}

h5 {
  margin-bottom: 0.3rem;
}

.text {
  padding-top: 0.3rem;
}
</style>
