<template>
  <div>
    <div class="menu-wrapper corner wrapper-corner fuckChrome">
      <div
        v-if="mobile"
        class="top-collapse collapse-btn"
        @click="toggleMenu"
        style="background-color: #2c9494"
      >
        <arrow-right
          style="height: 100%"
          class="rotateUp collapse-arrow"
          :class="{ rotateDown: menuOpen }"
        />
      </div>
      <div v-if="menuOpen">
        <!--<elements />-->
        <!--<nuxt-link class="link" to="/jarjesto">
          <div
            class="button top"
            :class="{ sidecurrent: this.current == 'jarjesto' }"
          >
            <p>Järjestö</p>
          </div>
        </nuxt-link>-->
        <nuxt-link class="link" to="/jarjesto/tietojenkasittelytiede">
          <!-- / symbol converts to - symbol -->
          <div
            class="button top"
            :class="{
              sidecurrent: this.current == 'jarjesto-tietojenkasittelytiede',
            }"
          >
            <p>Mitä on tietojenkäsittelytiede</p>
          </div>
        </nuxt-link>
        <nuxt-link class="link" to="/jarjesto/uudelle_opiskelijalle/">
          <!-- / symbol converts to - symbol -->
          <div
            class="button"
            :class="{
              sidecurrent:
                this.current == 'jarjesto-uudelle_opiskelijalle' ||
                this.current.startsWith('jarjesto-uudelle_opiskelijalle'),
            }"
          >
            <p>Uudelle opiskelijalle</p>
          </div>
        </nuxt-link>
        <div
          class="submenu"
          v-if="this.current.startsWith('jarjesto-uudelle_opiskelijalle')"
        >
          <nuxt-link to="/jarjesto/uudelle_opiskelijalle/tuutorit">
            <!-- / symbol converts to - symbol -->
            <div
              class="smallbutton"
              :class="{
                sidedark:
                  this.current == 'jarjesto-uudelle_opiskelijalle/tuutorit' ||
                  this.current.startsWith('jarjesto-uudelle_opiskelijalle/tuutorit'),
              }"
            >
              <p>Tuutorit</p>
            </div>
          </nuxt-link>
        </div>
        <nuxt-link class="link" to="/jarjesto/tapahtumakalenteri">
          <div
            class="button"
            :class="{
              sidecurrent: this.current == 'jarjesto-tapahtumakalenteri',
            }"
          >
            <p>Tapahtumakalenteri</p>
          </div>
        </nuxt-link>
        <nuxt-link class="link" to="/jarjesto/jasenyys">
          <div
            class="button"
            :class="{ sidecurrent: this.current == 'jarjesto-jasenyys' }"
          >
            <p>Jäsenyys</p>
          </div>
        </nuxt-link>
        <nuxt-link class="link" to="/jarjesto/saannot">
          <div
            class="button"
            :class="{ sidecurrent: this.current == 'jarjesto-saannot'||
                  this.current.startsWith('jarjesto-saannot') }"
          >
            <p>Säännöt</p>
          </div>
        </nuxt-link>
        <div
          class="submenu"
          v-if="this.current.startsWith('jarjesto-saannot')"
        >
          <nuxt-link to="/jarjesto/saannot/turvalliset-asiat">
            <!-- / symbol converts to - symbol -->
            <div
              class="smallbutton"
              :class="{
                sidedark:
                  this.current == 'jarjesto-uudelle_opiskelijalle/tuutorit' ||
                  this.current.startsWith('jarjesto-uudelle_opiskelijalle/tuutorit'),
              }"
            >
              <p>Turvalliset asiat</p>
            </div>
          </nuxt-link>
        </div>
                <nuxt-link class="link" to="/jarjesto/hallitus">
          <div
            class="button"
            :class="{ sidecurrent: this.current == 'jarjesto-hallitus' || this.current == 'jarjesto-dokumentit'}"
          >
            <p>Hallitus ja hallitustoiminta</p>
          </div>
        </nuxt-link>
        
        <div
          class="submenu"
          v-if="this.current.startsWith('jarjesto-hallitus') || this.current.startsWith('jarjesto-dokumentit')"
        >
          <nuxt-link to="/jarjesto/dokumentit">
            <!-- / symbol converts to - symbol -->
            <div
              class="smallbutton"
              :class="{
                sidedark:
                  this.current == 'jarjesto-uudelle_opiskelijalle/tuutorit' ||
                  this.current.startsWith('jarjesto-uudelle_opiskelijalle/tuutorit'),
              }"
            >
              <p>Dokumentit</p>
            </div>
          </nuxt-link>
        </div>
        <nuxt-link class="link" to="/jarjesto/toimikunnat">
          <div
            class="button"
            :class="{
              sidecurrent: this.current == 'jarjesto-toimikunnat',
            }"
          >
            <p>Toimikunnat</p>
          </div>
        </nuxt-link>
        <nuxt-link class="link" to="/jarjesto/yritysyhteistyo">
          <div
            class="button bottom"
            :class="{ sidecurrent: this.current == 'jarjesto-yritysyhteistyo' }"
          >
            <p>Yritysyhteistyö</p>
          </div>
        </nuxt-link>
        <!--<nuxt-link to="/jarjesto/koodiluola">
                  <div
            class="button bottom"
          >
            <p>Koodiluola</p>
          </div></nuxt-link>-->
      </div>
    </div>
  </div>
</template>

<script>
import ArrowRight from "./svg/arrow-right.vue";
//import elements from './../components/SubComponents/SideMenuElements.vue'

export default {
  name: 'SideMenu',
  data() {
    return {
      current: this.$route.name,
      menuOpen: true,
      mobile: true,
      window: {
        width: 0,
        height: 0,
      },
    };
  },
  components: {
    ArrowRight,
    //elements
  },
  watch: {
    $route(to, from) {
      this.current = to.name;
      /*console.log(this.current);
      if (this.isMobile()) {
        this.toggleMenu()
      }*/
    },
  },
  created() {
    if (process.client) {
      window.addEventListener("resize", this.handleResize);
      this.handleResize();
    }
  },
  destroyed() {
    if (process.client) {
      window.removeEventListener("resize", this.handleResize);
    }
  },
  methods: {
    handleResize() {
      if (process.client) {
        if (window.innerWidth > 600) {
          this.menuOpen = true;
        } else if (this.window.width < window.innerWidth) {
          this.menuOpen = false;
        }
        this.window.width = window.innerWidth;
        this.window.height = window.innerHeight;
      }
    },
    toggleMenu() {
      this.menuOpen = !this.menuOpen;
    },
    isMobile() {
      if (this.window.width < 600) {
        this.mobile = true;
      } else {
        this.mobile = false;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/colors.scss";
@import "~/assets/scss/prepare.scss";
@import "~/assets/scss/text.scss";
@import "~/assets/scss/styling.scss";

/*h1,
h2,
h3,
h4,
h5,
h6,
p {
  @include nunito-regular;
}*/
.menu-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  background-color: $gray-dark;
  cursor: pointer;
  .button {
    display: grid;
    align-items: center;
    height: 4em;
    padding-left: 1rem;
    cursor: pointer;
    p {
      cursor: pointer;
      font-size: 1.1rem;
    }
  }
  .smallbutton {
    display: grid;
    align-items: center;
    height: 3em;
    padding-left: 2rem;
    cursor: pointer;
    background-color: $black-more;
    p {
      cursor: pointer;
    }
  }
}

.sidecurrent {
  background-color: $tech-green;
}

.sidedark {
  background-color: $black-almost;
}

.button:hover {
  background-color: $tech-green;
}

.smallbutton:hover {
  background-color: $black-more;
}

.top {
  border-radius: 1rem 1rem 0 0;
}

.bottom {
  border-radius: 0 0 1rem 1rem;
}

.fuckChrome {
  -webkit-tap-highlight-color: transparent;
}

.collapse-btn {
  width: 100%;
  //position: fixed;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  visibility: hidden;
  height: 0;
}

.rotateUp {
  transform: rotate(-90deg);
}

.rotateDown {
  transform: rotate(90deg);
}

// Navbar styles for mobile devices
@media (max-width: 600px) {
  .collapse-btn {
    visibility: visible;
    position: sticky;
    top: 0;
  }

  .menu-wrapper {
    position: fixed;
    width: 100vw;
    bottom: 5rem;
    left: 0;
    max-height: 70vh;
    overflow-y: scroll;
  }

  .top-collapse {
    border-radius: 1rem 1rem 0 0;
    height: 3em;
  }

  .top {
    border-radius: 0;
  }
  .bottom {
    border-radius: 0;
  }

  .sidecurrent {
    background-color: $ltt-ish;
  }
  .corner {
    border-radius: 0;
  }

  .wrapper-corner {
    border-radius: 1rem 1rem 0 0;
  }

  .link {
    .button {
      p {
        font-size: 0.9rem;
      }
    }
  }

    .submenu {
    .smallbutton {
      p {
        font-size: 0.9rem;
      }
    }
  }
}

// Navbar styles for desktop devices
@media (min-width: 600px) {
  .wrapper-corner {
    border-radius: 1rem 1rem 1rem 1rem;
  }
}
</style>
