<template>
    <div class="underwater">
        <canvas id='bgCanvas'></canvas>
    </div>
</template>

<script>
export default {
    name: 'Underwater',
    mounted: function() {
        this.$hello(true)
    },
    beforeDestroy() {
        this.$bye(true)
    }

}
</script>

<!--<style lang="scss">
/*@import "compass/css3";*/

//html{height:100%;}
.underwater {
    position: fixed;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
}
body{
    margin:0;
    padding:0;
    height: 100%;
    //overflow: hidden;
    background: -webkit-radial-gradient(circle, #1a82f7, #2F2727);
    font-family: calibri, serif;
    color:#d9d9d9;
}
#block {
  float: left;
  height: 2000px;
}
#bgCanvas{
    width:100%;
    height:100%;
    z-index: 10;
    top:0;
    left:0;
    position: absolute;
    pointer-events: none;
}
</style>-->