<template>
    <div class="wrapper page-content content-padding">
        <div v-if="$fetchState.pending">
            <h1>Ladataan</h1>
        </div>
        <div v-else>
            <!--<p style="color: red">
                {{ this.$store.state.documents.documents[0].Documents[0] }}
            </p>-->
            <h1>Dokumentit</h1>
            <div v-for="document in documents" :key="document" class="">
                <h2>{{ document.Name }}</h2>
                <h5>Päivitetty: {{ new Date(document.updated_at).toLocaleString() }}</h5>
                
                <details v-for="individual in document.Documents" :key="individual">
                    <summary>{{ individual.Documentname }}</summary>
                    <div v-html="$md.render(individual.Content)"></div>
                </details>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";

export default {
    name: 'Dokumentit',
    async fetch() {
        try {
            if (
                /* Check if documents object is empty as it doesn't have the data keys otherwise
                If this causes errors set this condition to true and the state will refresh every time*/
                Object.keys(this.$store.state.documents.documents).length === 0
            ) {
                //await this.$store.dispatch('posts/loadPosts')
                const response = await axios.get(
                    this.$store.state.settings.host + "/annual-reports"
                );
                this.$store.state.documents.documents = response.data;
                //console.log(this.$store.state.documents)
            }
        } catch (e) {
            e({
                statusCode: 503,
                message:
                    "Unable to fetch documents at this time. Please try again.",
            });
        }
    },
    layout() {
        return "jarjesto";
    },
    data: function () {
        return {
            view: 0,
        }
    },
    computed: {
        documents() {
            return this.$store.state.documents.documents;
        },
        host() {
            return this.$store.state.settings.host;
        },
    },
    head() {
        return {
            title: "Dokumentit",
            meta: [
                {
                    hid: "description",
                    name: "description",
                    content:
                        "Serverin historiaa vajavaisen dokumenttiarkiston muodossa",
                },
                {
                    hid: "twitter:title",
                    name: "twitter:title",
                    content: "Serveri ry - Dokumentit",
                },
                {
                    hid: "twitter:description",
                    name: "twitter:description",
                    content:
                        "Serverin historiaa vajavaisen dokumenttiarkiston muodossa",
                },
                /*{
                    hid: "twitter:image",
                    name: "twitter:image",
                    content: this.ogImage,
                },*/
                {
                    hid: "og:title",
                    property: "og:title",
                    content: "Serveri ry - Dokumentit",
                },
                {
                    hid: "og:description",
                    property: "og:description",
                    content:
                        "Serverin historiaa vajavaisen dokumenttiarkiston muodossa",
                } /*
                {
                    hid: "og:image",
                    property: "og:image",
                    content: this.ogImage,
                },
                {
                    hid: "og:url",
                    property: "og:url",
                    content:
                        this.$store.state.settings.baseurl + this.route.path,
                },*/,
            ],
        };
    },
};
</script>

<style scoped lang="scss">
@import "~/assets/scss/colors.scss";
@import "~/assets/scss/prepare.scss";
@import "~/assets/scss/text.scss";
@import "~/assets/scss/styling.scss";
</style>
