<template>
    <div class="wrapper">
        <div class="page-content">
            <div v-if="organizationcover.cover">
                <!--<img
                    class="groupphoto"
                    v-if="organizationcover.cover.formats.medium"
                    :src="host + organizationcover.cover.formats.medium.url"
                    loading="lazy"
                    alt=""
                />
                <img
                    class="groupphoto"
                    v-else-if="organizationcover.cover.formats.small"
                    :src="host + organizationcover.cover.formats.small.url"
                    loading="lazy"
                    alt=""
                />
                <img
                    class="groupphoto"
                    v-else-if="organizationcover.cover.formats.thumbnail"
                    :src="host + organizationcover.cover.formats.thumbnail.url"
                    loading="lazy"
                    alt=""
                />-->
            </div>

            <div class="content-padding">
                <h1>Sivua ei enää ole</h1>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";

export default {
    name: 'Jarjesto',
    async fetch() {
        try {
            if (
                this.organizationcover.length === undefined ||
                this.organizationcover.length == 0 ||
                this.organizationcover.cover == undefined ||
                true
            ) {
                //await this.$store.dispatch('posts/loadPosts')
                const response = await axios.get(
                    this.$store.state.settings.host + "/organization-cover"
                );
                this.organizationcover = response.data;
            }
        } catch (e) {
            e({
                statusCode: 503,
                message:
                    "Unable to fetch cover at this time. Please try again.",
            });
        }
    },
    layout(context) {
        return "jarjesto";
    },
    data() {
        return {
            organizationcover: [],
        };
    },
    components: {},
    computed: {
        host() {
            return this.$store.state.settings.host;
        },
    },/*
    head() {
        return {
            title: "Järjestö",
            meta: [
                {
                    hid: "description",
                    name: "description",
                    content:
                        "Serveri ry on Itä-Suomen yliopiston Kuopion kampuksen tietojenkäsittelytieteen opiskelijoiden ainejärjestö. Järjestämme opiskelijoille vapaa-ajan toimintaa sekä opintojen tukemiseen liittyviä palveluita",
                },
                {
                    hid: "twitter:title",
                    name: "twitter:title",
                    content: "Ainejärjestö Serverin kotisivu",
                },
                {
                    hid: "twitter:description",
                    name: "twitter:description",
                    content:
                        "Serveri ry on Itä-Suomen yliopiston Kuopion kampuksen tietojenkäsittelytieteen opiskelijoiden ainejärjestö. Järjestämme opiskelijoille vapaa-ajan toimintaa sekä opintojen tukemiseen liittyviä palveluita",
                },
                {
                    hid: "twitter:image",
                    name: "twitter:image",
                    content: this.ogImage,
                },
                {
                    hid: "og:title",
                    property: "og:title",
                    content: "Serveri ry - Kotisivu",
                },
                {
                    hid: "og:description",
                    property: "og:description",
                    content:
                        "Serveri ry on Itä-Suomen yliopiston Kuopion kampuksen tietojenkäsittelytieteen opiskelijoiden ainejärjestö. Järjestämme opiskelijoille vapaa-ajan toimintaa sekä opintojen tukemiseen liittyviä palveluita",
                },
                {
                    hid: "og:image",
                    property: "og:image",
                    content: this.ogImage,
                },
                {
                    hid: "og:url",
                    property: "og:url",
                    content:
                        this.$store.state.settings.baseurl + this.$route.path,
                },
            ],
        };
    },*/
};
</script>

<style scoped lang="scss">
@import "~/assets/scss/colors.scss";
@import "~/assets/scss/prepare.scss";
@import "~/assets/scss/text.scss";
@import "~/assets/scss/styling.scss";

.wrapper {
    .page-content {
        background-color: $gray-dark;
        border-radius: 1em;
    }

    .groupphoto {
        width: 100%;
    }
}
</style>
