<template>
  <div class="wrapper page-content content-padding">
    <div class="benefits">
      <!-- wp:paragraph -->
      <p>
        Aktiivisen kampusalueella tapahtuvan toiminnan lisäksi Serveri
        neuvottelee etuja jäsenilleen. Jäsenedut ovat suoraan käytettävissä
        jäsenmaksun maksaneena, jäsenyys tarkistetaan aina suoraan
        jäsenrekisteristä.
      </p>
      <!-- /wp:paragraph -->

      <!-- wp:heading -->
      <h4>Haalarit jäsenhintaan</h4>
      <!-- /wp:heading -->

      <!-- wp:paragraph -->
      <p>
        Hinta vaihtelee vuosittain sponsoreiden anteliaisuuden mukaan, mutta
        voit olla varma että jäsenenä saat merkittävän alennuksen.
      </p>
      <!-- /wp:paragraph -->

      <!-- wp:heading -->
      <h4>Ainejärjestön reissut ja excursiot reilulla alennuksella</h4>
      <!-- /wp:heading -->

      <!-- wp:heading -->
      <h4>Osallistuminen Serverin sitseille myöskin jäsenhintaan</h4>
      <!-- /wp:heading -->

      <!-- wp:heading -->
      <h4>Pääset Serverin sähköpostilistalle</h4>
      <!-- /wp:heading -->

      <!-- wp:heading -->
      <h4>Oikeus lähteä mukaan hallitustoimintaan</h4>
      <!-- /wp:heading -->

      <h4>Pääsy Serverin Gitlabiin (pyytämällä oikeutta Gitlabissa)</h4>
      <!-- wp:paragraph -->
      <p></p>
      <!-- /wp:paragraph -->
      <hr class="spacer">
    </div>
    <div class="join">
      <h1>Jäseneksi liittyminen</h1>


      <h3>Uutta! Jäseneksi voi liittyä nyt hieman elegantimmin</h3>
      <p>Alla oleva nappi vie Stripen lomakkeelle jolla maksu ja tiedot 
        käsitellään. Liittymällä hyväksyt tietosuoja- ja rekisteriehdot</p>
        <nuxt-link to="/tietosuoja">Rekisteri- ja tietosuojaseloste</nuxt-link>
      <p>Ongelmatilanteessa ota yhteyttä <a href="https://t.me/jimboolio" target="_blank">@jimboolio</a>:on Telegramissa</p>
      <button @click="checkout" role="link" title="Stripen maksupalvelu ei ole maailman nopein">Liity jäseneksi</button>
      

      <hr class="spacer">
      <hr>
      <h4>Vanha mutta edelleen toimiva tapa liittyä - jos uusi tapa on räjähtänyt:</h4>
      <p>Serverin jäseneksi voit liittyä maksamalla kertamaksun 25 euroa Serverin
      tilille (Nordea FI87 1078 3000 2205 16) Jos olet saanut jäsenmaksullesi
      maksuviitteen, käytä sitä. Muuten laita maksun viestikenttään nimesi.</p>
      <!--Muuten käytä viitettä <strong>1339</strong>-->

      <p>Tämän jälkeen lähetä nimesi ja jäsenrekisteriin kirjattava
      sähköpostiosoitteesi osoitteeseen hallitus at serveriry.fi
      Tietosuojaselosteen löydät osoitteesta
      <a href="https://www.serveriry.fi/tietosuojaseloste/"
        >https://www.serveriry.fi/tietosuojaseloste/</a
      >

      Tämän jälkeen hallitus hyväksyy uudet jäsenet kuukausittaisessa
      kokouksessa. Hyväksytyille jäsenille ilmoitetaan sähköpostitse.</p>
    </div>
  </div>
</template>

<script>
import stripeCheckoutMixin from '~/mixins/stripeCheckoutMixin'

export default {
  name: 'Jasenyys',
  layout() {
    return 'jarjesto'
  },
  ssr: false,
  mixins: [stripeCheckoutMixin],
  data: function() {
    return {
      sku: "price_1ITbiAJDSgIVe88E87x1T1lX",
      successUrl: this.$store.state.settings.baseurl + "/jarjesto/liity/onnistui",
      cancelUrl: this.$store.state.settings.baseurl + "/jarjesto/jasenyys"
    }
  },
  components: {},
  head() {
        return {
            title: "Jäseneksi liittyminen",
            meta: [
                {
                    hid: "description",
                    name: "description",
                    content:
                        "Serverin jäsenenä pääset nauttimaan tietojenkäsittelytieteen parhaista opiskelijaeduista sekä tuet yhteisöllisyyttä ja uusien opiskelijoiden ryhmäytymistä, sekä työllistymistä.",
                },
                {
                    hid: "twitter:title",
                    name: "twitter:title",
                    content: "Serveri ry - Jäseneksi liittyminen",
                },
                {
                    hid: "twitter:description",
                    name: "twitter:description",
                    content: "Serverin jäsenenä pääset nauttimaan tietojenkäsittelytieteen parhaista opiskelijaeduista sekä tuet yhteisöllisyyttä ja uusien opiskelijoiden ryhmäytymistä, sekä työllistymistä.",
                },
                /*{
                    hid: "twitter:image",
                    name: "twitter:image",
                    content: this.ogImage,
                },*/
                {
                    hid: "og:title",
                    property: "og:title",
                    content: "Serveri ry - Jäseneksi liittyminen",
                },
                {
                    hid: "og:description",
                    property: "og:description",
                    content: "Serverin jäsenenä pääset nauttimaan tietojenkäsittelytieteen parhaista opiskelijaeduista sekä tuet yhteisöllisyyttä ja uusien opiskelijoiden ryhmäytymistä, sekä työllistymistä.",
                },/*
                {
                    hid: "og:image",
                    property: "og:image",
                    content: this.ogImage,
                },*/
                {
                    hid: "og:url",
                    property: "og:url",
                    content:
                        this.$store.state.settings.baseurl + this.$route.path,
                },
            ],
        };
    },
}
</script>

<style scoped lang="scss">
@import '~/assets/scss/colors.scss';
@import '~/assets/scss/prepare.scss';
@import '~/assets/scss/text.scss';
@import '~/assets/scss/styling.scss';

</style>
