<template>
  <div class="wrapper">
    <p>Voit lisätä kalenterin allaolevalla linkillä</p>
    <a href="webcals://cloud.serveriry.fi/remote.php/dav/public-calendars/CKod8NpPd6QaK2to/?export">webcals://cloud.serveriry.fi/remote.php/dav/public-calendars/CKod8NpPd6QaK2to/?export</a>
    <iframe
      v-if="this.loaded"
      width="100%"
      height="600rem"
      src="https://cloud.serveriry.fi/apps/calendar/embed/CKod8NpPd6QaK2to"
      @load="load()"
    ></iframe>
    <div v-else>
      <p>Kalenteri tulee suunnilleen tähän kohta</p>
      <p>Jos upotus ei toimi niin <a href="https://cloud.serveriry.fi/apps/calendar/embed/CKod8NpPd6QaK2to">tässä suora linkki</a>.</p>
    </div>
    <p>{{load()}}</p>
  </div>
</template>

<script>
import Vue from 'vue'

export default {
  name: 'Tapahtumakalenteri',
  layout() {
    return 'jarjesto'
  },
  data: function () {
    return {
      view: 0,
      loaded: false
    }
  },
  components: {},
  methods: {
    load: function(){
    	this.loaded = true;
    }
  },
  head() {
        return {
            title: "Tapahtumakalenteri",
            meta: [
                {
                    hid: "description",
                    name: "description",
                    content:
                        "Tulevat ainejärjestön ja muiden tietojenkäsittelytieteen opiskelijoille oleellisten tapahtumien kalenteri.",
                },
                {
                    hid: "twitter:title",
                    name: "twitter:title",
                    content: "Serveri ry - Tapahtumakalenteri",
                },
                {
                    hid: "twitter:description",
                    name: "twitter:description",
                    content: "Tulevat ainejärjestön ja muiden tietojenkäsittelytieteen opiskelijoille oleellisten tapahtumien kalenteri.",
                },
                /*{
                    hid: "twitter:image",
                    name: "twitter:image",
                    content: this.ogImage,
                },*/
                {
                    hid: "og:title",
                    property: "og:title",
                    content: "Serveri ry - Tapahtumakalenteri",
                },
                {
                    hid: "og:description",
                    property: "og:description",
                    content: "Tulevat ainejärjestön ja muiden tietojenkäsittelytieteen opiskelijoille oleellisten tapahtumien kalenteri.",
                },/*
                {
                    hid: "og:image",
                    property: "og:image",
                    content: this.ogImage,
                },*/
                {
                    hid: "og:url",
                    property: "og:url",
                    content:
                        this.$store.state.settings.baseurl + this.$route.path,
                },
            ],
        };
    },
}
</script>

<style scoped lang="scss">
@import '~/assets/scss/colors.scss';
@import '~/assets/scss/prepare.scss';
@import '~/assets/scss/text.scss';
@import '~/assets/scss/styling.scss';

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @include nunito-regular;
}
.wrapper {
  width: 100%;
}
</style>
