<template>
  <div class="wrapper page-content content-padding">
    <h1>Millaista tietojenkäsittelytieteen opiskelu on?</h1>
    <h4>
      Jos mietit kannattaisiko alaa alkaa opiskelemaan niin olet oikealla
      sivulla
    </h4>
    <p>
      Tietojenkäsittelytiede on aavistuksen näsäviisaasti ilmaistuna tiedettä
      tiedon käsittelystä. Nykyään tietojenkäsittelytiede hyödyntää vahvasti
      digitaalisia järjestelmiä. Käytännössä tietojenkäsittelytieteeseen kuuluu
      siis tiedon keräämiseen, tallentamiseen, välittämiseen, näyttämiseen,
      muuntamiseen sekä käsittelyyn liittyviä aihepiirejä. Käytännössä parhaan
      kuvan tietojenkäsittelytieteen tutkinnon rakenteesta Itä-Suomen
      yliopistossa saat kurssikuvauksista, jotka löydät alta. Kurssit ovat
      osapuilleen samat Kuopiossa ja Joensuussa, ainut isompi muuttuja on
      sivuainemahdollisuudet ja se että Serveriläiset opiskelevat Kuopiossa.
      (Joensuussa tietojenkäsittelytieteen ainejärjestönä toimii
      <a href="https://www.skripti.org/">Skripti ry</a>)
    </p>

    <p>Tietojenkäsittelytiede lehtorimme, Erkki Pesosen esittelemänä:</p>
    <a href="https://youtu.be/PMIhWO6C_FY">https://youtu.be/PMIhWO6C_FY</a>
    <br /><br />

    <h2>UEF tietojenkäsittelytieteen opintorakenne</h2>
    <p>
      Alla olevassa taulukkokokoelmassa on nähtävillä tietojenkäsittelytieteen
      pääaineeseen kuuluvat kurssit kurssiselosteineen sellaisina kuin ne oli
      kopioitaessa keväällä 2021.
    </p>
    <h3><strong>Yleisopinnot</strong></h3>
    <p>
      Yleisopinnot tukevat opiskelua erityisesti ensimmäisenä opiskeluvuotena.
    </p>
    <table>
      <caption>UEF tietojenkäsittelytieteen yleisopinnot</caption>
      <tbody>
        <tr>
          <th width="198">
            <p><strong>Opintojakso</strong></p>
          </th>
          <th width="393">
            <p><strong>Kurssikuvaus</strong></p>
          </th>
          <th width="137">
            <p><strong>Laajuus (opintopisteet)</strong></p>
          </th>
        </tr>
        <tr>
          <td width="198">
            <p>Hops-tietojenkäsittelytiede</p>
          </td>
          <td width="393">
            <p>(Hops = henkilökohtainen opintosuunnitelma)</p>
          </td>
          <td width="137">
            <p>2</p>
          </td>
        </tr>
        <tr>
          <td width="198">
            <p>Orientaatio yliopisto-opiskeluun</p>
          </td>
          <td width="393">
            <p>
              Opiskelija tutustuu oppiaine- ja vertaistuutoroinnin,
              verkkomateriaalin, erilaisten orientaatiotapahtumien sekä
              oheismateriaalin avulla yliopistoon opiskeluympäristönä ja
              oppimisyhteisönä. Erityisesti tutustutaan oman oppiaineen
              opiskelukäytäntöihin ja opiskelua tukeviin palveluihin. Lisäksi
              saadaan tietoa akateemisen opiskelun edellyttämistä tiedoista ja
              taidoista sekä opiskelukyvystä ja sen ylläpitämisestä.
            </p>
          </td>
          <td width="137">
            <p>1</p>
          </td>
        </tr>
        <tr>
          <td width="198">
            <p>Tieto- ja viestintätekniikka opiskelun tukena</p>
          </td>
          <td width="393">
            <p>
              Internetin edistyksellinen käyttö. Tietoturva, tekijänoikeudet ja
              sosiaalinen media opiskelussa.
            </p>
            <p>Pdf-tiedoston luominen.</p>
            <p>Office 365 ympäristö henkilökohtaisena oppimisympäristönä.</p>
            <p>
              Tekstinkäsittely (tekstin muokkaus ja muotoilu, listan muokkaus,
              ala- ja loppuviite, taulukon lisäys ja muokkaus, kuvan lisäys ja
              muokkaus, tyylin päivittäminen, ylä- ja alatunnisteet,
              sivunumerointi, otsikointi, sisällysluettelo).
            </p>
            <p>
              Esitysgrafiikan perusteet (dian muokkaus, muodot, teemojen käyttö,
              diatunnisteet).
            </p>
            <p>
              Taulukkolaskennan perusteet (taulukon muokkaus, perusfunktiot,
              kaavion luominen ja muokkaaminen).
            </p>
            <p>Yliopisto-opiskelun keskeiset verkkoresurssit.</p>
          </td>
          <td width="137">
            <p>2</p>
          </td>
        </tr>
      </tbody>
    </table>

    <hr class="spacer" />

    <h3>Perusopinnot</h3>
    <p>
      Perusopinnot antavat kokonaiskuvan tietojenkäsittelytieteestä ja
      rakentavat perustan aineopintojen kursseille.
    </p>

    <table>
      <caption>UEF tietojenkäsittelytieteen perusopinnot</caption>
      <tbody>
        <tr>
          <th width="198">
            <p><strong>Opintojakso</strong></p>
          </th>
          <th width="396">
            <p><strong>Kurssikuvaus</strong></p>
          </th>
          <th width="133">
            <p><strong>Laajuus (opintopisteet)</strong></p>
          </th>
        </tr>
        <tr>
          <td width="198">
            <p>Johdatus tietojenkäsittelyyn</p>
          </td>
          <td width="396">
            <p>
              Informaatio, sen esittäminen ja tallentaminen ja sen
              käsittelemisen automatisointi. Ohjelmointi, ohjelmointikielet, ja
              kuinka niillä luodaan ohjelmia ja ohjelmistoja. Tiedon
              mallintaminen, tietokannat, tietoverkot ja kuinka tietoa
              hallitaan. Laskennan rajat. Suunnittelu, design ja älykkäät
              järjestelmät. Tietojenkäsittelyn ja tietojenkäsittelijän tehtävät
              ja vastuut yhteiskunnassa.
            </p>
          </td>
          <td width="133">
            <p>5</p>
          </td>
        </tr>
        <tr>
          <td width="198">
            <p>Ohjelmointi I - Ohjelmoinnin perusteet</p>
          </td>
          <td width="396">
            <p>
              Johdatus ohjelmointiin: ohjelmiin perehtyminen,
              perusohjausrakenteet (peräkkäisyys, ehto, valinta)
              käyttötarkoituksineen, syöttö, tulostus ja tiedostonkäsittely,
              muuttujat, taulukot ja niiden käyttötavat, merkkijonot,
              modulaarisuuden idea ja hyödyntäminen funktioilla ja ohjelmien
              testaus.
            </p>
          </td>
          <td width="133">
            <p>5</p>
          </td>
        </tr>
        <tr>
          <td width="198">
            <p>Tietojärjestelmän suunnittelu</p>
          </td>
          <td width="396">
            <p>
              Erilaiset (viite)kehykset auttavat kuvaamaan kohdealueen rakenteen
              ja määrittelevät keskeiset termit sekä auttavat kuvaamaan
              kohdealueen rakenteeseen kuuluvia elementtejä (tai entiteettejä)
              ja niiden välisiä suhteita (puhutaan metamalleista) &ndash;
              opetellaan hyödyntämään erilaisia sanastoja, standardeja ja
              kehittämiseen tarkoitettuja viitekehyksiä ja kuvauksia sekä
              opetellaan tekemään erilaisia tietojärjestelmän suunnitteluun
              kuuluvia kaavioita esimerkiksi ArchiMate-notaatiota tukevalla
              Archi-työkalulla tai UML-notaatiota tukevilla Visio-malleilla.
              Erilaiset kehitysalusta, kuten Azure DevOps, tarjoavat erilaisia
              työprosesseja (kuten Agile) &ndash; opetellaan allokoimaan
              tuotteen kehitysjonon ominaisuuksia esimerkiksi Azure DevOpsin
              avulla. Erityisesti kurssilla opetellaan suunnittelukuvausten
              sisällön ristiriidattomuutta alkaen epiikkimäisestä aiheesta,
              tarkentuen käyttäytymis- ja rakenne-elementteihin ja edelleen
              tietohakemisto- ja operaatiokuvauksiin, jotka tukevat
              sovelluskehitystä ja muuta tietojen hyödyntämistä esimerkiksi
              raportoinnissa.
            </p>
          </td>
          <td width="133">
            <p>5</p>
          </td>
        </tr>
        <tr>
          <td width="198">
            <p>Ihminen ja vuorovaikutteinen teknologia</p>
          </td>
          <td width="396">
            <p>
              Johdatus ihmisen ja koneen väliseen vuorovaikutukseen ja
              käyttäjäkeskeiseen suunnitteluun. Alan peruskäsitteet, erilaiset
              vuorovaikutustavat ja -välineet. Käytettävyys ja käyttäjäkokemus.
              Vuorovaikutuslaitteet ja erilaiset käyttöliittymät.
              Käyttöliittymien suunnittelun perusteet. Graafisten
              käyttöliittymien suunnittelu ja arviointi.
            </p>
          </td>
          <td width="133">
            <p>5</p>
          </td>
        </tr>
        <tr>
          <td width="198">
            <p>Tietokonejärjestelmät</p>
          </td>
          <td width="396">
            <p>
              Tietojärjestelmien perusteet; keskusyksikön osat, tehtävät ja
              toiminnat; tietokoneen muisti ja muistinhallinta;
              käyttöjärjestelmän periaatteet ja toiminta; loppukäyttäjän
              laiteet; IT-infrastruktuurin perusteet ja rakenne. Syventävä
              itseopiskeluosuus opintojakson sisältöä laajentavien aihealueiden
              pohjalta.
            </p>
          </td>
          <td width="133">
            <p>5</p>
          </td>
        </tr>
      </tbody>
    </table>

    <hr class="spacer" />

    <h3>Aineopinnot</h3>
    <p>
      Aineopintojen kursseilla opiskellaan tietojenkäsittelytieteen keskeiset
      perusasiat, jotka antavat teoreettiset perustiedot ja käytännön osaamista
      alan tehtäviin. Tämä muodostaa pohjan maisteriopinnoille.
    </p>
    <p><strong></strong></p>
    <table>
      <caption>UEF tietojenkäsittelytieteen aineopinnot</caption>
      <tbody>
        <tr>
          <th width="204">
            <p><strong>Opintojakso</strong></p>
          </th>
          <th width="388">
            <p><strong>Kurssikuvaus</strong></p>
          </th>
          <th width="137">
            <p><strong>Laajuus (opintopisteet)</strong></p>
          </th>
        </tr>
        <tr>
          <td width="204">
            <p>Diskreetit rakenteet</p>
          </td>
          <td width="388">
            <p>
              Propositio- ja predikaattilogiikka, joukko-oppi, funktiot ja
              relaatiot, kombinatoriikka, graafiteoria, matemaattinen induktio
            </p>
          </td>
          <td width="137">
            <p>5</p>
          </td>
        </tr>
        <tr>
          <td width="204">
            <p>Ohjelmointi II</p>
          </td>
          <td width="388">
            <p>
              Olio-ajattelu ja mallintaminen, luokat ja oliot, tiedon kätkentä,
              luokka- ja oliokohtaiset muuttujat, luokka- ja oliokohtaiset
              metodit, rakentaja ja tuhoaja, periytyminen (on jotakin -suhde),
              monimuotoisuus, abstraktit luokat, rajapintaluokat, osasuhde ja
              käyttösuhde (on jollakin -suhde), säikeet, poikkeukset olioiden
              kannalta. Tapahtuma-ohjattu ohjelmointi, säiliöluokat ja
              geneeriset luokat.
            </p>
          </td>
          <td width="137">
            <p>5</p>
          </td>
        </tr>
        <tr>
          <td width="204">
            <p>Tiedonhallinta ja SQL</p>
          </td>
          <td width="388">
            <p>
              Tiedonhallinta käsitteenä; relaatiotietokantojen suunnittelu;
              käsiteanalyysi ja ER-kaavio; tietomallit; SQL-kielen perusteet;
              tietokannanhallintajärjestelmät (esim. MariaDB); pienimuotoinen
              tietokantoihin perustuva sovelluskehitys
            </p>
          </td>
          <td width="137">
            <p>5</p>
          </td>
        </tr>
        <tr>
          <td width="204">
            <p>Ohjelmistotuotanto I</p>
          </td>
          <td width="388">
            <p>
              Teoria 2 op + projekti/harjoitustyö 3 op. Vaatimustenhallinta.
              Elinkaarimallit. Ohjelmistoprojektin hallinta. Johdantoa
              tietojärjestelmien ja ohjelmistotekniikan käsitteisiin ja
              ohjelmistotyön ongelmia. Dokumentointi. Projektissa:
              projektikortti - arvioitu aikataulu, projektin seuranta - oman
              ajankäytön seuranta, toteutus, loppuraportti, katselmointi ja
              palaverikäytännöt, arkkitehtuurisuunnitelma annetaan valmiina
              perusteluineen
            </p>
          </td>
          <td width="137">
            <p>5</p>
          </td>
        </tr>
        <tr>
          <td width="204">
            <p>Web-ohjelmointi</p>
          </td>
          <td width="388">
            <p>
              HTML5 ja CSS. JavaScript perusteet. CSS- ja JavaScript-kirjaston
              hyödyntäminen
            </p>
          </td>
          <td width="137">
            <p>5</p>
          </td>
        </tr>
        <tr>
          <td width="204">
            <p>Tietorakenteet ja algoritmit I</p>
          </td>
          <td width="388">
            <p>
              Algoritmit ja aikavaativuusanalyysi. Abstraktit tietotyypit.
              Tietorakenteiden toteuttaminen. Haku- ja lajittelualgoritmit.
              Rekursiiviset algoritmitoteutukset.
            </p>
          </td>
          <td width="137">
            <p>5</p>
          </td>
        </tr>
        <tr>
          <td width="204">
            <p>Tietorakenteet ja algoritmit II</p>
          </td>
          <td width="388">
            <p>
              Algoritmit ja aikavaativuusanalyysi. Graafit, graafialgoritmit ja
              niiden soveltaminen. Kokeellinen aikavaativuusanalyysi.
              Massamuistia tehokkaasti käyttävät algoritmit.
            </p>
          </td>
          <td width="137">
            <p>4</p>
          </td>
        </tr>
        <tr>
          <td width="204">
            <p>Laskennan perusmallit</p>
          </td>
          <td width="388">
            <p>
              Tietojenkäsittelyteorian alkeiden hallinta. Säännöllisten kielten
              ja kontekstittomien kielten kuvaamisessa ja käsittelemisessä
              tarvittavien perusvälineiden ja -tekniikoiden hallinta. Käsitys
              laskettavuuden ja ratkeavuuden perusteista, Churchin-Turingin
              teesistä ja näiden keskeisistä perusteluista ja seurauksista.
            </p>
          </td>
          <td width="137">
            <p>3</p>
          </td>
        </tr>
        <tr>
          <td width="204">
            <p>Ohjelmistotuotanto II</p>
          </td>
          <td width="388">
            <p>
              UML. Versionhallinta. Projektinhallintajärjestelmä (MS-project).
              Testaus. Iteratiiviset mallit. Projektin seuranta - projektityön
              mittarointi (dashboards, riskinhallinta).
              Arkkitehtuurisuunnittelua. Määrittely. Projekti: ulkoinen
              asiakas/projektiryhmän oma aihe.
            </p>
          </td>
          <td width="137">
            <p>10</p>
          </td>
        </tr>
        <tr>
          <td width="204">
            <p>Johdatus tietoturvaan</p>
          </td>
          <td width="388">
            <p>
              Tietoturvan perusteet, tietoturvan termistö, kryptografia,
              autentikointi, pääsynvalvonta, tietokantojen tietoturva,
              pilvipalveluiden tietoturva, haittaohjelmat,
              palvelunestohyökkäykset, palomuurit, hyökkäysten
              havaitsemis-/estojärjestelmät, verkkoturvallisuus, langaton
              tietoturva, IoT-laitteiden tietoturva, fyysinen tietoturva,
              organisaation tietoturvapolitiikka, GDPR-tietosuoja-asetus.
            </p>
          </td>
          <td width="137">
            <p>5</p>
          </td>
        </tr>
        <tr>
          <td width="204">
            <p>Hajautetut ja samanaikaiset järjestelmät</p>
          </td>
          <td width="388">
            <p>
              Hajautetun järjestelmän peruskäsitteet ja haasteet. Hajautetun
              järjestelmän mallit (rakenne-, vuorovaikutus-, vika- ja
              turvallisuusmallit). Kommunikaatio ja kommunikaatioprotokollat
              hajautetuissa järjestelmissä. Hajautetun järjestelmän tietoturva.
              Samanaikaisuuden peruskäsitteet ja haasteet. Säikeiden
              koordinointi ja säikeiden välinen kommunikaatio.
            </p>
          </td>
          <td width="137">
            <p>5</p>
          </td>
        </tr>
        <tr>
          <td width="204">
            <p>Aineopintojen seminaari</p>
          </td>
          <td width="388">
            <p>
              Kandidaatin tutkielmaan liittyvän kirjallisuuskatsauksen
              tekeminen, tutkimussuunnitelman tekeminen, ja tutkielmaan
              liittyvän seminaariesityksen pitäminen sekä muiden pitämien
              seminaariesitelmien arvioiminen. Seminaari tehdään samanaikaisesti
              kandidaatin tutkielman kanssa.
            </p>
          </td>
          <td width="137">
            <p>2</p>
          </td>
        </tr>
        <tr>
          <td width="204">
            <p>LuK-tutkielma ja kypsyysnäyte</p>
          </td>
          <td width="388">
            <p>
              Tutkimussuunnitelman ja tieteellisen tutkielman laatiminen
              annetusta tutkimusaiheesta. Tutkielma laaditaan aineopintojen
              seminaarissa annettujen ohjeiden mukaisesti nimetyn ohjaajan
              valvonnassa. Tutkielma esitellään suullisesti aineopintojen
              seminaarissa.
            </p>
          </td>
          <td width="137">
            <p>6</p>
          </td>
        </tr>
      </tbody>
    </table>

    <hr class="spacer" />

    <h3>Valinnaiset aineopinnot</h3>
    <p>
      Valinnaisia aineopintoja kuuluu tutkintoon vähintään 5 op. Ne sijoittuvat
      toiseen ja kolmanteen opiskeluvuoteen. Kurssit käsittelevät
      tietojenkäsittelyn erilaisia kiinnostavia osa-alueita, jotka tukevat
      ammatillista osaamista ja antavat osaltaan pohjaa maisteriopinnoille.
    </p>
    <p><strong></strong></p>
    <table>
      <caption>UEF tietojenkäsittelytieteen valinnaiset aineopinnot</caption>
      <tbody>
        <tr>
          <th width="201">
            <p><strong>Opintojakso</strong></p>
          </th>
          <th width="393">
            <p><strong>Kurssikuvaus</strong></p>
          </th>
          <th width="135">
            <p><strong>Laajuus (opintopisteet)</strong></p>
          </th>
        </tr>
        <tr>
          <td width="201">
            <p>Aineopintojen harjoitustyö</p>
          </td>
          <td width="393"></td>
          <td width="135">
            <p>2-5</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>Aineopintojen harjoittelu</p>
          </td>
          <td width="393">
            <p>
              Kahden tai kolmen kuukauden harjoittelu yrityksessä sisältäen
              esim. ohjelmointia, määrittelyä, suunnittelua, dokumentointia,
              testausta ja/tai ylläpitoa. Opintojakso vain pääaineena tkt:ta
              lukeville.
            </p>
          </td>
          <td width="135">
            <p>5-8</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>Robotiikka</p>
          </td>
          <td width="393">
            <p>
              Robotiikkaa yhteiskunnassa. Robotiikan perusteet: robottien
              rakenne, sensorit ja aktuaattorit, ohjelmointiympäristöt sekä ROS
              (Robotics Operating System), Lego Mindstorms &ndash;projekteja,
              Arduino-robotiikka, elektroniikka Arduinoissa, sensorit ja
              aktuaattorit, Arduino-projekteja, navingointi- ja
              suunnittelualgoritmit robotiikassa, koneoppimis- ja
              optimointialgoritmit robotiikassa. Lopputyö.
            </p>
          </td>
          <td width="135">
            <p>4</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>Johdatus testaukseen</p>
          </td>
          <td width="393">
            <p>
              Ohjelmistovirheet, testauksen vaiheet, testausmenetelmät,
              regressiotestaus, testauksen automatisointi, testausprosessin
              kehittäminen
            </p>
          </td>
          <td width="135">
            <p>4</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>
              <br />
              Johdatus sulautettuihin järjestelmiin
            </p>
          </td>
          <td width="393">
            <p>
              Sulautettujen järjestelmien määritelmiä, piirteitä ja esimerkkejä
              eri sovellusalueilta. Laitemarkkinat ja työllistävä vaikutus.
              Sulautetun järjestelmän suunnitteluprosessi. Termejä ja
              käsitteitä, esim. logiikat, ajoitukset, väylät. Ohjelmistot ja
              ohjelmointi. Reaaliaikajärjestelmät. Testaus. Ympäristönäkökulmat.
            </p>
          </td>
          <td width="135">
            <p>4</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>Android ohjelmoinnin perusteet</p>
          </td>
          <td width="393">
            <p>
              Kurssilla tutustutaan mobiiliohjelmoinnin perusteisiin ja
              erityispiirteisiin sekä erityisesti Android-alustalle
              rakennettavien mobiilisovellusten tekemiseen Android Studio
              ympäristössä. Kurssilla käydään läpi seuraavia aihepiirejä:
            </p>
            <p>
              &middot; Graafisen käyttöliittymän rakentaminen, asettelu ja
              komponentit.
            </p>
            <p>&middot; Ohjelman ajaminen emulaattorilla.</p>
            <p>
              &middot; Käyttöliittymää määrittelevät XML-tiedostot ja niiden
              muokkaus.
            </p>
            <p>&middot; Ohjelman toiminnallisuuden määrittelevät tiedostot.</p>
            <p>&middot; Kuvien ja viestien käyttö.</p>
            <p>&middot; Kosketuksen käsittely, piirtäminen.</p>
            <p>&middot; Valikot sekä äänet.</p>
          </td>
          <td width="135">
            <p>4</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>Johdatus algoritmiseen data-analyysiin</p>
          </td>
          <td width="393">
            <p>
              Data-analyysin vaiheet. Kuvailevan ja ennustavan data-analyysin
              peruskäsitteet. Assosiaatiosääntöjen ja kattavien joukkojen
              louhinta. Yleisimmät ryhmittelyalgoritmit. Verkkojen analysoinnin
              perusteet. Päätöspuut, naiivi Bayes -luokkitelijat ja lineaariset
              luokittelijat. Ydinkikka. Tulosten merkitsevyyden testaus.
              Poikkeuksien havaitseminen ja analysointi. Yksityisyys ja
              syrjiminen data-analyysissä. Menetelmien tehokas toteutus
            </p>
          </td>
          <td width="135">
            <p>4</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>Liiketoiminta keskeinen data-analytiikka</p>
          </td>
          <td width="393"></td>
          <td width="135">
            <p>4</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>Datasta näkemyksiä</p>
          </td>
          <td width="393">
            <p>
              Datasta saadaan näkemyksiä (eli merkityksellisiä tietoja) esille
              hyödyntämällä ohjelmointikielien kirjastoja tai käyttämällä
              erilaisia valmisohjelmistoja &ndash; opetellaan erilaisten
              valmisohjelmistojen avulla tuottamaan automaattisesti datasta
              esimerkiksi ennakointimalleja ja pikanäkemyksiä, jotka auttavat
              kiinnittämään huomiota esimerkiksi poikkeamiin ja trendeihin.
              Erilaisten automaattisti tuotettujen ennakointimallien ja
              pikanäkemysten pohjalta voidaan muodostaa tarkentavia kysymyksiä
              ja tunnistaa datasta muuttujia, jotka kannattaa huomioida
              esimerkiksi piirresuunnittelussa &ndash; opetellaan kuvailemaan
              data-aineiston muuttujat ja arvioimaan data-aineistojen
              käyttökelpoisuutta. Lisäksi opetellaan muuntamaan dataa ja
              yhdistelemään erilaisia data-aineistoja tarkoituksellisien
              analyysien ja tilannekuvien tekemiseksi.
            </p>
          </td>
          <td width="135">
            <p>4</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>Digitaalisten oppimisympäristojen toteutusteknologiat</p>
          </td>
          <td width="393">
            <p>
              Opettajan rooli ja pedagogiset ratkaisut digitaalisissa
              oppimisympäristöissä, oppimisympäristöjen suunnittelu- ja
              arviointinäkökohdat. Virtuaaliset ja mobiilit oppimisympäristöt,
              robotiikka ja sulautetut järjestelmät opetuksessa, esineiden
              internet, oppimisen tiedonlouhinta ja oppimisanalytiikka
              digitaalisissa oppimisympäristöissä.
            </p>
          </td>
          <td width="135">
            <p>4</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>Laskennallinen älykkyys I</p>
          </td>
          <td width="393">
            <p>
              Opintojakson aikana opitaan tekemään yleisiä johtopäätöksiä
              käyttäjän kokemuksista, markkinoinnista, henkilökohtaisista
              mieltymyksistä ja ihmisten käyttäytymisestä. Opintojaksolla
              tutustutaan myös mm. hakukoneiden toimintaan ja tietoverkoissa
              tapahtuvaan sosiaaliseen kanssakäymiseen. Opintojaksolla
              esitellään koneoppimista tietojenkäsittelytieteen opiskelijoille
              ja myös muille opiskelijoille, jotka eivät välttämättä omaa vahvaa
              matemaattista taustaa. Opintojaksolla käsitellään mm. seuraavia
              asioita: Suositusten antaminen, Datan klusterointi, Hakukoneet,
              Dokumenttien suodattaminen, Päätöspuut (decision trees),
              Bayes-luokittelijat (Bayesian classifiers), Neuroverkot (neural
              networks) ja Deep Learning (ml. data-analytiikan käytännön
              esimerkkejä).
            </p>
          </td>
          <td width="135">
            <p>4</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>
              <br />
              Tietojärjestelmän suunnittelu
            </p>
          </td>
          <td width="393">
            <p>
              Erilaiset (viite)kehykset auttavat kuvaamaan kohdealueen rakenteen
              ja määrittelevät keskeiset termit sekä auttavat kuvaamaan
              kohdealueen rakenteeseen kuuluvia entiteettejä ja niiden välisiä
              suhteita (puhutaan metamalleista) &ndash; opetellaan lukemaan
              erilaisia organisaation tietojen, toimintojen, tietojärjestelmien
              ja/tai teknologioiden kuvaamiseen tarkoitettuja (viite)kehyksiä
              kuten IT4IT ja TOGAF 9.2. Erilaiset mallinnuskielet
              laajentavat/syventävät metamallien kuvauskohteita &ndash;
              opetellaan tekemään erilaisia tietojärjestelmän suunnitteluun
              kuuluvia kaavioita esimerkiksi Archimate ja Unified Modeling
              Language (UML) kuvauskielillä. Erilaiset kehitysalusta, kuten
              Azure, tarjoavat erilaisia työprosesseja (kuten Agile) ja
              kehitysputkien avulla on mahdollista kehittää erilaisia
              sovelluksia DevOps-kehitystavalla. Lisäksi kehitysalustat auttavat
              erilaisten arkkitehtuurien omaksumisessa.
            </p>
          </td>
          <td width="135">
            <p>4</p>
          </td>
        </tr>
      </tbody>
    </table>

    <hr class="spacer" />

    <h3>Kieli- ja viestintäopinnot</h3>
    <p>
      Kieli- ja viestintäopinnot tukevat tietojenkäsittelytieteen opintoja ja
      antavat perustaidot ruotsin ja englannin kielten akateemiselle
      osaamiselle.
    </p>
    <p><strong></strong></p>
    <table>
      <caption>UEF tietojenkäsittelytieteen kieli- ja viestintäopinnot</caption>
      <tbody>
        <tr>
          <th width="199">
            <p><strong>Opintojakso</strong></p>
          </th>
          <th width="397">
            <p><strong>Kurssikuvaus</strong></p>
          </th>
          <th width="133">
            <p><strong>Laajuus (opintopisteet)</strong></p>
          </th>
        </tr>
        <tr>
          <td width="199">
            <p>Kirjoitusviestintää tietojenkäsittelytieteen opiskelijoille</p>
          </td>
          <td width="397">
            <p>
              &bull; opintojen ja työelämän kannalta keskeiset tekstilajit sekä
              tieteen viestinnän erityispiirteet<br />
              &bull; oikeakielisyys ja huoliteltu teksti<br />
              &bull; argumentoinnin keinot<br />
              &bull; tyyli ja tarkoituksenmukainen sävy<br />
              &bull; kriittinen lukutapa ja tekstianalyysi<br />
              &bull; kirjoitusprosessin hallinta ja erityisesti oman
              kandidaatintutkielman työstäminen<br />
              &bull; tekstien kohdentaminen lukijoille ja yleistajuinen
              viestintä<br />
              &bull; rakentavan palautteen antaminen ja vastaanottaminen
            </p>
          </td>
          <td width="133">
            <p>2</p>
          </td>
        </tr>
        <tr>
          <td width="199">
            <p>Puheviestintää tietojenkäsittelytieteen opiskelijoille</p>
          </td>
          <td width="397">
            <p>
              Vuorovaikutusosaaminen ja sen kehittäminen, vuorovaikutus omalla
              ammatti- ja tieteenalalla, vuorovaikutuskeskeisyys, reagoiva
              kuunteleminen, kohderyhmän huomioon ottaminen, palautteen
              antaminen ja vastaanottaminen, yhteistyötaidot.
            </p>
          </td>
          <td width="133">
            <p>2</p>
          </td>
        </tr>
        <tr>
          <td width="199">
            <p>Ruotsia tietojenkäsittelytieteen opiskelijoille</p>
          </td>
          <td width="397">
            <p>
              Opintojaksolla harjoitellaan yleisiä, yleisakateemisia ja
              tietojenkäsittelytieteelliseen alaan liittyviä
              vuorovaikutustilanteita kirjallisesti ja suullisesti.
            </p>
            <p>
              Opintojaksolla hankitaan ja harjoitellaan
              tietojenkäsittelytieteelliseen alaan liittyvää keskeistä sanastoa,
              joka on välttämätöntä alan keskeisissä kirjoitus- ja
              puhetilanteissa toimimisessa.
            </p>
            <p>
              Opintojaksolla luetaan tietojenkäsittelytieteeseen liittyviä
              autenttisia tekstejä, harjoitellaan tiedonhakua keskeisistä
              tietojenkäsittelytieteeseen liittyvistä teemoista ja sovelletaan
              hankittua tietoa erilaisissa kirjallisissa ja suullisissa
              oppimistehtävissä, niin yksilö-, pari- kuin ryhmätöidenkin avulla.
            </p>
            <p>
              Opintojaksolla harjoitellaan sisällön tuottamista eri
              sovelluksissa, esimerkiksi videoesityksen tekoa.
            </p>
          </td>
          <td width="133">
            <p>3</p>
          </td>
        </tr>
        <tr>
          <td width="199">
            <p>English Academic Reading and Study Skills</p>
          </td>
          <td width="397">
            <p>
              Tarkoituksenmukainen lukustrategia, yleistieteellinen ja oman alan
              keskeisin sanasto, tieteellisen artikkelin rakenne, asioiden
              välisiä suhteita ilmaisevat vihjesanat sekä ymmärtämisen kannalta
              keskeiset kielen rakenteet.
            </p>
          </td>
          <td width="133">
            <p>2</p>
          </td>
        </tr>
        <tr>
          <td width="199">
            <p>Tietojenkäsittelytieteen tiedonhaku</p>
          </td>
          <td width="397">
            <p>
              - tieteellisen julkaisutoiminnan, aineistojen luotettavuuden
              arvioinnin ja tekijänoikeuden perusteet<br />
              - tiedonhaun aiheen analysointi ja hakulauseiden laatiminen<br />
              - suunnitelmallinen tiedonhakuprosessi<br />
              - oman alan kotimaisten ja kansainvälisten tietokantojen käyttö
            </p>
          </td>
          <td width="133">
            <p>1</p>
          </td>
        </tr>
      </tbody>
    </table>

    <hr class="spacer" />

    <h3>Syventävät opinnot</h3>
    <p>
      Tietojenkäsittelytieteen syventäviin opintoihin kuuluu 2 pakollista 6 op
      kurssia, jotka voi valita tarjolla olevista viidestä kurssista:
      Algoritmien suunnittelu ja analysointi, Ohjelmistotuotanto,
      Tietojenkäsittelytieteen tutkimusmenetelmät, Hahmontunnistus ja Tekoäly.
    </p>

    <table>
      <caption>UEF tietojenkäsittelytieteen syventävät opinnot</caption>
      <tbody>
        <tr>
          <th width="201">
            <p><strong>Opintojakso</strong></p>
          </th>
          <th width="383">
            <p><strong>Kurssikuvaus</strong></p>
          </th>
          <th width="144">
            <p><strong>Laajuus (opintopisteet)</strong></p>
          </th>
        </tr>
        <tr>
          <td width="201">
            <p>HOPS Tietojenkäsittelytiede(FM)</p>
          </td>
          <td width="383"></td>
          <td width="144">
            <p>1</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>
              Advanced English Academic and Professional Communication for
              Applied Physics, Computer Science and Environmental Science
            </p>
          </td>
          <td width="383">
            <p>
              Opintojaksolla käydään läpi kulttuurin vaikutusta viestintään,
              akateemisen kirjoittamisen erityispiirteitä sekä tieteellisen
              kirjoittamisen osa-alueita. Käydään läpi keskeisiä englannin
              rakenteita sekä tarvittavia kieliopillisia seikkoja. Lisäksi
              harjoitellaan oman alan tieteellistä suullista ja kirjallista
              viestintää.
            </p>
          </td>
          <td width="144">
            <p>2</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>Algoritmien suunnittelu ja analysointi</p>
          </td>
          <td width="383">
            <p>
              Algoritmien suunnitteluperiaatteet ja niiden soveltaminen
              tietojenkäsittelytehtäviin. Keskeisiä algoritmien
              analysointitekniikoita ja suunnitteluperiaatteita, kuten
              hajoita-ja-hallitse sekä dynaaminen ohjelmointi. NP-täydellisyys
              ja rakenteisen vaativuusteorian perusteet. Esimerkkejä
              tietorakenteista ja NP-kovien laskentaongelmien ratkaisukeinoista
              (esim. heuristiset, likimääräiset ja satunnaistetut menetelmät).
            </p>
          </td>
          <td width="144">
            <p>6</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>Ohjelmistotuotanto</p>
          </td>
          <td width="383">
            <p>
              Erilaiset elinkaarimallit ja kehitysputket kuvastavat erilaisia
              lähestymistapoja ohjelmistotuotantoon &ndash; opetellaan
              sopimuskeskeisen (kuten vesiputous), kehittämisprosessikeskeisen
              (kuten agile), asiakaskeskeisen (kuten DevOps) ja
              prosessikeskeisen (kuten iBPMS) ohjelmistotuotannon keskeiset
              periaatteet ja termit. Erilaisia hallinnointiin tarkoitettuja
              viitekehyksiä (kuten ISO/IEC 38500) hyödynnetään
              ohjelmistotuotannon johtamisessa &ndash; opetellaan mistä asioista
              ohjelmistotuotannon johtamisessa on kysymys ja miten
              ohjelmistotuotantoa hallinnoidaan. Hyvät käytännöt, erilaiset
              säännöt ja säädökset ovat esimerkkejä asioista, jotka tulee
              huomioida ohjelmistotuotannossa &ndash; opetellaan kokoamaan ja
              muodostamaan käytännesääntöjä, joita ohjelmistotuotannossa tulee
              noudattaa
            </p>
          </td>
          <td width="144">
            <p>6</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>
              <br />
              Tietojenkäsittelytieteen tutkimusmenetelmät
            </p>
          </td>
          <td width="383">
            <p>
              Kurssilla perehdytään tietojenkäsittelytieteen tutkimukseen,
              tutustutaan tietojenkäsittelytieteessä sovellettaviin
              tutkimusmenetelmiin sekä käydään läpi tutkimussuunnitelman
              rakennetta ja sisältöä.
            </p>
          </td>
          <td width="144">
            <p>6</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>Hahmontunnistus</p>
          </td>
          <td width="383">
            <p>
              Kurssi antaa johdatuksen modernin hahmontunnistuksen ja
              koneoppimisen menetelmiin. Kurssilla käsitellään valikoituja
              aiheita Bayesin luokittelijoista, lineaarisesta luokittelusta,
              epälineaarisesta luokittelusta, lähimmän naapurin menetelmästä,
              tiheyden estimoinnista, k-means ryhmittelyalgoritmeista, aikasarja
              ennustamisesta, moniulotteisuuden vähentämisestä, keinotekoisista
              hermoverkoista, sumeista hahmontunnistusmenetelmistä, luokittelu-
              ja ryhmittelytulosten arvioinnista.
            </p>
          </td>
          <td width="144">
            <p>6</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>Tekoäly</p>
          </td>
          <td width="383">
            <p>
              Opintojaksolla esitetään syvällinen yleiskatsaus modernin
              &rdquo;Smart anything anywhere&rdquo; &ndash;yhteiskunnan
              erityispiirteisiin. Opintojakso keskittyy käsittelemään
              biologisista järjestelmistä inspiraationsa saaneita
              tekoälyjärjestelmiä. Opintojaksolla käsitellään mm. seuraavia
              asioita: Erilaiset neuroverkot, soft ja hard tietojenkäsittely,
              geneettiset algoritmit variaatioineen ja evoluutiolaskenta, jotka
              pystyvät ratkaisemaan monia vaikeita ongelmia, joissa vanhat
              menetelmät eivät toimi, biologisten järjestelmien inspiroima
              parviälykkyys, ihmisen aivot mallina (esim. Blue brain etc.),
              assosiatiivinen muisti, hahmontunnistus, nomadiälykkyys,
              emergentit järjestelmät, jne.
            </p>
          </td>
          <td width="144">
            <p>6</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>Erikoistyö</p>
          </td>
          <td width="383"></td>
          <td width="144">
            <p>10-20</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>Maisteriopintojen harjoittelu</p>
          </td>
          <td width="383"></td>
          <td width="144">
            <p>10-20</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>Tietojenkäsittelytieteen FM-seminaari</p>
          </td>
          <td width="383">
            <p>
              Opiskelijoiden pitämiä esitelmiä heidän omista pro gradu
              ‑tutkielmakäsikirjoituksistaan. Mahdollisesti myös muita
              tieteellisiä esitelmiä.
            </p>
          </td>
          <td width="144">
            <p>2</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>Pro gradu -tutkielma ja kypsyysnäyte</p>
          </td>
          <td width="383"></td>
          <td width="144">
            <p>30</p>
          </td>
        </tr>
      </tbody>
    </table>

    <hr class="spacer" />

    <h3>Valinnaiset syventävät opinnot</h3>
    <p>
      Valinnaiset syventävät opintojaksot vuorottelevat eri vuosina. Valinnaisia
      syventävien opintojen opintojaksoja sopii tutkintoon 30-40 op tai jopa
      enemmän, riippuen omasta HOPS:sta. Valinnaiset syventävät opintojaksot
      kannattaa valinta omaan syventävien opintojen suuntautumiseen eli HOPS:iin
      sopiviksi sen lisäksi että ne sopivat omiin kiinnostuksen kohteisiin ja
      työllistymisen tukemiseen.
    </p>

    <table>
      <caption>UEF tietojenkäsittelytieteen valinnaiset yleisopinnot</caption>
      <tbody>
        <tr>
          <th width="201">
            <p><strong>Opintojakso</strong></p>
          </th>
          <th width="383">
            <p><strong>Kurssikuvaus</strong></p>
          </th>
          <th width="144">
            <p><strong>Laajuus (opintopisteet)</strong></p>
          </th>
        </tr>
        <tr>
          <td width="201">
            <p>Ryhmittelymenetelmät</p>
          </td>
          <td width="383">
            <p>
              Ryhmittely on perustyöväline tietoanalyysissä, hahmotunnistuksessa
              ja tiedon louhinnassa ennestään tuntemattomien ryhmien
              löytämiseksi.
            </p>
            <p>
              Kurssilla opitaan algoritmeja ryhmien määrän ja sijainnin
              löytämiseen.
            </p>
            <p>
              Kurssilla käsittellän myös piirreirroitusta, tiedon normalisointia
              ja häiriöpisteiden poistamista.
            </p>
          </td>
          <td width="144">
            <p>5</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>Algoritmien erikoiskurssi</p>
          </td>
          <td width="383">
            <p>
              Kurssilla käsitellään valittuja aiheita algoritmiikasta ja
              laskennasta yleisemmin. Aiheet sisältävät evolutionäärisiä
              algoritmeja, informaatio- teoriaa, tiedon tiivistämisen
              perusteita, branch-and-bound sekä muita tutkimuksesta esille
              nousevia aiheita
            </p>
          </td>
          <td width="144">
            <p>5</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>
              <br />
              Ohjelmistoprosessin hallinta
            </p>
          </td>
          <td width="383">
            <p>
              Ohjelmistoprosessin käytännöt, joilla hallitaan organisaation
              liiketoiminnallisten tavoitteiden mukaisten ohjelmistotuotteiden
              ja -palvelujen tuottamista.
            </p>
          </td>
          <td width="144">
            <p>5</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>Modernin opetusteknologian perusteet</p>
          </td>
          <td width="383">
            <p>
              Opetusteknologian ajankohtaiset kehityssuunnat. Opetusteknologian
              uusimpiin ratkaisuihin tutustuminen sekä niiden soveltaminen
              opetuksessa.
            </p>
          </td>
          <td width="144">
            <p>5</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>Ihmisen ja tietokoneen vuorovaikutus</p>
          </td>
          <td width="383">
            <p>
              Ihmisen ja tietokoneen asettamat vaatimukset ja rajoitukset
              vuorovaikutuksen toteuttamisen kannalta. Erilaiset mallit ja
              teoriat vuorovaikutuksesta. Suunnitteluprosessit vuorovaikutuksen
              toteuttamiseksi.
            </p>
          </td>
          <td width="144">
            <p>5</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>Digitalisaation perusteet</p>
          </td>
          <td width="383">
            <p>
              Informaatioteknologia muuttaa toimintaamme ja käsitystämme
              yhteiskunnasta, työstä, tieteestä ja elämäntavoistamme.
              Automaation myötä katoaa töitä joita aiemmin on pidetty pysyvinä,
              ja monien on vaikea päivittää osaamistaan uusien töiden
              vaatimusten mukaisiksi. Tämä kurssi esittelee automaation
              mekanismeja aloilla joiden sisältöä ja työllisyystilannetta
              digitalisaatio on muuttanut. Kurssi esittelee noiden muutosten
              yhtäläisyyksiä ja mekanismeja sekä ratkaisuehdotuksia ongelmiin.
              Kurssin aiheita ovat esimerkiksi tietotyön automatisointi,
              simulaatiot, virtuaalitodellisuus, pilvipalvelut, sekä muutokset
              esimerkiksi liikenteen, tieteen, terveydenhuollon ja opetuksen
              aloilla.
            </p>
          </td>
          <td width="144">
            <p>5</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>Kehitys- ja opetusteknologia</p>
          </td>
          <td width="383">
            <p>
              Kurssilla tutustutaan laitoksen kehitys- ja opetusteknologian
              tutkimukseen. Kurssin aikana käsiteltävät teemat liittyvät
              kehitys- ja opetusteknologian erikoistumisalan
              jatko-opiskelijoiden väitöskirjaprojekteihin ja post-doc
              tutkimukseen. Kurssin sisältö vaihtelee vuosittain.
            </p>
          </td>
          <td width="144">
            <p>5</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>Käyttäjäkeskeinen suunnittelu</p>
          </td>
          <td width="383">
            <p>
              Käyttäjäkeskeisen suunnittelun haasteet, menetelmät ja standardit.
              Inhimilliset tekijät suunnittelussa. Käyttäjäkeskeisen
              suunnittelun vaikutukset ohjelmistoprosessiin.
            </p>
          </td>
          <td width="144">
            <p>5</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>Katseenseuranta</p>
          </td>
          <td width="383">
            <p>
              Näköaistin toiminta, visuaalinen attentio, pupillin koon
              mittaaminen, silmänliikkeet, katseenseurannan periaatteet,
              silmänliikedatan analysointi ja visualisointi, katseenseuranta
              käytettävyysmenetelmänä, reaaliaikainen katseenseurantaa
              hyödyntävä vuorovaikutus.
            </p>
          </td>
          <td width="144">
            <p>5</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>Laskennallinen älykkyys II</p>
          </td>
          <td width="383">
            <p>
              Opintojaksolla esitetään yleiskatsaus modernin &rdquo;Smart
              anything anywhere&rdquo; &ndash;yhteiskunnan erityispiirteisiin.
              Opintojaksolla käsitellään mm. seuraavia asioita: Soft ja hard
              tietojenkäsittely, Geneettiset algoritmit ja evoluutiolaskenta,
              jotka pystyvät ratkaisemaan monia vaikeita ongelmia, joiden vanhat
              menetelmät eivät toimi, biologisten järjestelmien inspiroima
              parviälykkyys, tekoäly (AI), Ihmisen aivot mallina (esim. Blue
              brain etc.), Neuroverkot, Hahmontunnistus, Nomadiälykkyys,
              Emergentit järjestelmät, jne.
            </p>
          </td>
          <td width="144">
            <p>5</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>Konenäkö</p>
          </td>
          <td width="383">
            <p>Opintojaksolla käsitellään mm. seuraavia asioita:</p>
            <p>Konenäön historia</p>
            <p>Digitalinen kuva ja sen muodostuminen, erilaiset kuvahilat</p>
            <p>Binäärikuva, harmaatasokuva, värikuva, spektrikuva</p>
            <p>Kuva-algebra ja kuvahilan metriikoiden vaikutus menetelmiin</p>
            <p>Matemaattinen morfologia konenäössä</p>
            <p>
              Keskiset menetelmät, kuten dilaatio, eroosio, avaus, sulkeminen,
              vesirajamuunnos, jne.Etäisyysmuunnokset sekä binääri-,
              harmaaataso-, että värikuville
            </p>
            <p>Väriavaruudet ja niiden käyttö konenäössä</p>
            <p>Reunanetsintä</p>
            <p>
              Geometristen kuvioiden tunnistaminen (Hough.muunnos, jne.),
              kulmien tunnistaminen
            </p>
            <p>Spatiaalinen ja taajuustason kuva</p>
            <p>Kuvien suodatus taajuustason avulla</p>
            <p>
              Eri tyyppiset kuvakohinat ja niiden
              suodattaminenFourier-muunnoksen käyttö konenäössä (sekä
              harmaaataso- että värikuvissa)
            </p>
            <p>
              Fyysisten esineiden tunnistaminen sekä spatiaali- että
              taajuustason kuvien avullaKuvien tiivistäminen
            </p>
            <p>Häviöllinen ja häviötön tiivistäminen</p>
            <p>
              Kuvamuunnoksiin perustuvia tiivistysmenetelmiä (esim. JPEG ja
              JPEG2000)
            </p>
            <p>Ennustamiseen perustuvia tiivistysmenetelmiä</p>
          </td>
          <td width="144">
            <p>5</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>Rinnakkaislaskenta</p>
          </td>
          <td width="383">
            <p>
              Johdatus rinnakkaislaskentaan, rinnakkaisalgoritmeihin ja
              rinnakkaisohjelmointiin. Rinnakkaislaskennan mallit,
              arkkitehtuurit ja rinnakkaisalgoritmien suunnitteluperiaatteet.
              Rinnakkaisohjelmien toteutus erilaisilla alustoilla.
            </p>
          </td>
          <td width="144">
            <p>5</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>Paikkatietoisten mobiilisovellusten kehitys</p>
          </td>
          <td width="383">
            <p>
              Kurssilla perehdytään paikkatietoa hyödyntävien mobiilisovellusten
              kehitykseen. Aluksi esitellään paikkatietoisten sovellusten
              taustaa, paikannusmenetelmiä ja kartoitusta. Tämän jälkeen
              keskitytään sovelluskehitykseen verkossa käyttäen
              HTML/JavaScript/-tekniikoita. Sovellusten taustalla olevat
              palvelinratkaisut käydään valmiiden API-komponenttien avulla.
              Kurssin loppuosassa perehdytään valikoituihin tutkimusongelmiin.
            </p>
          </td>
          <td width="144">
            <p>5</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>Paikkatietoinen koneäly</p>
          </td>
          <td width="383">
            <p>
              Keskitymme koneälyn käyttöön paikkatietoisissa sovelluksissa.
              Tutkimusaiheet sisältävät (mutta eivät rajoitu) seuraaviin
              aiheisiin: hakukoneet, suositusjärjestelmät, web-louhinta,
              tapahtuman havaitseminen, työnnä/vedä -ilmoitukset, ryhmittely,
              sosiaaliset verkot, GPS-reitin analysointi, katuverkon muodostus.
            </p>
          </td>
          <td width="144">
            <p>5</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>Laskennallinen väri</p>
          </td>
          <td width="383">
            <p>
              Kurssi esittelee tarkan värikuvantamisen antamia mahdollisuuksia
              ja ongelmia. Kurssilla esiteltävät laskennalliset menetelmät
              liittyvät värispektridatan approksimointiin ja värienhallintaan.
            </p>
            <p>Kurssilla käsiteltävät aiheet:</p>
            <p>Johdatus väri- ja spektrikuvantamiseen</p>
            <p>Mallit spektreille ja värikoordinaateille.</p>
            <p>
              Spektreihin ja CIE standardiin perustuvat värienhallintamallit
            </p>
            <p>
              Fysikaaliset ja empiisiset reflektanssien estimointi- ja
              värikalibrointimallit
            </p>
            <p>Aliavaruusprojektiot, Pääkomponenttianalyysi</p>
            <p>
              Ei-negatiivinen Matriisihajotelma ja Ei-negatiivinen
              Tensorihajotelma.
            </p>
          </td>
          <td width="144">
            <p>5</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>Color Science Laboratory</p>
          </td>
          <td width="383">
            <p>
              Kokeellinen laboratoriotyö yksin tai ryhmässä tehtynä ja sen
              raportointi. Aihe vaihtuu vuosittain.
            </p>
          </td>
          <td width="144">
            <p>5</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>Algorithmic Data Analysis</p>
          </td>
          <td width="383">
            <p>
              Kehittyneet luokittelumenetelmät. Tietovirtojen louhiminen. Aika-
              ja paikkaperustaisen data louhiminen. Poikkeuksien havaitseminen
            </p>
          </td>
          <td width="144">
            <p>5</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>Matrix Decomposition Methods in Data Analysis</p>
          </td>
          <td width="383">
            <p>
              Matriisihajoltemien tulkinta. Ominaisarvohajotelma ja
              QR-hajotelma: käyttö data-analyysissä ja laskeminen.
              Singulaariarvohajotelma (SVD) ja pääkomponenttianalyysi (PCA):
              käyttö data-analyysissä ja perusalgoritmi SVD:n laskemiseen.
              Epänegatiivinen matriisihajotelma (NMF): käyttö, variaatiot ja eri
              algoritmityypit. Itsenäisten komponenttien analyysi (ICA): käyttö
              ja laskeminen. Sarake- ja sarake-rivi-hajotelmat (CX ja CUR):
              käyttö ja laskeminen. Matriisien täydentäminen ja
              matriisihajotelmat muissa algebroissa
            </p>
          </td>
          <td width="144">
            <p>5</p>
          </td>
        </tr>
        <tr>
          <td width="201">
            <p>Tensor Decomposition Methods in Data Analysis</p>
          </td>
          <td width="383">
            <p><strong></strong></p>
          </td>
          <td width="144">
            <p>5</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import Vue from "vue";

export default {
  name: 'Tietojenkasittelytiede',
  layout() {
    return "jarjesto";
  },
  data() {
    return {
      view: 0,
    };
  },
  components: {},
  head() {
    return {
      title: "Tutkinnon sisältö",
      meta: [
        {
          hid: "description",
          name: "description",
          content:
            "Millaista tietojenkäsittelytieteen opiskelu on? Tällä sivulla on tietojenkäsittelytieteen opintojen rakenne kuvauksineen ja opintopistemäärineen kuten se UEFila on",
        },
        {
          hid: "twitter:title",
          name: "twitter:title",
          content: "Serveri ry - Tutkinnon sisältö",
        },
        {
          hid: "twitter:description",
          name: "twitter:description",
          content:
            "Millaista tietojenkäsittelytieteen opiskelu on? Tällä sivulla on tietojenkäsittelytieteen opintojen rakenne kuvauksineen ja opintopistemäärineen kuten se UEFila on",
        },
        /*{
                    hid: "twitter:image",
                    name: "twitter:image",
                    content: this.ogImage,
                },*/
        {
          hid: "og:title",
          property: "og:title",
          content: "Serveri ry - Tutkinnon sisältö",
        },
        {
          hid: "og:description",
          property: "og:description",
          content:
            "Millaista tietojenkäsittelytieteen opiskelu on? Tällä sivulla on tietojenkäsittelytieteen opintojen rakenne kuvauksineen ja opintopistemäärineen kuten se UEFila on",
        } /*
                {
                    hid: "og:image",
                    property: "og:image",
                    content: this.ogImage,
                },*/,
        {
          hid: "og:url",
          property: "og:url",
          content: this.$store.state.settings.baseurl + this.$route.path,
        },
      ],
    };
  },
};
</script>

<style scoped lang="scss">
@import "~/assets/scss/colors.scss";
@import "~/assets/scss/prepare.scss";
@import "~/assets/scss/text.scss";
@import "~/assets/scss/styling.scss";

.wrapper {
  p,
  a {
    word-break: break-word;
  }
}
</style>