<template>
  <div class="wrapper page-content content-padding">
    <h1>Tällä hetkellä toiminnassa olevat toimikunnat</h1>
    <h4>
      Vuonna 2022 Serveri järjestää useamman tavanomaista suuremman tapahtuman.
    </h4>
    <p>
      Hallitus on siitä syystä päättänyt ottaa jäsenistöä mukaan järjestämään
      ainejärjestön historian unohtumattomimpia tapahtumia.
      <br />
      <br />
      <span class="italic">"Isoi juttui tulos"</span>
    </p>
    <hr class="spacer" />
    <h3>Juuri nyt avoinna olevat toimikuntahaut:</h3>
    <details>
      <summary>ATK-YTP toimikunta vuodelle 2022</summary>
      ATK-YTP (eli ATK-yhteistyöpäivät) on lukuvuoden suurin
      tietojenkäsittelytieteen opiskelijoiden tapahtuma, jossa
      poikkitieteellisyydestä ei ole tietoakaan, sen sijaan harrastamme
      yhteistoimintaa muiden tietojenkäsittelytieteen opiskelijoiden kanssa
      ylittämällä kaupunkirajat.
      <br /><br />
      ATK-YTP järjestetään vuosittain yhdessä Suomen yliopistokaupungista, eli
      nyt, seitsemän vuoden tauon jälkeen, on taas aika järjestää YTP Kuopiossa!
      <br />
      <br />
      Serveri ry kerää nyt kasaan ATK-YTP-toimikuntaa, jonka tarkoituksena on
      suunnitella, valmistella ja toteuttaa YTP lokakuulle 2022. Tapahtuma on
      kaksipäiväinen, kumpanakin päivänä alan ammattilaiset maan kovimmista
      yrityksistä ja tutkijat Itä-Suomen yliopistosta pitävät luentoja sekä
      käytännön demoja alan viimeisintä huutoa olevista aiheista. Tämän lisäksi
      osallistujat pääsevät kokemaan ilta-aktiviteettien muodossa millaiseksi
      IT-alan tulevien sankareiden meno voikaan kehkeytyä.
      <br /><br />
      Kyseessä ei siis ole mikään tavanomainen luentotilaisuus tai edes
      tavanomainen opiskelijatapahtuma.
      <br />
      <br />
      Sinulta voi löytyä visio koko tapahtuman toteutuksesta taikka vain sen
      jostain osa-alueesta, kuten esimerkiksi:
      <ul>
        <li>puhujien etsimisestä</li>
        <li>sponsorien hankinnasta</li>
        <li>tapahtumasivuista</li>
        <li>graafisesta ilmeestä</li>
        <li>esitystekniikasta</li>
        <li>etkoista</li>
        <li>vätköistä</li>
        <li>jatkoista</li>
        <li>jatkojen artistivalinnoista</li>
        <li>majoituksien selvittämisestä</li>
        <li>rastikierroksien toteuttamisesta</li>
        <li>tapahtumasovelluksesta?</li>
      </ul>
      Tai jos vain haluat olla mukana järjestämässä "isoja juttuja" niin tule
      mukaan.
      <br /><br />
      Mikäli sinulla herää mitään kysyttävää ennen järjestämään mukaan
      lähtemistä, voit olla yhteydessä ATK-YTP-2022-toimikunnan vetäjään, Samuun
      (<Mailto mail="pj@serveriry.fi">pj@serveriry.fi</Mailto>
      tai
      <a rel="“noreferrer”" target="_blank" href="https://t.me/Reiska"
        >@Reiska</a
      >).
      <br />
      <br />Toimikuntaan voi ilmoittautua mukaan jollain lomakkeella.
      Tiedotellaan niistä tiedotuskanavissa ja päivitellään varmaan tähän.
      Lomakkeilla kerättyjä henkilötietoja hyödynnetään vain ilmoittautuneiden
      kontaktoimisessa.
    </details>
    <details>
      <summary>
        Vuosijuhlatoimikunta Serverin 35 vuotisjuhlaan vuodelle 2022
      </summary>
      Haluatko olla mukana toteuttamassa Serveri ry:n 35-vuotisen taipaleen
      juhlistamista?<br /><br />

      Serveri ry täyttää lokakuussa 2022 35 vuotta, jonka kunniaksi pääsemme
      toteuttamaan 5 vuoden välein järjestettävät vuosijuhlat. Vuosijuhlat
      koostuvat muun muassa alkumaljasta, kolmen ruokalajin illallisesta,
      juhlallisista puheenvuoroista, hyvästä musiikista, ihanista ihmisistä,
      jatkoista sekä perinteisestä silliaamiaisesta seuraavana päivänä. Keräämme
      nyt kasaan vuosijuhlatoimikuntaa, jonka tarkoituksena on lähteä pikimmiten
      suunnittelemaan, valmistelemaan ja toteuttamaan ikimuistoista päivää
      opiskelijoillemme, alumneillemme, henkilökunnallemme sekä kutsuvieraille.
      <br /><br />
      Sinulta voi löytyä kiinnostusta koko tapahtuman toteutuksesta taikka vain
      sen jostain osa-alueesta, kuten esimerkiksi tarjoiluista, koristelusta,
      sponsorien hankinnasta tai vaikkapa graafisten materiaalien
      suunnittelusta. Mikäli sinulla herää mitään kysyttävää ennen hakemusta,
      voit olla yhteydessä vuosijuhlatoimikunnan vetäjään, Jenniin (<Mailto
        mail="edunvalvonta@serveriry.fi"
        >edunvalvonta@serveriry.fi</Mailto
      >
      tai
      <a rel="“noreferrer”" target="_blank" href="https://t.me/jennitpk"
        >@jennitpk</a
      >
      ). Toimikuntaan voi ilmoittautua mukaan alla olevalla lomakkeella.
      Lomakkeella kerättyjä henkilötietoja hyödynnetään vain ilmoittautuneiden
      kontaktoimisessa. <br /><br />
      Kuten joku viisas on joskus sanonut: "Isoi juttui tulos".
      <br /><br />
      <a
        rel="“noreferrer”"
        target="_blank"
        href="https://docs.google.com/forms/d/e/1FAIpQLSeoz0iBoinRAA-tDtvl_FwFzH8sEUFWThxxH1UigiIZHQBZHQ/viewform?usp=sf_link"
        ><button>Lähde mukaan tästä!</button></a
      >
    </details>
    <details>
      <summary>Järjestelmätoimikunta 2022</summary>
      <div data-v-1cf2a24b="">
        <p>Ylläpitopuolelta tervehdys!</p>
        <p>
          Ensi vuonna on koko ainejärjestön laajuisesti isoi juttui tulos™️ ja
          sen vuoksi perustamme järjestelmätoimikunnan. Ensisijaisesti Serverin
          toiveena on saada jäsenistön yhteistyössä tekemiä
          ohjelmia/ohjelmakomponentteja ainejärjestön toimintaa edistämään.
          Tarkoitus on siis koodata porukalla ja kehittää omaa osaamistaan. Tää
          on kuulkaa just sitä <em>harrastuneisuutta</em>, mitä joka firma
          peräänkuuluttaa rekrypäivillä! Tämä on myös erinomainen paikka
          kaikille "miXei HalLituS teE miTÄän"-kyselijöille, tulla edistämään
          toimintaamme itse :)
        </p>
        <p>
          Emme oleta, että osaat kirjoittaa täysin optimoituja
          Javaste-algoritmeja tai innovoida uutta Twitteriä, mutta jos olet
          innokas oppimaan jotakin näistä tai jopa jo osaa näitä, niin otappa
          yhteyttä:
        </p>
        <ul>
          <li>kaikenkarvainen web-kehitys</li>
          <li>palvelinohjelmat, botit tms</li>
          <li>versionhallinta</li>
          <li>visuaalisen ilmeen ja käyttöliittymän suunnittelu</li>
          <li>jotain muuta, mitä?</li>
        </ul>
        <p>Järjestelmätoimikunnan tehtäviin ensi vuonna kuuluvat:</p>
        <ul>
          <li>ATK-YTP-verkkosivujen toteutus</li>
          <li>omien verkkosivujen päivitys</li>
          <li>mitä tahansa muuta, mikä koetaan hyödylliseksi</li>
        </ul>
        <p>
          Tähän lystiin pääset mukaan täyttämällä lomakkeen 4.1.2022 mennessä:
          <a href="https://cloud.serveriry.fi/apps/forms/4NFQmESwYtpg6m8M"
            >https://cloud.serveriry.fi/apps/forms/4NFQmESwYtpg6m8M</a
          >
        </p>
        <p>
          Kysyttävää? Laita kysymyksesi
          <a href="https://t.me/jimboolio">Telegramissa</a>
        </p>
      </div>
    </details>
    <!--<h3>Menneet toimikuntahaut:</h3>
        <p>(Nähtävästi mitään muistikuvia ei jäänyt)</p>
        <hr class="spacer" />
        <h6>
            Tämä sivu loppuu kohta, mutta jos janosi ainejärjestötoimintaan ei
            ole vieläkään sammunut, suosittelemme lähtemään mukaan
            hallitustoimintaan taas syyskokouksessa!
        </h6>-->
  </div>
</template>

<script>
import Vue from "vue";

export default {
  name: 'Toimikunnat',
  layout() {
    return "jarjesto";
  },
  data: function () {
    return {
      view: 0,
    };
  },
  head() {
    return {
      title: "Toimikunnat",
      meta: [
        {
          hid: "description",
          name: "description",
          content: "Serverin toimikunnat",
        },
        {
          hid: "twitter:title",
          name: "twitter:title",
          content: "Serveri ry - Toimikunnat",
        },
        {
          hid: "twitter:description",
          name: "twitter:description",
          content:
            "Vuosijuhlat ja Kuopion ATK-YTP lähenee, tule mukaan valmistelutoimikuntiin",
        },
        /*{
                    hid: "twitter:image",
                    name: "twitter:image",
                    content: this.ogImage,
                },*/
        {
          hid: "og:title",
          property: "og:title",
          content: "Serveri ry - Toimikunnat",
        },
        {
          hid: "og:description",
          property: "og:description",
          content:
            "Vuosijuhlat ja Kuopion ATK-YTP lähenee, tule mukaan valmistelutoimikuntiin",
        } /*
                {
                    hid: "og:image",
                    property: "og:image",
                    content: this.ogImage,
                },*/,
        {
          hid: "og:url",
          property: "og:url",
          content: this.$store.state.settings.baseurl + this.$route.path,
        },
      ],
    };
  },
  components: {},
};
</script>

<style scoped lang="scss">
@import "~/assets/scss/colors.scss";
@import "~/assets/scss/prepare.scss";
@import "~/assets/scss/text.scss";
@import "~/assets/scss/styling.scss";
</style>
