<template>
  <div class="wrapper page-content content-padding">
    <h1>Yritysyhteistyö</h1>
    <h4>Haluatko yrityksellesi näkyvyyttä opiskelijoidemme keskuudessa?</h4>
    <h4>Haluatko tukea opiskelijajärjestön toimintaa?</h4>
    <h4>Haluatko napata uuden työntekijöitä suoraan koulun penkiltä?</h4>
    <p>
    Tule tekemään yhteistyötä kanssamme!

    Yhteistyö voi näyttäytyä mm. </p>
    <ul>
      <li>haalarimainoksena</li>
      <li>työpaikkailmoituksena kuukausitiedotteessa</li>
      <li>IT-futikseen osallistumisena (loka/marraskuu)</li>
      <li><nuxt-link to="/it-rekry">IT-rekrypäiville osallistumisena</nuxt-link> (tammi/helmikuu)</li>
      <li>yhteisenä saunailtana tai yritysvierailuna</li>
      <li>tai keksitään yhdessä jotain ihan uutta!</li>
    </ul>
    <p>

    Voit olla yhteydessä yritysyhteistövastaavaamme
    sähköpostitse yritys[at]serveriry.fi</p>
  </div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import { mapState } from 'vuex'

export default {
  name: 'Yritysyhteistyo',
  layout() {
    return 'jarjesto'
  },
  data: function () {
    return {
      view: 0,
    }
  },
    head() {
    /*return {
      /*title: this.post.title,
      meta: [
        { hid: 'description', name: 'description', content: this.post.description },
        { ogDescription: this.post.description }
      ]
    }*/
    return {
      title: "Yritysyhteistyö",
      meta: [
        {
          hid: "description",
          name: "description",
          content: "Yritysyhteistyö Serveri ry:n kanssa kannattaa",
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: "Serverin yritysyhteistyö"
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: "Yritysyhteistyö Serveri ry:n kanssa kannattaa"
        },
        /*{
          hid: 'twitter:image',
          name: 'twitter:image',
          content: ""
        },*/
        {
          hid: 'og:title',
          property: 'og:title',
          content: "Serverin yritysyhteistyö"
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: "Yritysyhteistyö Serveri ry:n kanssa kannattaa"
        },
        /*{
          hid: 'og:image',
          property: 'og:image',
          content: ""
        },*/
        {
          hid: 'og:url',
          property: 'og:url',
          content: this.$store.state.settings.baseurl + "/jarjesto/yritysyhteistyo"
        },
      ],
    };
  },
  components: {},
}
</script>

<style scoped lang="scss">
@import '~/assets/scss/colors.scss';
@import '~/assets/scss/prepare.scss';
@import '~/assets/scss/text.scss';
@import '~/assets/scss/styling.scss';

</style>
