/*.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
  z-index: -1;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}*/

/* Global styles */

body {
  background-color: #212121;
}

*:focus {
  outline: none;
  z-index: 5;
  -webkit-box-shadow: 0px 0px 16px 4px rgba(0,0,0,0.49);
  -moz-box-shadow: 0px 0px 16px 4px rgba(0,0,0,0.49);
  box-shadow: 0px 0px 16px 4px rgba(0,0,0,0.49);
}