<template>
    <div class="wrapper">
        <div class="page-content">
            <div class="content-padding">
                <h1>Uudelle opiskelijalle</h1>
                <p>
                    Tietojenkäsittelytieteen uudet opiskelijat aloittavat
                    syksyllä pitkän ja kivikkoisen, mutta niin kovin antoisan
                    tiensä kohti luonnontieteen kandidaatin ja filosofian
                    maisterin titteleitä.
                </p>

                <h2>Fuksin muistilista</h2>

                <ul>
                    <li>
                        <strong
                            >Muista
                            <a
                                href="https://kamu.uef.fi/student-book/uuden-perustutkinto-opiskelijan-ilmoittautuminen/"
                                rel="noreferrer noopener"
                                target="_blank"
                                >maksaa</a
                            >
                            jäsenmaksut Itä-Suomen yliopiston ylioppilaskunnalle
                            (ISYY)</strong
                        >
                        <strong>31.8 mennessä</strong>
                    </li>
                    <li>
                        YTHS maksu on myös pakollinen ja se maksetaan erikseen
                        Kelalle, kannattaa se kurkistella kuntoon
                    </li>
                    <li>
                        Kannattaa lukea Tietojenkäsittelytieteen laitoksen
                        <a
                            href="https://kamu.uef.fi/student-book/oppiaine-tai-koulutuskohtaiset-tiedotteet-uusille-opiskelijoille/"
                            rel="noreferrer noopener"
                            target="_blank"
                            >Smart Start -opas</a
                        >
                        ja kamusta
                        <a
                            href="https://kamu.uef.fi/uudelle-opiskelijalle/"
                            rel="noreferrer noopener"
                            target="_blank"
                            >ohjeet</a
                        >
                        uudelle opiskelijalle
                    </li>
                    <li>
                        <nuxt-link to="/jarjesto/jasenyys"
                            >Liity Serverin jäseneksi</nuxt-link
                        >.
                    </li>
                    <li>
                        Liity Serverin tiedotuskanavalle:
                        <a
                            rel="noreferrer noopener"
                            href="https://t.me/serveriry"
                            target="_blank"
                            >https://t.me/serveriry</a
                        >
                    </li>
                    <li>
                        Tsekkaa syksyn tuutorit
                        <nuxt-link to="/jarjesto/uudelle_opiskelijalle/tuutorit"
                            >täältä</nuxt-link
                        >
                    </li>
                </ul>
                <details>
                    <summary style="color: $ltt-light">
                        Hanki opiskelijakortti
                    </summary>
                    <h4>Fyysinen kortti</h4>
                    Opiskelijakortilla todistat opiskelijastatuksesi, jotta voit
                    saada opiskelija-alennuksia. Fyysisiä opiskelijakortteja
                    hankitaan kirjoittamishetkellä (kevät 2021)
                    <a
                        href="https://www.frank.fi/opiskelijakortti/"
                        rel="noreferrer noopener"
                        target="_blank"
                        >Frankin</a
                    >
                    kautta ja maksaa 25€. Fyysisellä ja sähköisillä korteilla ei
                    ole muuta eroa kuin myöntäjä ja mahdollisesti joitain eroja
                    alennuksissa. Tenttitilaisuuksissa kelpaa sähköinen kortti
                    tai muu henkilöllisyystodistus.
                    <br />
                    <h4>Sähköisiä vaihtoehtoja</h4>
                    Kaikki vaihtoehdot kirjoittamishetkellä (kevät 2021)
                    ilmaisia
                    <ul>
                        <li>
                            <a
                                href="https://www.frank.fi/opiskelijakortti/"
                                rel="noreferrer noopener"
                                target="_blank"
                                >Frank</a
                            >
                        </li>
                        <li>
                            <a
                                href="https://www.tuudo.fi"
                                rel="noreferrer noopener"
                                target="_blank"
                                >Tuudo</a
                            >
                        </li>
                        <li>
                            <a
                                href="https://pivo.fi/palvelut/pivo-student-card/"
                                rel="noreferrer noopener"
                                target="_blank"
                                >Pivo</a
                            >
                        </li>
                    </ul>
                    <h4>Kansainväliset kortit</h4>
                    Kansainväliset kortit hankitaan
                    <a
                        href="https://www.frank.fi/opiskelijakortti/"
                        rel="noreferrer noopener"
                        target="_blank"
                        >Frankin</a
                    >
                    kautta. Saatavilla sekä fyysinen että sähköinen versio.
                </details>

                <h2>Hyvä tietää</h2>

                <nuxt-link to="/connect"
                    ><button>Tiedotuskanavat</button></nuxt-link
                >

                <ul>
                    <li>
                        Serveri tiedottaa tapahtumistaan ensisijaisesti
                        <a
                            href="https://t.me/serveriry"
                            rel="noreferrer noopener"
                            target="_blank"
                            >Telegramissa</a
                        >, mutta myös kotisivuilla ja postilistalla. Uudet
                        jäsenet lisätään postilistalle, kun hallitus on
                        hyväksynyt heidät jäseniksi jäsenmaksun maksamisen jälkeen.
                    </li>
                    <li>
                        Serverimeininkiä löytyy edellä mainittujen alustojen
                        lisäksi myös
                        <a
                            rel="noreferrer noopener"
                            href="https://facebook.com/serveriry/"
                            target="_blank"
                            >Facebookista</a
                        >
                        ja
                        <a
                            rel="noreferrer noopener"
                            href="https://www.instagram.com/serveriry/"
                            target="_blank"
                            >Instagramista</a
                        >
                    </li>
                    <!--<li>
            Serveri <nuxt-link to="/jarjesto/uudelle_opiskelijalle/sanasto">Sanastoa</nuxt-link>
          </li>-->
                </ul>

                <h2>Mahdollisesti hyödyllistä sisältöä</h2>

                <ul>
                    <li>
                        Tenttiarkisto ja muuta kivaa löytyy
                        <a
                            href="https://gitlab.com/serveri-ry"
                            rel="noreferrer noopener"
                            target="_blank"
                            >GitLabista</a
                        >
                        - kannattaa kurkkia
                    </li>
                    <li>
                        <a
                            href="https://sykettä.fi/"
                            rel="noreferrer noopener"
                            target="_blank"
                            >Sykettä</a
                        >
                        eli korkeakoulujen liikuntapalvelut, jos liikunnan
                        harrastaminen kiinnostaa. Ensimmäisillä
                        opiskeluviikoilla palveluita pääsee usein kokeilemaan
                        ilmaiseksi
                    </li>
                    <li>
                        <a
                            href="https://www.isyy.fi/palvelut/uudelle-opiskelijalle.html"
                            rel="noreferrer noopener"
                            target="_blank"
                            >ISYYn sivut uudelle opiskelijalle</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from "vue";

export default {
    name: 'Uudelle-opiskelijalle',
    layout() {
        return "jarjesto";
    },
    data: function () {
        return {
            view: 0,
        }
    },
    components: {},
    head() {
        return {
            title: "Uudelle opiskelijalle",
            meta: [
                {
                    hid: "description",
                    name: "description",
                    content:
                        "Serveri ry:n vinkit uusille tietojenkäsittelytieteen opiskelijoille opintojen aloitukseen. Tarkista tästä että olet muistanut kaikki tärkeimmät opintojen alussa.",
                },
                {
                    hid: "twitter:title",
                    name: "twitter:title",
                    content: "Uuden opiskelijan sivut",
                },
                {
                    hid: "twitter:description",
                    name: "twitter:description",
                    content:
                        "Serveri ry:n vinkit uusille tietojenkäsittelytieteen opiskelijoille opintojen aloitukseen. Tarkista tästä että olet muistanut kaikki tärkeimmät opintojen alussa.",
                },
                /*{
                    hid: "twitter:image",
                    name: "twitter:image",
                    content: this.ogImage,
                },
                {
                    hid: "og:title",
                    property: "og:title",
                    content: this.post.fi_title,
                },
                {
                    hid: "og:description",
                    property: "og:description",
                    content: this.post.fi_description,
                },
                {
                    hid: "og:image",
                    property: "og:image",
                    content: this.ogImage,
                },*/
                {
                    hid: "og:url",
                    property: "og:url",
                    content:
                        this.$store.state.settings.baseurl + this.$route.path,
                },
            ],
        };
    },
};
</script>

<style scoped lang="scss">
@import "~/assets/scss/colors.scss";
@import "~/assets/scss/prepare.scss";
@import "~/assets/scss/text.scss";
@import "~/assets/scss/styling.scss";
</style>
