<template>
  <div class="wrapper">
    <div class="page-content">
      <div class="content-padding">
        <h2>Sanastoa</h2>
        <p>Kattavampi yliopistosanasto <a href="https://kamu.uef.fi/student-book/yliopistosanastoa/">UEFin Kamussa</a>.</p>
        <!-- wp:paragraph -->
        <p>A</p>
        <!-- /wp:paragraph -->

        <!-- wp:list -->
        <ul>
          <li>
            Ainejärjestö = alakohtainen yhdistys joka valvoo opiskelijoiden etua
            ja edistää opintojen henkistä jaksamista
          </li>
          <li>Appro = yliopisto-opiskelijoiden baarisuunnistustapahtuma</li>
          <li>ATK-YTP = ATK yhteistyopäivät</li>
        </ul>
        <p>B</p>
        <ul>
          <li>Bugi = virhe koodissa</li>
        </ul>
        <p>C</p>
        <p>D</p>
        <ul>
        </ul>
        <p>E</p>
        <ul>
          <li>
            Excursio = tarkoittaa erityisesti, opintomatkaa tai tutkimusretkeä
          </li>
        </ul>
        <p>F</p>
        <ul>
          <li>
            Fuksi (<strong>ei phuksi)</strong> = ensimmäisen vuoden opiskelija,
            mitä todennäköisimmin juuri sinä
          </li>
        </ul>
        <p>G</p>
        <p>H</p>
        <p>I</p>
        <ul>
          <li>ISYY = Itä-Suomen yliopiston ylioppilaskunta</li>
        </ul>
        <p>J</p>
        <p>K</p>
        <ul>
          <li>Kastajaiset = tilaisuus jossa kastetaan muutakin kuin suuta</li>
          <li>KIVES = Kuopion Intellektuelli Vapunedistämisseura</li>
          <li>Koppi = Serveriläisen koti yliopistolla</li>
          <li>
            Kostajaiset = tilaisuus jossa fuksit kostavat kaikki tuutoreiden
            aiheuttamat karmeudet tuutoreilleen
          </li>
        </ul>
        <p>L</p>
        <ul>
          <li>Lipasto = lyhenne yliopistosta</li>
        </ul>
        <p>M</p>
        <p>N</p>
        <ul>
          <li>Nepali = Neulamäki</li>
          <li>Noppa = opintopiste</li>
          <li>
            N vuoden opiskelija = minkä tahansa vuoden opiskelija jonka
            opintovuosia ei niiden paljouden takia jaksa laskea
          </li>
        </ul>
        <p>O</p>
        <ul>
          <li>
            Opintopiste = noin 26.66 tunnin työmäärää vastaava yksikkö josta
            ainakin kela on kiinnostunut
          </li>
        </ul>
        <p>P</p>
        <ul>
          <li>
            <a
              href="https://upload.wikimedia.org/wikipedia/commons/d/d0/Supermicro_SBI-7228R-T2X_blade_server.jpg"
              >Palvelin</a
            >
          </li>
          <li>Periodi = noin neljänneslukuvuosi</li>
        </ul>
        <p>Q</p>
        <p>R</p>
        <p>S</p>
        <ul>
          <li>Serveri = kts. palvelin</li>
          <li>
            Serverin logon eläin = tietokonehiiri, eikö se ollutkaan itsestään
            selvää?
          </li>
          <li>
            Sitsit =
            <a href="https://en.wikipedia.org/wiki/Sittning"
              >Wikipediasta löytyy valmiiksi hyvä selitys</a
            >
          </li>
          <li>
            Skripti = tietojenkäsittelytieteen
            opiskelijoiden ainejärjestö Joensuun kampuksella 
            (voi myös tarkoittaa tietokoneelle suunnattujen komentojen sarjaa)
          </li>
          <li>
              SYKETTÄ = liikuntapalvelu Kuopion korkeakouluyhteisölle
          </li>
        </ul>
        <p>T</p>
        <p>U</p>
        <p>V</p>
        <ul>
          <li>
            Valmistunen = jotain sellaista mitä N vuoden opiskelija toivoisi
          </li>
          <li>Vappu = jokapäiväinen syy juhlia, vappu kun ei lopu</li>
        </ul>
        <p>W</p>
        <ul>
          <li>
            WappuDeBug = kevääseen sijoittuva tapahtuma jossa vähennetään
            lukuvuoden aiheuttamia henkisiä bugeja
          </li>
        </ul>
        <p><a href="https://youtu.be/p7y_BzwdkAw">Y</a></p>
        <ul>
          <li>YTHS = Ylioppilaiden terveydenhoitosäätiö</li>
        </ul>
        <p>Ä</p>
        <p>Ö</p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default {
  name: 'Sanasto',
  layout() {
    return "jarjesto";
  },
  data: {
    view: 0,
  },
  components: {},
};
</script>