<template>
    <div class="personbg content-padding corner">
        <div v-if="$fetchState.pending">
            <h1>Ladataan</h1>
        </div>
        <!--<div v-else-if="this.$store.state.posts.posts[0]">-->
        <div v-else-if="tutors != undefined">
            <h1>{{ tutors.Title }}</h1>
            <h5>
                Viimeksi päivitetty:
                {{ new Date(tutors.updated_at).toLocaleString() }}
            </h5>
            <div v-html="$md.render(tutors.Description)"></div>

            <div class="persongrid">
                <div
                    v-for="tutor in tutors.Tutors"
                    :key="tutor.id"
                    class="personcard"
                >
                    <div class="personwrapper content-padding">
                        <h2>{{ tutor.Person.Name }}</h2>

                        <table>
                            <tr>
                                <td colspan="2">
                                    <div
                                        v-if="tutor.Person.Avatar"
                                        class="avatarwrap"
                                    >
                                        <img
                                            loading="lazy"
                                            v-if="
                                                tutor.Person.Avatar.formats
                                                    .medium
                                            "
                                            class="cover"
                                            :src="
                                                host +
                                                tutor.Person.Avatar.formats
                                                    .medium.url
                                            "
                                            :alt="tutor.Person.Name"
                                        />
                                        <img
                                            loading="lazy"
                                            v-else-if="
                                                tutor.Person.Avatar.formats
                                                    .small
                                            "
                                            class="cover"
                                            :src="
                                                host +
                                                tutor.Person.Avatar.formats
                                                    .small.url
                                            "
                                            :alt="tutor.Person.Name"
                                        />
                                        <img
                                            loading="lazy"
                                            v-else-if="
                                                tutor.Person.Avatar.formats
                                                    .thumbnail
                                            "
                                            class="cover"
                                            :src="
                                                host +
                                                tutor.Person.Avatar.formats
                                                    .thumbnail.url
                                            "
                                            :alt="tutor.Person.Name"
                                        />
                                        <div v-else></div>
                                    </div>
                                </td>
                            </tr>
                            <tr v-if="tutor.Person.Telegram">
                                <td>
                                        Telegram:
                                </td>
                                <td>
                                    <a
                                        :href="
                                            'https://t.me/' +
                                            tutor.Person.Telegram
                                        "
                                        target="_blank"
                                        >@{{ tutor.Person.Telegram }}</a
                                    >
                                </td>
                            </tr>
                            <tr v-if="tutor.Person.Matrix">
                                <td>Matrix:
                                </td>
                                <td>{{ tutor.Person.Matrix }}</td>
                            </tr>
                            <tr v-if="tutor.Person.Email">
                                <td>Sähköposti:
                                </td>
                                <td>
                                    <Mailto :mail="tutor.Person.Email">klikkaa tästä</Mailto>
                                    <!--<a :href="'mailto:' + tutor.Person.Email">{{
                                        tutor.Person.Email
                                    }}</a>-->
                                </td>
                            </tr>
                        </table>
                        <div v-html="$md.render(tutor.Person.Bio)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";

export default {
    name: 'Tuutorit',
    async fetch() {
        try {
            if (
                /* Check if tutors object is empty as it doesn't have the data keys otherwise
                If this causes errors set this condition to true and the state will refresh every time*/
                Object.keys(this.$store.state.tutors.tutors).length === 0
            ) {
                //await this.$store.dispatch('posts/loadPosts')
                const response = await axios.get(
                    this.$store.state.settings.host + "/tutors"
                );
                this.$store.state.tutors.tutors = response.data;
                //console.log(this.$store.state.tutors)
            }
        } catch (e) {
            e({
                statusCode: 503,
                message:
                    "Unable to fetch tutors at this time. Please try again.",
            });
        }
    },
    layout() {
        return "jarjesto";
    },
    data: function () {
        return {
            view: 0,
        }
    },
    components: {},
    computed: {
        tutors() {
            return this.$store.state.tutors.tutors;
        },
        host() {
            return this.$store.state.settings.host;
        },
    },
        head() {
        return {
            title: this.tutors.Title,
            meta: [
                {
                    hid: "description",
                    name: "description",
                    content:
                        this.tutors.Description,
                },
                {
                    hid: "twitter:title",
                    name: "twitter:title",
                    content: "Serveri ry - " + this.tutors.Title,
                },
                {
                    hid: "twitter:description",
                    name: "twitter:description",
                    content:
                        this.tutors.Description,
                },
                /*{
                    hid: "twitter:image",
                    name: "twitter:image",
                    content: this.ogImage,
                },
                */{
                    hid: "og:title",
                    property: "og:title",
                    content: "Serveri ry - " + this.tutors.Title,
                },
                {
                    hid: "og:description",
                    property: "og:description",
                    content: this.tutors.Description,
                },
                /*{
                    hid: "og:image",
                    property: "og:image",
                    content: this.ogImage,
                },*/
                {
                    hid: "og:url",
                    property: "og:url",
                    content:
                        this.$store.state.settings.baseurl + this.$route.path,
                },
            ],
        };
    },
    /*  methods: {
    playunder() {
      var myVideo = document.getElementById("video1"); 
        if (myVideo.paused) 
          myVideo.play(); 
        else 
          myVideo.pause(); 
    }
  }
};*/
};
</script>

