<template>
  <div class="error">
    <div v-if="statusCode != 404">
      <spaghetti class="spaghetti" />
    </div>
    <div v-else>
      <missing />
    </div>
    <div class="text">
      <div class="title">
        <div v-if="statusCode === 404">
          <h4>{{ statusCode }}</h4>
        </div>
        <div v-else-if="message === unableToFetch">
          <h1>Taustajärjestelmän virhe</h1>
          <p>Taustajärjestelmien koodi on monimutkaista kuin spagetti ja jostain syystä ei nyt toimi</p>
        </div>
        <div v-else>
          <h1>{{ statusCode }} - Spaghettikoodi räjähti</h1>
        </div>
        <h4>Alla saattaa ehkä olla virheilmoitus</h4>
        <p class="message">{{ message }}</p>
      </div>
      <nuxt-link v-if="statusCode === 404" to="/">
        <button>Return to homepage</button>
      </nuxt-link>
    </div>
  </div>
</template>
<script>
import spaghetti from './../components/svg/spaghetti.vue'
import missing from './../components/svg/notfound.vue'


export default {
  name: 'NuxtError',
  components: {
    spaghetti,
    missing,
  },
  props: {
    error: {
      // <--- Send in the error
      type: Object,
      default: null,
    },
  },
  head() {
    return {
      title: this.message, // <--- Set the SEO title
    }
  },
  computed: {
    statusCode() {
      // <--- Get the status code
      return (this.error && this.error.statusCode) || 500
    },
    message() {
      // <--- Print the error
      return this.error.message
    },
    unableToFetch() {
      return 'Unable to fetch events at this time. Please try again.'
    }
  },
}
</script>

<style scoped>
.error {
  min-height: 50vh;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}
.text {
  justify-self: center;
}
svg {
  justify-self: end;
}
.message {
  font-family: sans-serif;
  color: white;
  background-color: rgb(31, 31, 31);
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}
.spaghetti {
  max-width: 10rem;
  margin: 0 auto;
}
h1,
h4 {
  color: white;
  font-family: sans-serif;
}
</style>
