<template>
  <div>
    <!--<Underwater />-->
    <NavBar />
    <div class="middle jarjesto-margin">
      <SideMenu />
      <transition name="fade">
        <Nuxt />
      </transition>
    </div>
    <Footer />
  </div>
</template>

<script>
import NavBar from '~/components/NavBar.vue'
import Footer from '~/components/Footer.vue'
import SideMenu from '~/components/SideMenu.vue'
//import Underwater from '~/components/underwater.vue'

export default {
  name: 'JarjestoLayout',
  data() {
    return {
      // Details for Google search logo location
      structuredData: {
        '@context': 'http://schema.org',
        '@type': 'Organization',
        url: 'https://serveriry.fi',
        logo: 'https://serveriry.fi/logo.svg',
      },
    }
  },
  components: {
    NavBar,
    Footer,
    SideMenu,
    //Underwater
  },
  head() {
    return {
      titleTemplate: 'Serveri ry - %s',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            'Itä-Suomen yliopiston tietojenkäsittelytieteen opiskelijat, Kuopion kampus',
        },
      ],
      // Adds Serveri ry logo to Google rich results
      script: [{ type: 'application/ld+json', json: this.structuredData }],
    }
  },
}
</script>

<style lang="scss">
@import '~/assets/scss/colors.scss';
@import '~/assets/scss/prepare.scss';
@import '~/assets/scss/fonts/nunito.scss';
@import '~/assets/scss/styling.scss';
@import '~/assets/scss/personcard.scss';

a {
  text-decoration: none;
  cursor: pointer;
}
.middle {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 8vw;
  margin-top: 4vw;
  align-items: start;
  gap: 2em;
}

.jarjesto-margin {
  margin-left: 7vw;
  margin-right: 7vw;
}



@media (min-width: 1800px) {
  .jarjesto-margin {
    margin-left: 16vw;
    margin-right: 16vw;
  }
}

@media (max-width: 1200px) {
  .middle {
    grid-template-columns: 2fr 4fr;
  }
}

@media (max-width: 900px) {
  .middle {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .middle {
    grid-template-columns: 1fr;
  }
  .jarjesto-margin {
    margin-left: 4vw;
    margin-right: 4vw;
  }
}
</style>
