<template>
    <div>
        <br /><br />
        <div class="page-margin page-content content-padding">
            <h1>Tietoja sivustosta</h1>
            <h2>Arkkitehtuuri</h2>
            <p>
                Sivusto on rakennettu Nuxt js frameworkilla käyttäen taustalla
                Strapi backendia ja muutamia kustomoituja komponentteja.
                Lähdekoodi on luettavissa vapaasti AGPL lisenssillä Serverin
                gitlabissa. Srapi backend tuottaa REST apin josta sisältö
                haetaan ja josta RSS kustomoitu GOLANG pohjainen generaattori
                generoi syötteen. Syötettä hyödynnetään mm. Mastodon botin
                lähteenä ja siitä saa luettua uutiset kahdella kielellä.<br />
                <br />
                Mikäli haluat käyttää sivustolla olevaa sisältöä jossain,
                olethan yhteydessä hallitukseen. Toivomme että olisit yhteydessä
                mm. rajapintaan liittyvissä asioissa myöskin hallitukseen tai
                ylläpitovastaavaan (webmaster[at]serveriry.fi).
                <br />
                <br />
            </p>
            <br />
            <h2>Sivun toteutus</h2>
            <p>
                Jimi Viita-aho (<a href="https://jim.bo">jim.bo</a>) - Serverin
                ylläpito <br />
                <br />
                Erityiskiitokset teknisestä avusta varsinkin backend puolella:
                <br />
                Henri Hämäläinen - Serverin järjestelmätoimikunta <br />
                <br />
                Kiitokset myös Serverin järjestelmätoimikunnalle ja Oppositiolle
                rakentavasta palautteesta <br />
            </p>
        </div>
        <br /><br /><br />
    </div>
</template>
<script>
export default {
    name: 'About',
}
</script>

<style scoped lang="scss">
@import "~/assets/scss/text.scss";
@import "~/assets/scss/fonts/nunito.scss";
@import "~/assets/scss/styling.scss";
</style>