<template>
    <div class="page-margin">
        <h1>Serveri ry is a student association for computer science students in UEF Kuopio campus</h1>
        <h6>We have plans for translating our website into English, 
            but there's quite a lot of work to do. We hope this 
            page could summarize most of the things
            </h6>

        <p><br>What do we do? We are actively lobbying for more 
        student frienddly decisions in UEF, we collaborate with companies 
        to spread up to date information about career options and we offer balance
        for ordinary study days in form of student events.</p>

        <p><br>If you want to talk to us, you can join/follow our socials on <nuxt-link to="/connect">the connect 
        page</nuxt-link>. We have news feeds there also available in English. If you would like to contact the person 
        corresponding to things related to exchange students or international education the role is labeled as "Kansainvälisyysvastaava" 
        on our "contact the board page"
        <nuxt-link to="/jarjesto/hallitus">here</nuxt-link>.</p>

        <p><br></p>
    </div>
</template>
<script>
export default {
    name: 'English',
}
</script>