<template>
    <div class="container">
        <div class="content">
            <!--<video width="100%" height="100%" loop id="video1" poster="/underwater.jpeg" @click="playunder">
        <source src="underwater.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video> -->
            <div class="landing-image grid">
                <div class="landing-text-onimage">
                    <h1 class="main-title">
                        <span class="serveri">Serveri ry</span>
                        on Itä-Suomen yliopiston Kuopion kampuksen
                        tietojenkäsittelytieteen opiskelijoiden ainejärjestö.
                    </h1>
                    <p>
                        Toimimme linkkinä yliopiston ja opiskelijoiden välillä
                        mm. keräämällä ja välittämällä opiskelijapalautetta
                        yliopistolle. Tarjoamme opiskelijajäsenillemme ohjausta
                        edunvalvonnallisissa asioissa ja järjestämme opintojen
                        oheen vapaa-ajan toimintaa sekä itsenäisesti että
                        yhdessä muiden ainejärjestöjen kanssa. Järjestämme
                        toimintaa myös työelämään valmistelevalla näkökulmalla
                        ottamalla silloin tällöin vaikutteita suoraan
                        tietojenkäsittelytieteen alan yritysten toiminnasta,
                        jakamalla tietoa valmistumisen jälkeisistä
                        mahdollisuusista ja helpotamme siten tulevien
                        tietojenkäsittelijöiden erikoistuvaa suuntautumista.
                        <br />
                        <br />
                        Serverit ovat legendaarisia hauskanpitäjiä – omien
                        hippaloiden lisäksi valkohaalariset tunnetaankin
                        ahkerina kuokkijoina ja keräämme mielellämme
                        kyseenalaista kunniaa opiskelijatapahtumissa ympäri
                        Suomen. Ei siis ihme että Serverin tavaramerkkinä
                        pidetään loistavaa yhteishenkeä ja mahtavaa
                        aktiivisuutta, nörtti-imagosta puhumattakaan!
                    </p>
                </div>
                <div class="image-onimage">
                    <svg
                        class="closing-tag"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 679.99 422.069"
                        style="min-width: 20vw"
                    >
                        <defs>
                            <style>
                                .a {
                                    fill: none;
                                    stroke: #e0d9cc;
                                    stroke-width: 7px;
                                }
                            </style>
                        </defs>
                        <g transform="translate(3.42 793.553)">
                            <path
                                style="
                                    fill: none;
                                    stroke: #e0d9cc;
                                    stroke-width: 7px;
                                "
                                class="a"
                                d="M603.417-789.1a24.731,24.731,0,0,0-11.674,7.046c-5.521,5.469-5.942,6.678-11.463,33.391-2.577,12.725-8.151,39.806-12.357,60.209s-11.043,53.741-15.249,74.144-9.413,45.7-11.569,56.265c-3.628,17.668-9.991,48.588-25.03,121.733-3.155,15.3-5.995,29.447-6.31,31.393a26.8,26.8,0,0,0,9.045,23.663,26.548,26.548,0,0,0,38.334-4.312c4.049-5.311,3-1.209,14.671-58,3.155-15.512,8.414-40.911,11.569-56.37,3.208-15.46,8.413-40.805,11.568-56.265,3.208-15.46,8.413-40.805,11.569-56.265,3.208-15.46,8.414-40.805,11.569-56.265,7.782-37.7,17.2-83.767,18.141-88.447,2.051-9.938-.315-18.142-7.046-24.925a24.133,24.133,0,0,0-11.989-7.046A32.039,32.039,0,0,0,603.417-789.1Z"
                                transform="translate(-241.549)"
                            />
                            <path
                                class="a"
                                style="
                                    fill: none;
                                    stroke: #e0d9cc;
                                    stroke-width: 7px;
                                "
                                d="M160.418-710.334a28.055,28.055,0,0,0-10.044,4.049c-1.262.894-34.548,33.759-73.881,73.04C-1.437-555.474,2.717-559.943.824-552a25.619,25.619,0,0,0,0,12.3c2,7.677-2.156,3.208,75.143,80.664,47.01,47.116,72.619,72.409,74.722,73.723,4.838,3.208,9.255,4.364,15.67,4,6.2-.316,9.675-1.525,14.513-5,8.466-6.2,12.62-18.142,9.728-28.027-2.209-7.467.316-4.733-65.257-70.41L64.188-546.009l60.735-60.735c33.444-33.391,61.471-61.787,62.312-63.049a28.483,28.483,0,0,0,3.733-19.982A26.882,26.882,0,0,0,160.418-710.334Z"
                                transform="translate(0 -37.539)"
                            />
                            <path
                                class="a"
                                style="
                                    fill: none;
                                    stroke: #e0d9cc;
                                    stroke-width: 7px;
                                "
                                d="M936.651-710.1a27.253,27.253,0,0,0-20.245,20.35,28.483,28.483,0,0,0,3.733,19.982c.841,1.262,28.869,29.658,62.312,63.049l60.735,60.735-61.156,61.261c-65.573,65.678-63.049,62.943-65.257,70.41-2.892,9.886,1.262,21.823,9.728,28.027,4.838,3.471,8.308,4.68,14.513,5,6.415.368,10.832-.789,15.67-4,2.1-1.315,27.712-26.608,74.722-73.723,77.3-77.457,73.145-72.987,75.143-80.664a25.619,25.619,0,0,0,0-12.3c-1.893-7.94,2.261-3.471-75.669-81.243-39.333-39.281-72.724-72.251-74.2-73.2A27.635,27.635,0,0,0,936.651-710.1Z"
                                transform="translate(-434.226 -37.562)"
                            />
                        </g>
                    </svg>
                </div>
            </div>
            <section class="sponsors-wrapper">
                <div class="sponsors">
                    <div>
                        <h2 class="bold-title" id="sponsors-title">
                            Yhteistyökumppanimme:
                        </h2>
                        <p style="color: black">
                            Serveri tekee yritysyhteistyötä useiden IT alan
                            yritysten ja muiden opiskelijoille hyödyllisten
                            tahojen kanssa. Tässä on viimeaikaiset tahot jotka
                            ovat olleet esillä jossain tapahtumassamme tai
                            haalareissamme:
                        </p>
                    </div>
                    <!--<button class="read-more">Lue lisää yritysyhteistyöstä</button>     :sponsor="sponsor"-->
                </div>
                <div class="sponsors logo-grid">
                    <div
                        v-for="sponsor in sponsors"
                        :key="sponsor.id"
                        style="height: 100%; width: 100%"
                    >
                        <a :href="sponsor.link" target="_blank" rel="“noreferrer”">
                            <img
                                class="ripAdblock corner"
                                v-if="sponsor.logo.url"
                                :src="host + sponsor.logo.url"
                                loading="lazy"
                                :alt="
                                    'Serverin toimintaa tukee ' +
                                    sponsor.name +
                                    ' ja tässä logo'
                                "
                            />
                            <img
                                class="ripAdblock corner"
                                v-else-if="sponsor.logo.formats.small"
                                :src="host + sponsor.logo.formats.small.url"
                                loading="lazy"
                                :alt="
                                    'Serverin toimintaa tukee ' +
                                    sponsor.name +
                                    ' ja tässä logo'
                                "
                            />
                            <img
                                class="ripAdblock corner"
                                v-else-if="sponsor.logo.formats.thumbnail"
                                :src="host + sponsor.logo.formats.thumbnail.url"
                                loading="lazy"
                                :alt="
                                    'Serverin toimintaa tukee ' +
                                    sponsor.name +
                                    ' ja tässä logo'
                                "
                            />
                        </a>
                    </div>
                    <nuxt-link class="link" to="/jarjesto/yritysyhteistyo"
                        ><button class="read-more">
                            Lue lisää yritysyhteistyöstä
                        </button></nuxt-link
                    >
                </div>
            </section>
        </div>
    </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
import { SponsorState } from "./../store/sponsors";

export default {
    name: 'IndexPage',
    async fetch() {
        try {
            if (
                this.$store.state.sponsors.sponsors.length === undefined ||
                this.$store.state.sponsors.sponsors.length == 0
            ) {
                //await this.$store.dispatch('posts/loadPosts')
                const response = await axios.get(
                    this.$store.state.settings.host + "/sponsors"
                );
                this.$store.state.sponsors.sponsors = response.data;
                //console.log(this.$store.state.sponsors)
            }
        } catch (e) {
            e({
                statusCode: 503,
                message:
                    "Unable to fetch sponsors at this time. Please try again.",
            });
        }
    },
    head() {
        return {
            title: "Etusivu",
            meta: [
                {
                    hid: "description",
                    name: "description",
                    content:
                        "Serveri ry on Itä-Suomen yliopiston Kuopion kampuksen tietojenkäsittelytieteen opiskelijoiden ainejärjestö. Järjestämme opiskelijoille vapaa-ajan toimintaa sekä opintojen tukemiseen liittyviä palveluita",
                },
                {
                    hid: "twitter:title",
                    name: "twitter:title",
                    content: "Ainejärjestö Serverin kotisivu",
                },
                {
                    hid: "twitter:description",
                    name: "twitter:description",
                    content:
                        "Serveri ry on Itä-Suomen yliopiston Kuopion kampuksen tietojenkäsittelytieteen opiskelijoiden ainejärjestö. Järjestämme opiskelijoille vapaa-ajan toimintaa sekä opintojen tukemiseen liittyviä palveluita",
                },
                /*{
                    hid: "twitter:image",
                    name: "twitter:image",
                    content: this.ogImage,
                },*/
                {
                    hid: "og:title",
                    property: "og:title",
                    content: "Serveri ry - Kotisivu",
                },
                {
                    hid: "og:description",
                    property: "og:description",
                    content:
                        "Serveri ry on Itä-Suomen yliopiston Kuopion kampuksen tietojenkäsittelytieteen opiskelijoiden ainejärjestö. Järjestämme opiskelijoille vapaa-ajan toimintaa sekä opintojen tukemiseen liittyviä palveluita",
                } /*
                {
                    hid: "og:image",
                    property: "og:image",
                    content: this.ogImage,
                },*/,
                {
                    hid: "og:url",
                    property: "og:url",
                    content:
                        this.$store.state.settings.baseurl + this.$route.path,
                },
            ],
        };
    },
    computed: {
        sponsors() {
            return this.$store.state.sponsors.sponsors;
        },
        host() {
            return this.$store.state.settings.host;
        },
    },
    methods: {
        playunder() {
            var myVideo = document.getElementById("video1");
            if (myVideo.paused) myVideo.play();
            else myVideo.pause();
        },
    },
};
</script>

<style scoped lang="scss">
@import "~/assets/scss/colors.scss";
@import "~/assets/scss/prepare.scss";
@import "~/assets/scss/fonts/nunito.scss";
@import "~/assets/scss/styling.scss";

///
/// Page content
///
.content {
    .landing-image {
        /* Next two rows apply only if image is unavailable */
        background: rgb(15, 90, 98);
        background: radial-gradient(
            circle,
            rgba(15, 90, 98, 1) 0%,
            rgba(12, 75, 81, 1) 27%,
            rgba(0, 0, 0, 1) 100%
        );

        background-image: url(../assets/images/bg1.svg);
        background-size: cover;
        background-position: center;
        min-height: 80vh;
    }

    .grid {
        display: grid;
        gap: 1rem;

        /* Automatic amount of columns, with mimimum width and maximum width */
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

        //padding: 5%;
        align-items: center;
        justify-content: center;
    }

    .landing-text-onimage {
        padding-top: 5rem;
        padding-bottom: 5rem;
        padding-left: 8vw;
        padding-right: 8vw;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }
    .landing-text-onimage {
        * {
            color: $white-death-ray;
            @include nunito-regular;
            //padding: 0.7em;
            max-width: 40rem;
        }
        h2,
        .main-title {
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }
        .serveri {
            font-weight: 700;
            font-size: 2rem;
        }
    }
    .image-onimage {
        max-width: 30vw;
        /* Centers element */
        margin: 0 auto;
    }

    .sponsors-wrapper {
        padding-top: 3rem;
        padding-left: 8vw;
        padding-right: 8vw;
        //margin-top: 2rem;
        padding-bottom: 8rem;
        background-color: rgb(247, 247, 247);

        .bold-title {
            color: $white-death-ray;
            @include nunito-extra;
            //font-size: 2em;
        }

        // Wrapper for title and read more button
        .sponsors {
            padding-bottom: 3rem;
            display: grid;
            gap: 3rem;
            align-items: center;
            grid-auto-rows: 8rem;

            /* Automatic amount of columns, with mimimum width and maximum width */
            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        }
        #sponsors-title {
            //grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));'
            color: $tech-green;
        }
        .read-more {
            display: grid;
            align-items: center;
            justify-self: center;
            border-radius: 10rem;
            border: 0;
            width: 15rem;
            height: 3rem;
            @include nunito-regular;
            color: $white-death-ray;
            background-color: $orange-deep;
            font-size: 1em;
        }
        .logo-grid {
            justify-items: center;
        }
        .ripAdblock {
            max-height: 7rem;
            max-width: 90%;
            padding: 0.8rem;
            object-fit: contain;
            display: block !important;
            margin-left: auto;
            margin-right: auto;
            height: 100%;
            width: 100%;
            background-color: white;
            -webkit-box-shadow: 0px 0px 26px -5px rgba(0, 0, 0, 0.27);
            -moz-box-shadow: 0px 0px 26px -5px rgba(0, 0, 0, 0.27);
            box-shadow: 0px 0px 26px -5px rgba(0, 0, 0, 0.27);
        }
    }
}
@media (min-width: 600px) {
    .bold-title {
        font-size: 2em;
    }
}
@media (max-width: 600px) {
    .closing-tag,
    .image-onimage {
        max-height: 7vh;
        stroke-width: 10px;
        fill: $white-quite-bright;
        padding-bottom: 3em;
    }
    .bold-title {
        font-size: 1.5em;
    }
    .sponsors-title {
        grid-template-columns: repeat(auto-fit, minmax(50vw, 1fr));
    }
    .ripAdblock {
        max-width: 80vw;
    }
    .landing-image {
    }
}
</style>
