<template>
<div>
      <div v-if="$fetchState.pending">
        <h1>Ladataan tai sivu räjähti</h1>
      </div>
      <div class="rekrywrap" v-else>
        <img src="" alt="">
        <img loading="lazy" v-if="this.$store.state.itrekry.itrekry.Cover.formats.large" class="cover" :src="host + this.$store.state.itrekry.itrekry.Cover.formats.large.url" alt="" />
        <img loading="lazy" v-else-if="this.$store.state.itrekry.itrekry.Cover.formats.medium" class="cover" :src="host + this.$store.state.itrekry.itrekry.Cover.formats.medium.url" alt="" />
        <img loading="lazy" v-else-if="this.$store.state.itrekry.itrekry.Cover.formats.small" class="cover" :src="host + this.$store.state.itrekry.itrekry.Cover.formats.small.url" alt="" />
        <img loading="lazy" v-else-if="this.$store.state.itrekry.itrekry.Cover.formats.thumbnail" class="cover" :src="host + this.$store.state.itrekry.itrekry.Cover.formats.thumbnail.url" alt="" />
        <div v-else></div>
        <div><br></div>
        <div class="page-margin">
          <div class="content-padding page-content">
            <div v-html="$md.render(this.$store.state.itrekry.itrekry.linksSection)"></div>
          </div>
        </div>

    </div>

</div>

</template>

<script>
import axios from 'axios'

export default {
  name: 'IT-rekry',
  async fetch() {
    try {
      if (
        this.$store.state.itrekry.itrekry === undefined ||
        this.$store.state.itrekry.itrekry.id != 1
      ) {
        //await this.$store.dispatch('posts/loadPosts')
        const response = await axios.get(
          this.$store.state.settings.host + "/itrekry"
        );
        this.itrekry = response.data;
        this.$store.state.itrekry.itrekry = response.data;
      }
    } catch (e) {
      e({
        statusCode: 503,
        message: "Unable to fetch recruit event details at this time. Please try again.",
      });
    }
  },
  data() {
    return {
      itrekry: {}
    }
  },
  head() {
    return {
      title: "IT-rekry",
      meta: [
        {
          hid: "description",
          name: "description",
          content:
            "Kuopion tietojenkäsittelytieteen opiskelijoiden ainejärjestö Serveri ry järjestää jälleen vuosittaisen IT-rekrypäivänsä!",
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: "this.post.fi_title"
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: "Kuopion tietojenkäsittelytieteen opiskelijoiden ainejärjestö Serveri ry järjestää jälleen vuosittaisen IT-rekrypäivänsä!"
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content: this.ogImage
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: "Serverin IT-rekry 2021"
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: "Kuopion tietojenkäsittelytieteen opiskelijoiden ainejärjestö Serveri ry järjestää jälleen vuosittaisen IT-rekrypäivänsä!"
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: this.ogImage
        },
        {
          hid: 'og:url',
          property: 'og:url',
          content: this.$store.state.settings.baseurl + this.$route.path
        }
      ],
    };
  },
  computed: {
    host() {
      return this.$store.state.settings.host
    },
    ogImage(){
      // check if cover has been loaded
      if (!this.$store.state.itrekry.itrekry.Cover) {
        return ""
      }
      if (this.$store.state.itrekry.itrekry.Cover.formats.large) {
        return this.host + this.$store.state.itrekry.itrekry.Cover.formats.large.url
      }
      else if (this.$store.state.itrekry.itrekry.Cover.formats.medium) {
        return this.host + this.$store.state.itrekry.itrekry.Cover.formats.medium.url
      }
      else if (this.$store.state.itrekry.itrekry.Cover.formats.small) {
        return this.host + this.$store.state.itrekry.itrekry.Cover.formats.small.url
      }
      else if (this.$store.state.itrekry.itrekry.Cover.formats.thumbnail) {
        return this.host + this.$store.state.itrekry.itrekry.Cover.formats.thumbnail.url
      }
      else {
        return ""
      }
    },
  }
}
</script>

<style lang="scss">
@import '~/assets/scss/colors.scss';
@import '~/assets/scss/prepare.scss';
@import '~/assets/scss/fonts/nunito.scss';
@import '~/assets/scss/styling.scss';
@import '~/assets/scss/text.scss';

    .rekrywrap {
        /*display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        height: 100vh;*/

        .dynamic-text, p {
          margin-top: 1rem;
        }

        .cover {
          width: 100%;
        }

        margin-bottom: 5rem;
    }
</style>