<template>
  <div>
    <div class="page-margin personbg corner content-padding">
      <h1>Itä-Suomen yliopiston kotisivuilta on vaikea löytää yhtään mitään</h1>
      <p>
        Joten tässä on noin suunnilleen kopioitu ja päivitetty lista yliopiston
        oleellisimmista linkeistä jotka löytyivät edellisiltä uef.fi sivuilta
        footer elementistä
      </p>
      <div>
        <p>
          <a
            href="http://office365.uef.fi/"
            target="_blank"
            rel="noopener noreferrer"
            >UEF Office 365</a
          >
        </p>
        <p>
          <a
            href="https://www.outlook.com/student.uef.fi"
            target="_blank"
            rel="noopener noreferrer"
            >UEF Opiskelijasähköposti</a
          >
        </p>
        <p>
          <a
            href="https://moodle.uef.fi/"
            target="_blank"
            rel="noopener noreferrer"
            >UEF Moodle</a
          >
        </p>
        <p>
          <a
            href="https://peppi.uef.fi"
            target="_blank"
            rel="noopener noreferrer"
            >UEF Peppi</a
          >
        </p>
        <p>
          <a
            href="https://weboodi.uef.fi/weboodi/"
            target="_blank"
            rel="noopener noreferrer"
            >UEF WebOodi</a
          >
        </p>
        <p>
          <a
            href="https://lukkarit.uef.fi"
            target="_blank"
            rel="noopener noreferrer"
            >UEF Lukkarikone</a
          >
        </p>
        <p>
          <a
            href="https://lukari.uef.fi/"
            target="_blank"
            rel="noopener noreferrer"
            >UEF Lukari</a
          >
        </p>
        <p>
          <a
            href="https://www.uef.fi/fi/yksikko/tietotekniikkapalvelut"
            target="_blank"
            rel="noopener noreferrer"
            >UEF Tietotekniikkapalvelut</a
          >
        </p>
        <p>
          <a
            href="https://www.uef.fi/fi/ajankohtaista"
            target="_blank"
            rel="noopener noreferrer"
            >UEF Ajankohtaiset asiat</a
          >
        </p>
      </div>
      <br class="spacer" />
      <div>
        <p>
          <a
            href="http://www.uef.fi/fi/kielikeskus"
            target="_blank"
            rel="noopener noreferrer"
            >UEF Kielikeskus</a
          >
        </p>
        <p>
          <a
            href="http://www.uef.fi/fi/kirjasto"
            target="_blank"
            rel="noopener noreferrer"
            >UEF Kirjasto</a
          >
        </p>
        <p>
          <a
            href="http://www.uef.fi/fi/lumet"
            target="_blank"
            rel="noopener noreferrer"
            >UEF Luonnontieteiden ja metsätieteiden tiedekunta</a
          >
        </p>
        <p>
          <a
            href="www.uef.fi/fi/filtdk"
            target="_blank"
            rel="noopener noreferrer"
            >UEF Filosofinen tiedekunta</a
          >
        </p>
        <p>
          <a
            href="http://www.uef.fi/fi/ttdk"
            target="_blank"
            rel="noopener noreferrer"
            >UEF Terveystieteiden tiedekunta</a
          >
        </p>
        <p>
          <a
            href="http://www.uef.fi/fi/yhka"
            target="_blank"
            rel="noopener noreferrer"
            >UEF Yhteiskuntatieteiden ja kauppatieteiden tiedekunta</a
          >
        </p>
        <p>
          <a
            href="http://www.uef.fi/fi/aducate"
            target="_blank"
            rel="noopener noreferrer"
            >UEF Avoin yliopisto tai Aducate tai jatkuva oppiminen</a
          >
          (ei mitään hajua mikä on virallinen nimi tai mitä eroa noilla
          termeillä on)
        </p>
        <p>
          <a
            href="http://www.uef.fi/fi/apteekki/"
            target="_blank"
            rel="noopener noreferrer"
            >Itä-Suomen yliopiston apteekki</a
          >
        </p>
      </div>
      <br class="spacer" />
      <div>
        <p>
          <a
            href="https://www.uef.fi/fi/node/2992#paragraph-1300"
            target="_blank"
            rel="noopener noreferrer"
            >UEF Yhteystiedot</a
          >
        </p>
        <p>
          <a
            href="/files/UEF_Kampuskartat_Kuopio_FIN_ENG_2021.pdf"
            target="_blank"
            rel="noopener noreferrer"
            >UEF Kuopio kampuskartta</a
          >
        </p>
        <p>
          <a
            href="https://www.uef.fi/fi/avoimet-tyopaikat"
            target="_blank"
            rel="noopener noreferrer"
            >UEF Avoimet työpaikat</a
          >
        </p>
      </div>
      <br class="spacer" />
      <div>
        <h2>Opiskelijaravintolat</h2>
        <p>
          <a
            href="https://www.antell.fi/round/"
            target="_blank"
            rel="noopener noreferrer"
            >Antell Round</a
          >
        </p>
        <p>
          <a
            href="https://www.antell.fi/log-in-bistro/"
            target="_blank"
            rel="noopener noreferrer"
            >Antell Log in Bistro</a
          >
        </p>
        <p>
          <a
            href="https://www.foodandco.fi/ravintolat/Ravintolat-kaupungeittain/kuopio/ita-suomen-yliopisto--snellmania/"
            target="_blank"
            rel="noopener noreferrer"
            >Food & co, Snellmania</a
          >
        </p>
        <p>
          <a
            href="https://foodandco.fi/ravintolat/Ravintolat-kaupungeittain/kuopio/ita-suomen-yliopistocanthia/"
            target="_blank"
            rel="noopener noreferrer"
            >Food & co, Canthia</a
          >
        </p>
        <p>
          <a
            href="https://foodandco.fi/ravintolat/Ravintolat-kaupungeittain/kuopio/tietoteknia/"
            target="_blank"
            rel="noopener noreferrer"
            >Food & co, Tietoteknia</a
          >
        </p>
      </div>
      <hr class="spacer" />
      <div>
        <p>
          <a
            href="https://azureforeducation.microsoft.com/devtools"
            rel="“noreferrer”"
            target="_blank"
            >Yliopiston ohjelmistot opiskelijoille</a
          >
        </p>
      </div>
    </div>
    <hr class="spacer" />
  </div>
</template>

<script>
export default {
  name: "Linkit",
};
</script>
