<template>
  <div>
    <h1>Media</h1>
    <p>Mietin tähän jtn kuvagalleriaa pohjautuen esim pixelfediin tais sit joku custom</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Naked_Mole_Rat_Eating.jpg" style="width:100%" alt="hello world">
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default ({
  name: 'Media',
    head () {
    return {
      meta: [
      ]
    }
  }
})
</script>

<style scoped lang="scss">
@import '~/assets/scss/colors.scss';
@import '~/assets/scss/prepare.scss';
@import '~/assets/scss/text.scss';

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @include nunito-regular;
}


</style>
