<template>
  <div>
    <div class="wrapper page-margin">
      <h1>Serveri ry eri alustoilla</h1>
      <p>
        Tällä sivulla on koostetusti jäsenistön yhteydenpitoon liittyviä ryhmiä
        ja kanavia. Hallituksen yhteystiedot löytyvät
        <nuxt-link to="/jarjesto/hallitus"
          ><button>/jarjesto/hallitus</button></nuxt-link
        >
        -sivulta
      </p>
      <section>
        <hr class="spacer" />
        <h2>Uutiset</h2>
        <p>
          Tiedotusta eri asioista. Hallitus on tähän mennessä tiedottanut
          lähinnä telegramiin, mutta mikäli muistetaan julkaista uutiset myös
          kotisivuille, näkyvät ne samansisältöisinä Mastodonissa ja RSS
          syötteessä.
        </p>
        <div class="platforms">
          <a href="https://t.me/serveriry" rel="“noreferrer”" target="_blank">
            <div class="platform-card corner telegram">
              <telegram class="icon" />
              <div>
                <h3>Serveri ry</h3>
                <p>Serverin tiedotuskanava</p>
              </div>
            </div>
          </a>
          <!--<a href="https://t.me/serveriryenglish" rel=“noreferrer ” target="_blank">
            <div class="platform-card corner telegram">
              <telegram class="icon" />
              <div>
                <h3>Serveri ry</h3>
                <p>News feed in English</p>
              </div>
            </div>
          </a>-->
          <a
            href="https://botsin.space/@serveri"
            rel="“noreferrer”"
            target="_blank"
          >
            <div class="platform-card corner mastodon">
              <mastodon class="icon" />
              <div>
                <h3>Mastodon</h3>
                <p></p>
              </div>
            </div>
          </a>
          <a href="https://rss.serveriry.fi/fi" target="_blank">
            <div class="platform-card corner rss">
              <rss class="icon" />
              <div>
                <h3>RSS</h3>
                <p>Suomenkielinen syöte</p>
              </div>
            </div>
          </a>
          <a href="https://rss.serveriry.fi/en" target="_blank">
            <div class="platform-card corner rss">
              <rss class="icon" />
              <div>
                <h3>RSS</h3>
                <p>News feed in English</p>
              </div>
            </div>
          </a>
        </div>
      </section>

      <hr class="spacer" />

      <section>
        <h2>Tapahtumakalenteri</h2>
        <p>
          Kyllästynyt tiedotteiden määrään? Lisää tapahtumat kalenteriisi ja
          näet suoraan ajankohtaisimman ajankohtaissisällön.
        </p>
        <div class="platforms">
          <a
            href="https://cloud.serveriry.fi/apps/calendar/p/CKod8NpPd6QaK2to/dayGridMonth/now"
            target="_blank"
          >
            <div class="platform-card corner email">
              <calendar class="icon" />
              <div>
                <h3>Avaa selaimessa</h3>
                <p></p>
              </div>
            </div>
          </a>
          <a
            href="webcals://cloud.serveriry.fi/remote.php/dav/public-calendars/CKod8NpPd6QaK2to/?export"
            target="_blank"
          >
            <div class="platform-card corner email">
              <calendar class="icon" />
              <div>
                <h3>Webcals linkki</h3>
                <p>Kopioi linkki kalenterilähteeksi</p>
              </div>
            </div>
          </a>
        </div>
      </section>

      <hr class="spacer" />

      <section>
        <h2>Keskustelukanavat</h2>
        <p>
          Serverin keskustelukanavat on hieman hujan hajan. Meillä on useita ryhmiä eri kanavissa, aktiivisimpia niistä on Telegramissa olevat
          ryhmät. Suurin osa julkisista ryhmistä on sillattu Matrixiin eli liittymällä
          Serverin Matrix yhteisöön pääset yhdellä linkillä mukaan suurimpaan osaan
          keskustelukanavista, näet sillattujen kanavien viestit ja pystyt
          osallistumaan keskusteluihin.
        </p>
        <div class="platforms">
          <a
            href="https://matrix.to/#/!snbPIxozkoFgdhSyzz:matrix.org?via=matrix.org&via=t2bot.io"
            rel="“noreferrer”"
            target="_blank"
          >
            <div class="platform-card corner matrix">
              <matrix class="icon" />
              <div>
                <h3>Serveri ry Matrixissa</h3>
              </div>
            </div>
          </a>
        </div>
        <div class="platforms">
          <a
            href="https://t.me/Dshoo2yQ2NbFNk3XEFCpWVxbbGeghSN2"
            rel="“noreferrer”"
            target="_blank"
          >
            <div class="platform-card corner telegram">
              <telegram class="icon" />
              <div>
                <h3>ServeriChat Telegramissa</h3>
                <p>Suositeltu alusta</p>
              </div>
            </div>
          </a>
          <a
            href="https://discord.gg/TGrgBMTq4s"
            rel="“noreferrer”"
            target="_blank"
          >
            <div class="platform-card corner discord">
              <discord class="icon" />
              <div>
                <h3>Discord</h3>
                <p></p>
              </div>
            </div>
          </a>
        </div>
      </section>

      <hr class="spacer" />

      <section>
        <h2>Muut kanavat</h2>
        <p>Vapaammin ylläpidettyä serverismiä</p>
        <div class="platforms">
          <nuxt-link to="/jarjesto/jasenyys">
            <div class="platform-card corner email">
              <email class="icon" />
              <div>
                <h3>Sähköpostilista</h3>
                <p>Liity jäseneksi - saat jäsenetuja</p>
              </div>
            </div>
          </nuxt-link>

          <a
            href="https://t.me/joinchat/KPHazk-Rjy15Pcn9zRniTA"
            rel="“noreferrer”"
            target="_blank"
          >
            <div class="platform-card corner telegram">
              <telegram class="icon" />
              <div>
                <h3>Serveri & Skripti</h3>
                <p>Kampusten välistä yhteistoimintaa</p>
              </div>
            </div>
          </a>

          <a
            href="https://www.instagram.com/serveriry/"
            rel="“noreferrer”"
            target="_blank"
          >
            <div class="platform-card corner instagram">
              <instagram class="icon" />
              <div>
                <h3>Instagram</h3>
                <p>Tunnelmia tapahtumista</p>
              </div>
            </div>
          </a>
          <a
            href="https://www.youtube.com/channel/UC1eMTNYFT0XmO_wCHKK6Fig"
            rel="“noreferrer”"
            target="_blank"
          >
            <div class="platform-card corner youtube">
              <youtube class="icon" />
              <div>
                <h3>YouTube</h3>
                <p>Etäpöhinää</p>
              </div>
            </div>
          </a>
          <a
            href="https://facebook.com/serveriry/"
            rel="“noreferrer”"
            target="_blank"
          >
            <div class="platform-card corner zuccbook">
              <zuccbook class="icon" />
              <div>
                <h3>Facebook</h3>
              </div>
            </div>
          </a>
          <a
            href="https://t.me/+fl0Gke2EwBFhMjk0"
            rel="“noreferrer”"
            target="_blank"
          >
            <div class="platform-card corner telegram">
              <telegram class="icon" />
              <div>
                <h3>Liikuntavuoro</h3>
                <p></p>
              </div>
            </div>
          </a>
          <a
            href="https://steamcommunity.com/groups/serveriry"
            rel="“noreferrer”"
            target="_blank"
          >
            <div class="platform-card corner steam">
              <steam class="icon" />
              <div>
                <h3>Steam</h3>
                <p></p>
              </div>
            </div>
          </a>
          <a
            href="https://www.linkedin.com/company/serveriry"
            rel="“noreferrer”"
            target="_blank"
          >
            <div class="platform-card corner linkedin">
              <linkedin class="icon" />
              <div>
                <h3>Linkedin</h3>
                <p></p>
              </div>
            </div>
          </a>
          <a
            href="https://gitlab.com/serveri-ry"
            rel="“noreferrer”"
            target="_blank"
          >
            <div class="platform-card corner gitlab">
              <gitlab class="icon" />
              <div>
                <h3>GitLab</h3>
                <p></p>
              </div>
            </div>
          </a>
        </div>
      </section>
      <section>
        <h2>Muuta</h2>
        <p></p>
        <div class="platforms">
          <a
            href="https://discord.gg/4PjUynvArD"
            rel="“noreferrer”"
            target="_blank"
          >
            <div class="platform-card corner discord">
              <discord class="icon" />
              <div>
                <h3>ISYYn Discord</h3>
                <p>Ylioppilaskunnan Discord "palvelin"</p>
              </div>
            </div>
          </a>
        </div>
        <p>
          Serverin verkkopalvelut sijaitsevat Hetznerin datakeskuksessa ja
          sopimuksemme mukaisesti jokainen allaolevaa linkkiä käyttävä uusi
          asiakas saa 20€ arvosta krediittejä ja Serveri ry ansaitsee 10€, kun
          uusi asiakas on käyttänyt 10€ omaa rahaansa. Kokemuksemme perusteella
          palvelu on toiminut viimeisen vuoden juuri niinkuin on sovittu, joten
          voimme näin epävirallisesti kehua palvelua. Lue lisäksi Hetznerin
          ehdot heidän sivuiltaan.
        </p>
        <div class="platforms">
          <a
            href="https://hetzner.cloud/?ref=DrKmd3dueIOs"
            rel="“noreferrer”"
            target="_blank"
          >
            <div class="platform-card corner hetzner">
              <hetzner class="icon" />
              <div>
                <h3>20€ Hetzner krediittejä</h3>
                <p>Serveri ry:n referral linkki</p>
              </div>
            </div>
          </a>
        </div>
      </section>

      <hr class="spacer" />
      <!-- Contact cards end -->
      <div class="physical-contact">
        <h2>Postiosoite</h2>
        <h3>Itä-Suomen Yliopisto/Serveri ry</h3>
        <h5>Y: 1085522-1<br />&nbsp;</h5>
        <p>
          Microkatu 1 <br />
          PL 1627 <br />
          70211 Kuopio<br />&nbsp;
        </p>
      </div>

      <!--<div>
        <h2>Yhteistyökumppaneiden linkkejä</h2>
      </div>-->
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import telegram from "./../components/svg/telegram.vue";
import email from "./../components/svg/email.vue";
import calendar from "./../components/svg/calendar.vue";
import instagram from "./../components/svg/instagram.vue";
import matrix from "./../components/svg/matrix.vue";
import mastodon from "./../components/svg/mastodon.vue";
import rss from "./../components/svg/rss.vue";
import steam from "./../components/svg/steam.vue";
import linkedin from "./../components/svg/linkedin.vue";
import zuccbook from "./../components/svg/zuccbook.vue";
import discord from "./../components/svg/discord.vue";
import Serveri from "../components/svg/serveri.vue";
import gitlab from "../components/svg/gitlab.vue";
import youtube from "../components/svg/youtube.vue";
import hetzner from "../components/svg/hetzner.vue";

export default {
  name: 'Seuraa',
  components: {
    telegram,
    email,
    instagram,
    matrix,
    mastodon,
    rss,
    steam,
    linkedin,
    zuccbook,
    discord,
    Serveri,
    calendar,
    gitlab,
    youtube,
    hetzner,
  },
  head() {
    return {
      title: "Yhteystiedot",
      meta: [
        {
          hid: "description",
          name: "description",
          content:
            "Serverin tiedotuskanavien ja sosiaalisen median kanavien linkit. Seuraa tietojenkäsittelijöiden tapahtumia eri kanavisa!",
        },
        {
          hid: "twitter:title",
          name: "twitter:title",
          content: "Ainejärjestö Serverin yhteystiedot",
        },
        {
          hid: "twitter:description",
          name: "twitter:description",
          content: "Serverin yhteystiedot koostetusti yhdeltä sivulta",
        },
        /*{
                    hid: "twitter:image",
                    name: "twitter:image",
                    content: this.ogImage,
                },*/
        {
          hid: "og:title",
          property: "og:title",
          content: "Serveri ry - Yhteystiedot",
        },
        {
          hid: "og:description",
          property: "og:description",
          content:
            "Serverin tiedotuskanavien ja sosiaalisen median kanavien linkit. Seuraa tietojenkäsittelijöiden tapahtumia eri kanavisa!",
        } /*
                {
                    hid: "og:image",
                    property: "og:image",
                    content: this.ogImage,
                },*/,
        {
          hid: "og:url",
          property: "og:url",
          content: this.$store.state.settings.baseurl + this.$route.path,
        },
      ],
    };
  },
};
</script>

<style scoped lang="scss">
@import "~/assets/scss/colors.scss";
@import "~/assets/scss/prepare.scss";
@import "~/assets/scss/text.scss";
@import "~/assets/scss/styling.scss";

.wrapper {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.platforms {
  display: grid;
  margin-top: 3rem;
  margin-bottom: 3rem;
  justify-items: stretch;
  /* Automatic amount of columns, with mimimum width and maximum width */
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 2rem;
}
.platform-card {
  display: grid;
  grid-template-columns: 1fr 4fr;
  max-width: 35rem;
  width: 100%;
  align-items: center;
  height: 5rem;
  cursor: pointer;

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    @include nunito-regular;
  }

  p {
    margin-bottom: 0;
    margin-top: 0;
  }

  .icon {
    height: 3rem;
    width: 3.5rem;
    justify-self: center;
    padding: 0.3rem;
    margin: 0.5rem;
    display: grid;
    justify-items: center;
    align-items: center;
    cursor: pointer;
  }
  p {
    cursor: pointer;
  }
}

.telegram {
  background-color: #0088cc;
}
.telegram:hover {
  background-color: #026697;
}
.email {
  background-color: #0f5a62;
}
.email:hover {
  background-color: #0c444b;
}
.instagram {
  background: rgb(245, 178, 72);
  background: linear-gradient(
    45deg,
    rgba(245, 178, 72, 1) 0%,
    rgba(238, 47, 120, 1) 49%,
    rgba(72, 42, 214, 1) 100%
  );
  background-position: 0% 300%;
  background-size: 400% 400%;
}
.instagram:hover {
  animation: gradient 2s ease;
}
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.matrix {
  background-color: black;
}
.matrix:hover {
  background-color: rgb(15, 15, 15);
}
.mastodon {
  background-color: #1f232b;
}
.rss {
  background-color: #ee802f;
}
.rss:hover {
  background-color: #d3702a;
}
.discord {
  background-color: #7289da;
}
.discord:hover {
  background-color: #667ac2;
}
.hetzner {
  background-color: white;
  h3,
  p {
    color: black;
  }
}
.hetzner:hover {
  background-color: rgb(235, 235, 235);
}
.gitlab {
  background-color: #db3b21;
}
.gitlab:hover {
  background-color: #e73e24;
}
.steam {
  background-color: white;
  h3,
  p {
    color: black;
  }
}
.steam:hover {
  background-color: $white-quite-bright;
}
.zuccbook {
  background-color: #4267b2;
}
.zuccbook:hover {
  background-image: url("~/assets/images/hmm.jpeg");
  box-shadow: inset 0 0 10000px 0 #4267b2;
  background-size: cover;
  //transform: rotate(180deg);
}
.linkedin {
  background-color: #2867b2;
}
.linkedin:hover {
  background-color: #215594;
}
.youtube {
  background-color: #ffffff;
  h3,
  p {
    color: black;
  }
}
.youtube:hover {
  background-color: $white-quite-bright;
}

.zuccbook div p::after {
  content: "Yhteistyössä Socius ry";
}
.zuccbook:hover div p::after {
  content: "Oh hi Mark Zuckerberg!";
}

.physical-contact {
  margin-top: 3rem;
}

@media (max-width: 600px) {
  .platforms {
    grid-template-columns: 1fr;
  }
}
</style>
