<template>
  <div class="page-margin">
    <p><br><br></p>
    <h5>Päivitetty viimeksi: 23.12.2020</h5>

    <h1>Rekisteri- ja tietosuojaseloste</h1>
    <h2>Keitä olemme</h2>

    <p>
      Olemme Itä-Suomen yliopiston tietojenkäsittelytieteen opiskelijoiden ainejärjestö eli
      Serveri ry.
    </p>

    <p>Postiosoitteemme löydät <nuxt-link to="/connect">connect</nuxt-link> sivun alareumasta.</p>

    <p>
      Lisätietoja järjestöstämme löydät osiosta <nuxt-link to="/jarjesto">järjestö</nuxt-link>. 
      Jäsenrekisteristä vastaa ylläpitovastaava ja sihteeri. 
    </p>

    <h2>Henkilötiedot</h2>

    <p>
      
    </p>

    <h4>Jäsenrekisterin henkilötiedot</h4>

    <p>
      Mikäli liityt jäseneksi tallennamme jäsenrekisteriin käyttötarkoitusta
      varten luovuttamasi tiedot. (Emme ikinä tallenna maksukorttisi tietoja.)
      Jäsenrekisteriimme kuuluu sellaiset Itä-Suomen yliopiston Kuopion
      kampuksen opiskelijat jotka jäsenmaksun maksamalla ovat ilmaisseet
      halukkuutensa liittyä jäseneksi.
    </p>

    <p>
      <br>
      Jäsenrekisterin käyttöperusteena on
      <em>Henkilön itsensä antama suostumus</em> sekä yhdistyslain mukainen 
      vaatimus ylläpitää jäsenrekisteriä. Tietoja käytetään
      toiminnasta viestimiseen eli lähinnä yhteydenpitoon esimerkiksi
      sähköpostilistan muodossa. Mahdollisista muutoksista tiedotetaan
      hallituksen kokouksissa.

    </p>

    <p><br>Tietojen lähteenä on käyttäjän itse toimittama tieto.</p>

    <h3>Evästeet</h3>

    <p>Vain tekniset evästeet käytössä. Emme louhi dataa "sisällön parantamiseen". 
      Jos havaitset teknisiä puutteita tai haluat esittää parannusta, 
      ilmoita ylläpidolle tai hallitukselle.</p>

    <h3>Analytiikka</h3>

    <p>
      Tallennamme verkkosivustolla vierailuista lokitietoja joihin kuuluu IP osoitteet, 
      kellonajat sekä muuta mahdollista palvelinpään analytiikkaa. Tietoja käytetään tietoturvan
      monitorointiin sekä mahdollisen haitallisen toiminnan estämiseen. 
      Lokitietoja voidaan jakaa viranomaisille. Lokitietoja poistetaan vanhimmasta alkaen,
      siten että tallessa on viimeisimmän vuoden tapahtumat.
    </p>

    <h2>Kenen kanssa jaamme dataasi</h2>

    <p>
      Sähköpostilistamme taustajärjestelmää ylläpitää Itä-Suomen yliopisto. 
      Jäsenrekisterin tietoja käsittelee hallitus. Emme luovuta tietojasi ulkopuolisille, 
      ellei jokin seuraavista ehdoista täyty: <br><br>
    </p>

    <ol>
      <li>
        Jos itse niin pyydät tai kysyessämme saamme tietojen luovutukseen luvan
      </li>
      <li>Jos teet oston sivustomme kautta
        joudumme välittämään maksutapahtuman käsittelyyn vaadittavat tiedot
        maksutietojen käsittelijälle Stripelle. Halutessasi voit sopia
        vaihtoehtoisista maksutavoista hallituksemme kanssa. Stripen
        tietosuojaselosteen löydät osoitteesta: https://stripe.com/en-fi/privacy</li>
      <li>Jos laki niin vaatii</li>
      <li>Keräämämme tietoa käytetään oikeudessa järjestön edun puolustamiseen.</li>
    </ol>

    <h2>Kuinka kauan säilytämme tietojasi</h2>

    <p>Säilytämme lokitietoja tarpeen mukaan, maksimissaan kaksi vuotta, yleensä vuoden.</p>
    <p>Emme säilytä jäsenrekisterihistoriaa, eli vanhentuneet tiedot poistetaan 
      muutospyynnön saapuessa ylläpitovastaavalle, sihteerille tai hallitukselle.</p>

    <h2>Oikeutesi tietojesi suhteen</h2>

    <p>
      Voit pyytää tietojesi poistoa, päivitystä tai kopiota tiedoistasi
      ylläpitovastaavalta. Lähtökohtaisesti jäsenrekisterin tietoja säilytetään
      niin kauan kuin ne ovat ajantasaiset.
    </p>

    <h3>Miten tietosi suojataan</h3>

    <p>
      Käytämme tietojesi suojaukseen tarpeellisia suojauskeinoja. Emme siirrä
      tietojasi Suomen rajojen ulkopuolelle. Kirjoitushetkellä suurin osa tallennetuista 
      tiedoista sijaitsee kaupallisen palveluntarjoajan palvelimilla Tuusulassa. 
      <br>
      Fyysisestä tietoturvasta vastaa palveluntarjoajamme. Palvelumme on suojattu
      automaattisilta hyökkäyksiltä siten että tietosuoja on etusijalla 
      tiedon saavutettavuuteen nähden. Pyrimme käyttämään palvelinpäässä laajalti 
      vertaisarvioitua, vapaata ohjelmistoa ja tarkistamaan suojausasetukset mielellään 
      vähintään kahden henkilön toimesta turvalliseksi, joista toinen on ylläpitovastaava.
    </p>

    <h2>Muuta</h2>

    <p>Emme käytä automaattista päätöksentekoa</p>

    <p>Lisätietoa saat ylläpitovastaavalta</p>
    <p><br><br><br><br><br></p>
  </div>
</template>

<script>
export default {
  name: 'Tietosuoja',
  head() {
    return {
      title: "Tietosuoja",
      meta: [
        {
          hid: "description",
          name: "description",
          content:
            "Serveri ry tietosuoja- sekä rekisteriseloste ",
        },
      ],
    };
  },
}
</script>

<style scoped lang="scss">
@import '~/assets/scss/text.scss';
@import '~/assets/scss/fonts/nunito.scss';
@import '~/assets/scss/styling.scss';
</style>