<template>
  <!--<img loading="lazy" class="cover" :src="host + post.cover.formats.medium.url" alt="" />-->
  <div class="cover">
    <!--Check cover exists -->
    <div v-if="post.cover" class="cover">
        <img loading="lazy" v-if="format.large" class="cover" :src="host + post.cover.formats.large.url" :alt="post.fi_title" />
        <img loading="lazy" v-else-if="format.medium" class="cover" :src="host + post.cover.formats.medium.url" :alt="post.fi_title" />
        <img loading="lazy" v-else-if="format.small" class="cover" :src="host + post.cover.formats.small.url" :alt="post.fi_title" />
        <img loading="lazy" v-else-if="format.thumbnail" class="cover" :src="host + post.cover.formats.thumbnail.url" :alt="post.fi_title" />
        <div v-else></div>

    </div>
  </div>
</template>

<script>
export default {
  name: 'Cover',
  computed: {
    post() {
      return this.$store.state.posts.posts[this.index]
    },
    format() {
        return this.$store.state.posts.posts[this.index].cover.formats
    },
    index() {
      //console.log("index requested")

      let i = this.$store.getters['posts/getPostIndex'](this.$route.params.url)

      //console.log("currentpostid " + i)
      return i
    },
    host() {
      return this.$store.state.settings.host
    }
  },
}
</script>

<style>
    .cover {
        width: 100%;
    }
</style>