/* Colors */
$tech-green: #0F5A62;
$tech-blue: #2C9494;

$white-death-ray: #FFFFFF;
$white-quite-bright: #F0F0F0;
$white-dirty: #F0F0F0;

$ltt-ish: #DF5B28;
$ltt-light: #F99C62;

$black-almost: #0A0A0A;