@use 'colors' as *;
@use 'fonts/nunito' as *;

/* Styles for footer */
footer {
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 4rem;
    padding-bottom: 8rem;
    background-color: $black-almost;

    h2,
    h4,
    p {
        color: $white-death-ray;
        @include nunito-regular;
        font-style: normal;
        font-weight: 700;
    }

    .footer-wrap {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        //justify-content: space-between;
        //grid-template-columns: 1fr 1fr 1fr;
        
        address {
            flex: 1;
        }
        h2 {
            font-size: 2em;
        }

        .work {
            justify-self: center;
            //margin-left: auto;
            //margin-right: auto;
            h2 {
                font-style: italic;
            }
            p {
                font-weight: 400;
            }
        }

        .links {
            //justify-self: end;
            flex: 1;
            display: flex;
            //justify-content: flex-start;
            flex-direction: column;
            align-items: flex-end;
            margin-left: auto;
        }
    }
    .copyright {
        padding-top: 3rem;
        justify-self: center;
        text-align: center;
    }
    .logo-svg {
        height: 6rem;
        fill: $white-death-ray;
    }

    @media(max-width:850px) {
        .footer-element {
            width: 100%;
            padding-bottom: 2rem;
        }
        .work {
            text-align: center;
        }
    }
}