@use 'colors' as *;
@use 'fonts/nunito' as *;
///
/// Page content
///
.content {
    .landing-image {
        /* Next two rows apply only if image is unavailable */
        background: rgb(15,90,98);
        background: radial-gradient(circle, rgba(15,90,98,1) 0%, rgba(12,75,81,1) 27%, rgba(0,0,0,1) 100%);
        
        //background-image: url(../images/bg1.svg);
        background-size: cover;
        background-position: center;
        min-height: 80vh;
    }

    .grid {
        display: grid;
        gap: 1rem;

        /* Automatic amount of columns, with mimimum width and maximum width */
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        
        //padding: 5%;
        align-items: center;
        justify-content: center;
    }

    .landing-text-onimage {
        padding-top: 5rem;
        padding-bottom: 5rem;
        padding-left: 8vw;
        padding-right: 8vw;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }
    .landing-text-onimage {
        * {
            color: $white-death-ray;
            @include nunito-regular;
            //padding: 0.7em;
            max-width: 40rem;
        }
        h2 {
            font-size: 1.5em;
            margin-bottom: 2rem;
        }
    }
    .image-onimage {
        max-width: 30vw;
        /* Centers element */
        margin: 0 auto;
    }

    .sponsors-wrapper {
        padding-left: 8vw;
        padding-right: 8vw;
        padding-top: 2rem;
        padding-bottom: 8rem;

        .bold-title {
            color: $white-death-ray;
            @include nunito-extra;
            //font-size: 2em;
        }

        // Wrapper for title and read more button
        .sponsors {
            padding-bottom: 1rem;
            display: grid;
            gap: 2rem;
            align-items: center;
            grid-auto-rows: 9rem;

            /* Automatic amount of columns, with mimimum width and maximum width */
            grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        }
        .sponsors-title {
            grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        }
        .read-more {
            display: grid;
            align-items: center;
            justify-self: center;
            border-radius: 10rem;
            border: 0;
            width: 17em;
            height: 3rem;
            @include nunito-regular;
            color: $tech-green;
            background-color: $white-death-ray;
            font-size: 1em;
        }
        .logo-grid {
            justify-items: center;
        }
        .sponsor-logo {
            max-height: 9rem;
            max-width: 90%;
            object-fit: contain;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
@media(min-width:600px) {
    .bold-title {
        font-size: 2em;
    }
}
@media(max-width:600px) {
    .closing-tag,
    .image-onimage {
        max-height: 7vh;
        stroke-width: 10px;
        fill: $white-quite-bright;
        padding-bottom: 3em;
    }
    .bold-title {
        font-size: 1.5em;
    }
    .sponsors-title {
        grid-template-columns: repeat(auto-fit, minmax(50vw, 1fr));
    }
    .sponsor-logo {
        max-width: 80vw;
    }
    .landing-image {
    }
}