@use 'colors' as *;
@use 'fonts/nunito' as *;
//Navigation related stuff
.nav-wrapper {
    padding-top: 2rem;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1rem;
    // Mobile specific styles are in media query below
    .slogan-text {
        color: $white-death-ray;
        text-align: center;
        font-style: italic;
        font-size: 1.3em;
        @include nunito-regular;
    }
    .logo-svg {
        height: 6rem;
        fill: $white-death-ray;
        overflow: visible;
        cursor: pointer;
    }
    /* Navbar */
    // Wrapper to keep language button on same row as navbar
    .top {
        display: grid;
        justify-content: stretch;
        grid-template-columns: 5fr 0.6fr;
    }
    .language-toggle {
        align-self: center;
        border-radius: 10rem;
        max-width: 30vw;
    }
    nav {
        width: 70%;
    }

    // Main navigation including logo but not including language-toggle
    // Parts which turn into mobile navbar
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-self: center;
        align-items: center;
    }
    .logo-div {
        justify-self: left;
    }



    /* Navbar buttons */
    .nav-item-text {
        cursor: pointer;
        color: $white-dirty;
        font-size: 1.3em;
        @include nunito-regular;
    }
    .language-toggle,
    .nav-btn {
        cursor: pointer;
        display: grid;
        align-items: center;
        justify-items: center;
        height: 3rem;
        background-color: $tech-green;
    }
    .news {
        border-radius: 10rem 0 0 10rem;
    }
    .connect {
        border-radius: 0 10rem 10rem 0;
    }

    // Not working:
    .language-text {
        @include nunito-extra;
        font-weight: 800;
    }

    // Current page indicator
    // current page with css beloww, hover should have only text $white-death-ray
    .nav-btn:hover {
        background-color: $white-quite-bright;
        .nav-item-text {
            color: $tech-green;
            text-align: center;
        }
    }

    // Navbar styles for mobile devices
    @media(max-width:600px) {
        nav {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100vw;
            border-radius: 0;
            background-color: $tech-green;
        }
        .nav-item-text {
            font-size: 1em;
        }
        .language-toggle {
            margin-top: 1rem;
            justify-self: right;
            width: 30%;
        }
        .news,
        .organization {
            order: 0;
        }
        .logo-div {
            order: 1;
        }
        .media,
        .connect {
            order: 2;
        }
    }
}
