* {
  margin: 0;
  padding: 0;
  cursor: default;
}

body {
  background-color: #2E2E2E;
}

/* Colors */
/* Only base latin character sets are loaded, if you need more special characters please replace/extend these with latin-extended*/
/* Fonts downloaded from google fonts */
/*@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url(nunito-sans.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Nunito Sans Bold'), local('NunitoSans-Bold'), url(nunito-sans-bold.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local('Nunito Sans ExtraBold'), local('NunitoSans-ExtraBold'), url(nunito-sans-extra-bold.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}*/
/* latin */
@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 400;
  src: local("Nunito Sans Italic"), local("NunitoSans-Italic"), url(https://fonts.gstatic.com/s/nunitosans/v5/pe0oMImSLYBIv1o4X1M8cce4E9lKdg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Nunito Sans Regular"), local("NunitoSans-Regular"), url(https://fonts.gstatic.com/s/nunitosans/v5/pe0qMImSLYBIv1o4X1M8cce9I9s.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Nunito Sans Bold"), local("NunitoSans-Bold"), url(https://fonts.gstatic.com/s/nunitosans/v5/pe03MImSLYBIv1o4X1M8cc8GBs5tU1E.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  src: local("Nunito Sans ExtraBold"), local("NunitoSans-ExtraBold"), url(https://fonts.gstatic.com/s/nunitosans/v5/pe03MImSLYBIv1o4X1M8cc8aBc5tU1E.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.nav-wrapper {
  padding-top: 2rem;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1rem;
  /* Navbar */
  /* Navbar buttons */
}
.nav-wrapper .slogan-text {
  color: #FFFFFF;
  text-align: center;
  font-style: italic;
  font-size: 1.3em;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}
.nav-wrapper .logo-svg {
  height: 6rem;
  fill: #FFFFFF;
  overflow: visible;
  cursor: pointer;
}
.nav-wrapper .top {
  display: grid;
  justify-content: stretch;
  grid-template-columns: 5fr 0.6fr;
}
.nav-wrapper .language-toggle {
  align-self: center;
  border-radius: 10rem;
  max-width: 30vw;
}
.nav-wrapper nav {
  width: 70%;
}
.nav-wrapper nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-self: center;
  align-items: center;
}
.nav-wrapper .logo-div {
  justify-self: left;
}
.nav-wrapper .nav-item-text {
  cursor: pointer;
  color: #F0F0F0;
  font-size: 1.3em;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}
.nav-wrapper .language-toggle,
.nav-wrapper .nav-btn {
  cursor: pointer;
  display: grid;
  align-items: center;
  justify-items: center;
  height: 3rem;
  background-color: #0F5A62;
}
.nav-wrapper .news {
  border-radius: 10rem 0 0 10rem;
}
.nav-wrapper .connect {
  border-radius: 0 10rem 10rem 0;
}
.nav-wrapper .language-text {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  font-weight: 800;
}
.nav-wrapper .nav-btn:hover {
  background-color: #F0F0F0;
}
.nav-wrapper .nav-btn:hover .nav-item-text {
  color: #0F5A62;
  text-align: center;
}
@media (max-width: 600px) {
  .nav-wrapper nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    border-radius: 0;
    background-color: #0F5A62;
  }
  .nav-wrapper .nav-item-text {
    font-size: 1em;
  }
  .nav-wrapper .language-toggle {
    margin-top: 1rem;
    justify-self: right;
    width: 30%;
  }
  .nav-wrapper .news,
.nav-wrapper .organization {
    order: 0;
  }
  .nav-wrapper .logo-div {
    order: 1;
  }
  .nav-wrapper .media,
.nav-wrapper .connect {
    order: 2;
  }
}

p {
  color: #FFFFFF;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}

/* Styles for footer */
footer {
  padding-left: 8vw;
  padding-right: 8vw;
  padding-top: 4rem;
  padding-bottom: 8rem;
  background-color: #0A0A0A;
}
footer h2,
footer h4,
footer p {
  color: #FFFFFF;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 700;
}
footer .footer-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
footer .footer-wrap address {
  flex: 1;
}
footer .footer-wrap h2 {
  font-size: 2em;
}
footer .footer-wrap .work {
  justify-self: center;
}
footer .footer-wrap .work h2 {
  font-style: italic;
}
footer .footer-wrap .work p {
  font-weight: 400;
}
footer .footer-wrap .links {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
}
footer .copyright {
  padding-top: 3rem;
  justify-self: center;
  text-align: center;
}
footer .logo-svg {
  height: 6rem;
  fill: #FFFFFF;
}
@media (max-width: 850px) {
  footer .footer-element {
    width: 100%;
    padding-bottom: 2rem;
  }
  footer .work {
    text-align: center;
  }
}

/*# sourceMappingURL=news.css.map */
